In [22]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\utilisateur\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2

In [2]:
import pandas as pd

In [3]:
house_df = pd.read_csv('realtor-data.csv', sep=',', header=0, encoding= 'utf_8')

In [4]:
house_df.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
sold_date        object
dtype: object

In [5]:
house_df.shape

(203126, 12)

In [6]:
house_df.describe()

,price,bed,bath,acre_lot,zip_code,house_size
count,2.031260e+05,171963.000000,172835.000000,151066.000000,202931.000000,1.734480e+05
mean,8.683271e+05,3.534493,2.620129,8.730882,2159.784769,2.234716e+03
std,1.433730e+06,2.696704,2.939190,634.635361,1743.024350,4.221611e+03
min,1.000000e+00,1.000000,1.000000,0.000000,601.000000,1.000000e+02
25%,2.499000e+05,2.000000,2.000000,0.130000,1230.000000,1.152000e+03
50%,5.199000e+05,3.000000,2.000000,0.330000,2025.000000,1.728000e+03
75%,8.899000e+05,4.000000,3.000000,1.140000,2176.000000,2.634000e+03
max,6.000000e+07,99.000000,198.000000,100000.000000,99999.000000,1.450112e+06

In [7]:
house_df.head(100)

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,for_sale,260000.0,4.0,2.0,0.12,"4 Calle Reparto Villa Marta, Aguadilla, PR, 00603",4 Calle Reparto Villa Marta,Aguadilla,Puerto Rico,603.0,1760.0,NaN
96,for_sale,31179.0,NaN,NaN,0.13,"Victoria Altos Victoria, Aguadilla, PR, 00603",Victoria Altos Victoria,Aguadilla,Puerto Rico,603.0,NaN,NaN
97,for_sale,500000.0,4.0,3.0,0.33,"Km 7 3 Carr # 4459, Aguadilla, PR, 00603",Km 7 3 Carr # 4459,Aguadilla,Puerto Rico,603.0,2950.0,NaN
98,for_sale,225000.0,3.0,2.0,0.21,"Aguada Bo Guayabo, Aguada, PR, 00603",Aguada Bo Guayabo,Aguada,Puerto Rico,603.0,1565.0,NaN
99,for_sale,28000.0,NaN,NaN,0.25,"443 Km 1 5 Bo Caimital Alto, Aguadilla, PR, 00603",443 Km 1 5 Bo Caimital Alto,Aguadilla,Puerto Rico,603.0,NaN,NaN

In [5]:
house_df.value_counts('status')

status
for_sale          202452
ready_to_build       674
dtype: int64

In [6]:
import numpy as np

In [7]:
house_df=house_df.replace([np.inf, -np.inf], np.nan)

In [8]:
house_df=house_df.drop_duplicates()

In [9]:
house_df.duplicated().values

array([False, False, False, ..., False, False, False])

In [10]:
house_df.drop_duplicates().reset_index(drop=True)

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20914,for_sale,1299000.0,NaN,NaN,1.33,"87 Coles Pond Dr, East Dennis, MA, 02641",87 Coles Pond Dr,East Dennis,Massachusetts,2641.0,NaN,NaN
20915,for_sale,899000.0,NaN,NaN,0.35,"Cedar St, Chatham, MA, 02633",Cedar St,Chatham,Massachusetts,2633.0,NaN,NaN
20916,for_sale,185000.0,NaN,NaN,1.19,"Seagull-H169 Rd Lot 16A26, Chatham, MA, 02633",Seagull-H169 Rd Lot 16A26,Chatham,Massachusetts,2633.0,NaN,NaN
20917,for_sale,1850000.0,4.0,4.0,0.28,"65 Morris Island Rd, Chatham, MA, 02633",65 Morris Island Rd,Chatham,Massachusetts,2633.0,2579.0,NaN
20918,for_sale,2100000.0,4.0,4.0,1.52,"689 Old Harbor Rd, North Chatham, MA, 02650",689 Old Harbor Rd,North Chatham,Massachusetts,2650.0,2449.0,NaN

In [11]:
house_df.dropna()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
829,for_sale,110000.0,7.0,3.0,0.09,"B-2 Monte Elena, Dorado, PR, 00949",B-2 Monte Elena,Dorado,Puerto Rico,949.0,1192.0,2019-06-28
10344,for_sale,950000.0,5.0,4.0,0.99,"46 Water Isle, Saint Thomas, VI, 00802",46 Water Isle,Saint Thomas,Virgin Islands,802.0,5000.0,2013-10-11
10351,for_sale,6899000.0,4.0,6.0,0.83,"10 Water Isle, Saint Thomas, VI, 00802",10 Water Isle,Saint Thomas,Virgin Islands,802.0,4600.0,2018-04-05
24237,for_sale,525000.0,3.0,3.0,0.45,"955 River Rd, Agawam, MA, 01001",955 River Rd,Agawam,Massachusetts,1001.0,2314.0,2014-06-25
24238,for_sale,289900.0,3.0,2.0,0.36,"82 Harvey Johnson Dr, Agawam, MA, 01001",82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,2012-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...
203051,for_sale,545000.0,2.0,1.0,0.15,"31 Susan Ruth Rd, Dennis Port, MA, 02639",31 Susan Ruth Rd,Dennis Port,Massachusetts,2639.0,704.0,1998-10-30
203053,for_sale,599000.0,5.0,2.0,0.40,"18 Cross St, Dennis Port, MA, 02639",18 Cross St,Dennis Port,Massachusetts,2639.0,1468.0,2000-11-02
203056,for_sale,749000.0,2.0,1.0,0.26,"37 Beach Hills Rd, Dennis Port, MA, 02639",37 Beach Hills Rd,Dennis Port,Massachusetts,2639.0,720.0,2007-07-31
203058,for_sale,495000.0,3.0,2.0,0.15,"41 Wixon Rd, Dennis Port, MA, 02639",41 Wixon Rd,Dennis Port,Massachusetts,2639.0,982.0,2009-11-19
203082,for_sale,3995000.0,6.0,7.0,1.18,"167 Bridge St, East Dennis, MA, 02641",167 Bridge St,East Dennis,Massachusetts,2641.0,4863.0,1998-01-02

In [12]:
house_df.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
sold_date        object
dtype: object

In [16]:
house_df.head(500)

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
809,for_sale,75200.0,3.0,1.0,0.09,"A-170 5 St, Vega Baja, PR, 00693",A-170 5 St,Vega Baja,Puerto Rico,693.0,1000.0,NaN
813,for_sale,160000.0,NaN,NaN,0.49,"Km 2 5 Carr # 492, Hatillo, PR, 00659",Km 2 5 Carr # 492,Hatillo,Puerto Rico,659.0,NaN,NaN
817,for_sale,119000.0,NaN,NaN,1.29,"9-I Calle Villa Garcia, Hatillo, PR, 00659",9-I Calle Villa Garcia,Hatillo,Puerto Rico,659.0,NaN,NaN
818,for_sale,497000.0,NaN,NaN,NaN,"Km 5 5 Rd # 681, Arecibo, PR, 00652",Km 5 5 Rd # 681,Arecibo,Puerto Rico,652.0,NaN,NaN
820,for_sale,89000.0,NaN,NaN,0.22,"Calle Perfecto Iglesias, Quebradillas, PR, 00678",Calle Perfecto Iglesias,Quebradillas,Puerto Rico,678.0,NaN,NaN

In [13]:
type(house_df)

pandas.core.frame.DataFrame

In [14]:
house_df=house_df.dropna()
house_df

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
829,for_sale,110000.0,7.0,3.0,0.09,"B-2 Monte Elena, Dorado, PR, 00949",B-2 Monte Elena,Dorado,Puerto Rico,949.0,1192.0,2019-06-28
10344,for_sale,950000.0,5.0,4.0,0.99,"46 Water Isle, Saint Thomas, VI, 00802",46 Water Isle,Saint Thomas,Virgin Islands,802.0,5000.0,2013-10-11
10351,for_sale,6899000.0,4.0,6.0,0.83,"10 Water Isle, Saint Thomas, VI, 00802",10 Water Isle,Saint Thomas,Virgin Islands,802.0,4600.0,2018-04-05
24237,for_sale,525000.0,3.0,3.0,0.45,"955 River Rd, Agawam, MA, 01001",955 River Rd,Agawam,Massachusetts,1001.0,2314.0,2014-06-25
24238,for_sale,289900.0,3.0,2.0,0.36,"82 Harvey Johnson Dr, Agawam, MA, 01001",82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,2012-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...
203051,for_sale,545000.0,2.0,1.0,0.15,"31 Susan Ruth Rd, Dennis Port, MA, 02639",31 Susan Ruth Rd,Dennis Port,Massachusetts,2639.0,704.0,1998-10-30
203053,for_sale,599000.0,5.0,2.0,0.40,"18 Cross St, Dennis Port, MA, 02639",18 Cross St,Dennis Port,Massachusetts,2639.0,1468.0,2000-11-02
203056,for_sale,749000.0,2.0,1.0,0.26,"37 Beach Hills Rd, Dennis Port, MA, 02639",37 Beach Hills Rd,Dennis Port,Massachusetts,2639.0,720.0,2007-07-31
203058,for_sale,495000.0,3.0,2.0,0.15,"41 Wixon Rd, Dennis Port, MA, 02639",41 Wixon Rd,Dennis Port,Massachusetts,2639.0,982.0,2009-11-19
203082,for_sale,3995000.0,6.0,7.0,1.18,"167 Bridge St, East Dennis, MA, 02641",167 Bridge St,East Dennis,Massachusetts,2641.0,4863.0,1998-01-02

In [15]:
house_df=house_df.reset_index(level=None, drop=True, inplace=False)

In [16]:
house_df

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,110000.0,7.0,3.0,0.09,"B-2 Monte Elena, Dorado, PR, 00949",B-2 Monte Elena,Dorado,Puerto Rico,949.0,1192.0,2019-06-28
1,for_sale,950000.0,5.0,4.0,0.99,"46 Water Isle, Saint Thomas, VI, 00802",46 Water Isle,Saint Thomas,Virgin Islands,802.0,5000.0,2013-10-11
2,for_sale,6899000.0,4.0,6.0,0.83,"10 Water Isle, Saint Thomas, VI, 00802",10 Water Isle,Saint Thomas,Virgin Islands,802.0,4600.0,2018-04-05
3,for_sale,525000.0,3.0,3.0,0.45,"955 River Rd, Agawam, MA, 01001",955 River Rd,Agawam,Massachusetts,1001.0,2314.0,2014-06-25
4,for_sale,289900.0,3.0,2.0,0.36,"82 Harvey Johnson Dr, Agawam, MA, 01001",82 Harvey Johnson Dr,Agawam,Massachusetts,1001.0,1276.0,2012-10-12
...,...,...,...,...,...,...,...,...,...,...,...,...
6209,for_sale,545000.0,2.0,1.0,0.15,"31 Susan Ruth Rd, Dennis Port, MA, 02639",31 Susan Ruth Rd,Dennis Port,Massachusetts,2639.0,704.0,1998-10-30
6210,for_sale,599000.0,5.0,2.0,0.40,"18 Cross St, Dennis Port, MA, 02639",18 Cross St,Dennis Port,Massachusetts,2639.0,1468.0,2000-11-02
6211,for_sale,749000.0,2.0,1.0,0.26,"37 Beach Hills Rd, Dennis Port, MA, 02639",37 Beach Hills Rd,Dennis Port,Massachusetts,2639.0,720.0,2007-07-31
6212,for_sale,495000.0,3.0,2.0,0.15,"41 Wixon Rd, Dennis Port, MA, 02639",41 Wixon Rd,Dennis Port,Massachusetts,2639.0,982.0,2009-11-19
6213,for_sale,3995000.0,6.0,7.0,1.18,"167 Bridge St, East Dennis, MA, 02641",167 Bridge St,East Dennis,Massachusetts,2641.0,4863.0,1998-01-02

In [17]:
house_df['house_size']=house_df['house_size'].astype('int')

In [18]:
house_df.loc[1:502, 'status']= 'for_rent'

In [19]:
house_df.value_counts('status')

status
for_sale    5712
for_rent     502
dtype: int64

 DROP TABLE if exists house cascade;
        CREATE TABLE house (
        house_id SERIAL PRIMARY KEY NOT NULL,
        price FLOAT NOT NULL,
        bed INT,
        bath INT,
        house_size INT,
        acre_lot FLOAT,
        adresse_id INT,
        nom_status varchar(255),
        FOREIGN KEY (adresse_id)
                REFERENCES adresse (adresse_id)
                ON UPDATE CASCADE ON DELETE CASCADE,
        FOREIGN KEY (nom_status)
                REFERENCES status (nom_status)
                ON UPDATE CASCADE ON DELETE CASCADE

In [20]:
house_columns=['price', 'bed','bath', 'house_size', 'acre_lot']
adresse_columns=['street', 'city','state', 'zip_code']
house_tb_df =house_df[house_columns]
adresse_df=house_df[adresse_columns]
status_df=house_df['status']

In [21]:
status_df

0       for_sale
1       for_rent
2       for_rent
3       for_rent
4       for_rent
          ...
6209    for_sale
6210    for_sale
6211    for_sale
6212    for_sale
6213    for_sale
Name: status, Length: 6214, dtype: object

status_df.rename(columns={'status': 'nom_status'}, inplace=True)

In [27]:
house_tb_df.dtypes

price         float64
bed           float64
bath          float64
house_size      int32
acre_lot      float64
dtype: object

In [28]:
adresse_df.shape

(6214, 4)

In [29]:
adresse_df.dtypes

street       object
city         object
state        object
zip_code    float64
dtype: object

house_tb_df['house_size']=house_tb_df['house_size'].fillna(0)

In [44]:
house_df.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size        int32
sold_date        object
dtype: object

In [50]:
house_df.shape

(6214, 12)

house_df['status'].replace(to_replace=[2,30,40,50,600,660,870], value='for_sale')

In [30]:
house_df.value_counts('status')

status
for_sale    5712
for_rent     502
dtype: int64

In [31]:
try:
    conn = psycopg2.connect(
          user = "postgres",
          password = "toor",
          host = "localhost",
          port = "5433",
          database = "postgres"
    )
    cur = conn.cursor()
    # Afficher la version de PostgreSQL 
    cur.execute("SELECT version();")
    version = cur.fetchone()
    print("Version : ", version,"\n")
    
    sql = '''
        DROP TABLE if exists adresse cascade;
        CREATE TABLE adresse (
        adresse_id SERIAL PRIMARY KEY NOT NULL,
        street TEXT NOT NULL,
        city varchar(255) NOT NULL,
        state varchar(255) NOT NULL,
        zip_code INT NOT NULL
        
      ); 
      DROP TABLE if exists status cascade;
      CREATE TABLE status (
        nom_status VARCHAR(255) PRIMARY KEY NOT NULL
      ); 
      
        DROP TABLE if exists house cascade;
        CREATE TABLE house (
        house_id SERIAL PRIMARY KEY NOT NULL,
        price FLOAT NOT NULL,
        bed INT,
        bath INT,
        house_size BIGINT,
        acre_lot FLOAT
      ); 
      
        '''
    
    cur.execute(sql)
    conn.commit()
    print("Table créée avec succès dans PostgreSQL")
  
  
    #fermeture de la connexion à la base de données
    cur.close()
    conn.close()
    print("La connexion PostgreSQL est fermée")
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion à PostgreSQL", error)

Version :  ('PostgreSQL 14.4, compiled by Visual C++ build 1914, 64-bit',)

Table créée avec succès dans PostgreSQL
La connexion PostgreSQL est fermée

In [22]:
try:
    conn = psycopg2.connect(
          user = "postgres",
          password = "toor",
          host = "localhost",
          port = "5433",
          database = "postgres"
    )
    conn.autocommit = True
    with conn.cursor() as cur:
        # Afficher la version de PostgreSQL 
        cur.execute("SELECT version();")
        version = cur.fetchone()
        print("Version : ", version,"\n")
    
except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion à PostgreSQL", error)

Version :  ('PostgreSQL 14.4, compiled by Visual C++ build 1914, 64-bit',)

In [33]:
addr_tup = list(set([tuple(x) for x in adresse_df.to_numpy()]))
addr_tup

[('4 West St', 'Hadley', 'Massachusetts', 1035.0),
 ('627 Winter St', 'Framingham', 'Massachusetts', 1702.0),
 ('110 Quaker Ln S', 'West Hartford', 'Connecticut', 6119.0),
 ('21 Mayflower Rd', 'West Yarmouth', 'Massachusetts', 2673.0),
 ('17 Winthrop Rd', 'Plymouth', 'Massachusetts', 2360.0),
 ('22 Noel St', 'Ludlow', 'Massachusetts', 1056.0),
 ('28 Gorham St', 'Chelmsford', 'Massachusetts', 1824.0),
 ('122 Crestridge Dr', 'Vernon', 'Connecticut', 6066.0),
 ('38 Barber Ave', 'Warwick', 'Rhode Island', 2886.0),
 ('29 Oaks Rd', 'Framingham', 'Massachusetts', 1702.0),
 ('97 High St', 'Watertown', 'Connecticut', 6795.0),
 ('42 Lepage Rd', 'Windsor', 'Connecticut', 6095.0),
 ('29 Range Hill Dr', 'Vernon', 'Connecticut', 6066.0),
 ('35 Ledgewood Rd', 'Watertown', 'Connecticut', 6795.0),
 ('99 Meadow Trl', 'Coventry', 'Connecticut', 6238.0),
 ('318 George Schnopp Rd', 'Hinsdale', 'Massachusetts', 1235.0),
 ('74 Orange St', 'Hartford', 'Connecticut', 6106.0),
 ('25 Chamber Rock Rd', 'Bournedale', 'Massachusetts', 2532.0),
 ('39 Kearney Dr', 'Lowell', 'Massachusetts', 1852.0),
 ('11 Arrowwood Ln', 'Bloomfield', 'Connecticut', 6002.0),
 ('153 Newton St', 'Weston', 'Massachusetts', 2493.0),
 ('45 Tessahoc Ln', 'Wilmington', 'Vermont', 5363.0),
 ('18 Turner Rd', 'Marblehead', 'Massachusetts', 1945.0),
 ('110 Beacon Ave', 'Woonsocket', 'Rhode Island', 2895.0),
 ('53 Rolling Hitch Rd', 'Centerville', 'Massachusetts', 2632.0),
 ('332 Marion Rd', 'Middleboro', 'Massachusetts', 2346.0),
 ('15 Marshall St', 'Hartford', 'Connecticut', 6105.0),
 ('25 Lake Rd', 'Portland', 'Connecticut', 6480.0),
 ('164 Governor St', 'New Britain', 'Connecticut', 6053.0),
 ('243 Killingly St', 'Providence', 'Rhode Island', 2909.0),
 ('186 Sargeant St', 'Holyoke', 'Massachusetts', 1040.0),
 ('108 Dudley St', 'New Britain', 'Connecticut', 6053.0),
 ('60 Cutler Rd', 'Killingly', 'Connecticut', 6241.0),
 ('96 Gladding Ln', 'Sturbridge', 'Massachusetts', 1518.0),
 ('27 Newtown Rd', 'Sandwich', 'Massachusetts', 2563.0),
 ('2044 Manchester Rd', 'Glastonbury', 'Connecticut', 6033.0),
 ('607 Main St', 'Bolton', 'Massachusetts', 1740.0),
 ('26 Copplestone Rd', 'Avon', 'Connecticut', 6001.0),
 ('162 Main St', 'Middlefield', 'Connecticut', 6481.0),
 ('160 Love Ln', 'Rye', 'New Hampshire', 3870.0),
 ('211 Westerly Rd', 'Weston', 'Massachusetts', 2493.0),
 ('18 Crown Ave', 'Barrington', 'Rhode Island', 2806.0),
 ('55 Huntington Ave', 'Marlborough', 'Massachusetts', 1752.0),
 ('125 Jericho Rd', 'Watertown', 'Connecticut', 6795.0),
 ('33 Ridgebrook Dr', 'Coventry', 'Connecticut', 6238.0),
 ('331 Nott St', 'Wethersfield', 'Connecticut', 6109.0),
 ('63 Pembroke St', 'Springfield', 'Massachusetts', 1104.0),
 ('21 Earl St', 'Vernon', 'Connecticut', 6066.0),
 ('76 Cottage St', 'Cranston', 'Rhode Island', 2910.0),
 ('163 Loehr Rd', 'Tolland', 'Connecticut', 6084.0),
 ('77 Dayton St', 'Danvers', 'Massachusetts', 1923.0),
 ('47 Poole Rd', 'Belchertown', 'Massachusetts', 1007.0),
 ('324 Center St', 'Manchester', 'Connecticut', 6040.0),
 ('51 Pheasant Xing', 'Glastonbury', 'Connecticut', 6033.0),
 ('54 Fair St', 'Nantucket', 'Massachusetts', 2554.0),
 ('10 Old Town Ford Way', 'Westfield', 'Massachusetts', 1085.0),
 ('2 Old Pond St', 'Norfolk', 'Massachusetts', 2056.0),
 ('8 Arlington St', 'Taunton', 'Massachusetts', 2780.0),
 ('140 Leominster Rd', 'Sterling', 'Massachusetts', 1564.0),
 ('208 Japonica St', 'Pawtucket', 'Rhode Island', 2860.0),
 ('280 Boylston St Apt 107', 'Newton', 'Massachusetts', 2467.0),
 ('927 Trumbull Hwy', 'Lebanon', 'Connecticut', 6249.0),
 ('63 Valley St', 'Adams', 'Massachusetts', 1220.0),
 ('296 Amherst St', 'Providence', 'Rhode Island', 2909.0),
 ('265 Oakland Ave', 'Methuen', 'Massachusetts', 1844.0),
 ('27 Stanton St', 'Malden', 'Massachusetts', 2148.0),
 ('55 Bailey St Apt 2', 'Boston', 'Massachusetts', 2124.0),
 ('9 Babcock Hill Rd', 'Windham', 'Connecticut', 6266.0),
 ('179 Armistice Blvd', 'Pawtucket', 'Rhode Island', 2860.0),
 ('14 Taylor River Ests', 'Hampton', 'New Hampshire', 3842.0),
 ('1152 State Route 203', 'Austerlitz', 'New York', 12037.0),
 ('25 Wadsworth St', 'Manchester', 'Connecticut', 6040.0),
 ('73 Monroe St', 'Nashua', 'New Hampshire', 3060.0),
 ('1200 Enfield St', 'Enfield', 'Connecticut', 6082.0),
 ('348 Hillside Ave', 'Holyoke', 'Massachusetts', 1040.0),
 ('1 Tierney Pl', 'Pittsfield', 'Massachusetts', 1201.0),
 ('812 Mohawk Trl', 'North Adams', 'Massachusetts', 1247.0),
 ('34 Hemlock Valley Rd', 'East Haddam', 'Connecticut', 6423.0),
 ('44 Willard Dr', 'Enfield', 'Connecticut', 6082.0),
 ('295 Appleton St', 'Arlington', 'Massachusetts', 2476.0),
 ('2 Middle St', 'Barrington', 'Rhode Island', 2806.0),
 ('3623 Route 22', 'Wassaic', 'New York', 12592.0),
 ('31 Acadia Dr', 'Marstons Mills', 'Massachusetts', 2648.0),
 ('89 Kelsey St', 'New Britain', 'Connecticut', 6051.0),
 ('573 Mountain Rd', 'Torrington', 'Connecticut', 6790.0),
 ('26 Gedick Rd', 'Burlington', 'Massachusetts', 1803.0),
 ('11 Berwick Ave', 'North Providence', 'Rhode Island', 2911.0),
 ('312 Taylor Rd', 'Enfield', 'Connecticut', 6082.0),
 ('21 Summit Ave', 'North Smithfield', 'Rhode Island', 2896.0),
 ('18 Angell Rd', 'Lincoln', 'Rhode Island', 2865.0),
 ('7 Woodcock Ln', 'South Windsor', 'Connecticut', 6074.0),
 ('56 Westchester Dr', 'Attleboro', 'Massachusetts', 2703.0),
 ('17 Orange St', 'Nantucket', 'Massachusetts', 2554.0),
 ('112 Orchard Rd', 'West Hartford', 'Connecticut', 6117.0),
 ('50 Vale St', 'Boston', 'Massachusetts', 2119.0),
 ('14 Scotland Rd', 'Lexington', 'Massachusetts', 2420.0),
 ('101 Packard Ave', 'Hull', 'Massachusetts', 2045.0),
 ('7 Ranger Ln', 'West Hartford', 'Connecticut', 6117.0),
 ('40 Windsor Rd', 'Pawtucket', 'Rhode Island', 2861.0),
 ('127 Walnut Plain Rd', 'Rochester', 'Massachusetts', 2770.0),
 ('135 Temby St', 'Springfield', 'Massachusetts', 1119.0),
 ('26 Red Cedar Ln', 'North Providence', 'Rhode Island', 2904.0),
 ('30 Lantern Ln', 'Wellesley', 'Massachusetts', 2481.0),
 ('102 Front St', 'Marion', 'Massachusetts', 2738.0),
 ('22 Huntsbridge Rd', 'North Attleboro', 'Massachusetts', 2760.0),
 ('8 Whittier Pl Apt 16A', 'Boston', 'Massachusetts', 2114.0),
 ('25 Devonshire Dr', 'Mashpee', 'Massachusetts', 2649.0),
 ('5 Erwin Rd', 'Wayland', 'Massachusetts', 1778.0),
 ('438 Doodletown Rd', 'Ancram', 'New York', 12502.0),
 ('136 Yeaw Rd', 'Dover', 'Vermont', 5341.0),
 ('25 Sylvia Hts', 'Hadley', 'Massachusetts', 1035.0),
 ('125 Union St', 'Natick', 'Massachusetts', 1760.0),
 ('522 Elm St', 'Windsor Locks', 'Connecticut', 6096.0),
 ('5 Mill Pond Ln', 'Hampton', 'New Hampshire', 3842.0),
 ('53 Oheir Way', 'Lowell', 'Massachusetts', 1852.0),
 ('90 Central Ave', 'Milton', 'Massachusetts', 2186.0),
 ('184 Hamilton St', 'Providence', 'Rhode Island', 2907.0),
 ('35 Spaulding Hill Rd', 'Pelham', 'New Hampshire', 3076.0),
 ('56 Liberty St', 'North Adams', 'Massachusetts', 1247.0),
 ('108 Parker St', 'Woonsocket', 'Rhode Island', 2895.0),
 ('16 Weather Deck Dr', 'Buzzards Bay', 'Massachusetts', 2532.0),
 ('37 Beach Hills Rd', 'Dennis Port', 'Massachusetts', 2639.0),
 ('57 Morse Ave', 'North Smithfield', 'Rhode Island', 2896.0),
 ('21 Preston Dr', 'Barrington', 'Rhode Island', 2806.0),
 ('42 North St', 'Norfolk', 'Massachusetts', 2056.0),
 ('13 Pickerel Way', 'Forestdale', 'Massachusetts', 2644.0),
 ('1341 Bailey Hill Rd', 'Readsboro', 'Vermont', 5350.0),
 ('100 Louise Rd', 'Braintree', 'Massachusetts', 2184.0),
 ('61 Newell Dr', 'Cumberland', 'Rhode Island', 2864.0),
 ('267 Hillside St', 'Milton', 'Massachusetts', 2186.0),
 ('197 Roslindale Ave', 'Boston', 'Massachusetts', 2131.0),
 ('25 Simpsons Ln', 'Edgartown', 'Massachusetts', 2539.0),
 ('255 Webster St', 'Boston', 'Massachusetts', 2128.0),
 ('27 Kent Ct', 'Middletown', 'Connecticut', 6457.0),
 ('7 Heathcote', 'Avon', 'Connecticut', 6001.0),
 ('205 Morgan Rd', 'Northbridge', 'Massachusetts', 1588.0),
 ('199 School St N', 'Barre', 'Massachusetts', 1005.0),
 ('342 Lesure Rd', 'Stamford', 'Vermont', 5352.0),
 ('59 Woodchuck Hill Rd', 'Simsbury', 'Connecticut', 6092.0),
 ('21 Bonnybrook Rd', 'Newton', 'Massachusetts', 2468.0),
 ('619 Randolph St', 'Weymouth', 'Massachusetts', 2190.0),
 ('3788 NY 2', 'Brunswick', 'New York', 12052.0),
 ('106 Stephanies Way', 'Manchester', 'Connecticut', 6040.0),
 ('52 Marmon Ct', 'Springfield', 'Massachusetts', 1129.0),
 ('30 Centre St', 'West Warwick', 'Rhode Island', 2893.0),
 ('139 N St Unit 1', 'Boston', 'Massachusetts', 2127.0),
 ('105 Evergreen Rd', 'Vernon', 'Connecticut', 6066.0),
 ('16 Brandy Ln', 'Uxbridge', 'Massachusetts', 1569.0),
 ('917 Hopewell Rd', 'Glastonbury', 'Connecticut', 6073.0),
 ('49 Russell St', 'Milton', 'Massachusetts', 2186.0),
 ('138 St Botolph St', 'Boston', 'Massachusetts', 2115.0),
 ('6 Fox Run', 'Stafford', 'Connecticut', 6076.0),
 ('311 Plainfield St', 'Providence', 'Rhode Island', 2909.0),
 ('331 Merrow Rd', 'Tolland', 'Connecticut', 6084.0),
 ('30 Schillings Crossing Rd', 'Canaan', 'New York', 12029.0),
 ('31 Hoffman Rd', 'Ellington', 'Connecticut', 6029.0),
 ('61 Schoolhouse Rd', 'East Chatham', 'New York', 12060.0),
 ('29 Bank St', 'Manchester', 'Connecticut', 6040.0),
 ('16 Brown St', 'Marlborough', 'Massachusetts', 1752.0),
 ('9 Aspen Rise', 'East Granby', 'Connecticut', 6026.0),
 ('435 Tributary Ln', 'Windsor', 'Connecticut', 6095.0),
 ('319 Mountain Spring Rd', 'Farmington', 'Connecticut', 6032.0),
 ('43 Commercial Wharf Apt 8', 'Boston', 'Massachusetts', 2110.0),
 ('50 Bishop Rd', 'Malden', 'Massachusetts', 2148.0),
 ('169 Central St', 'Auburn', 'Massachusetts', 1501.0),
 ('14 Dellbrook Rd', 'Weston', 'Massachusetts', 2493.0),
 ('52 Allen St', 'Brockton', 'Massachusetts', 2301.0),
 ('51 Vivian Ave', 'Pittsfield', 'Massachusetts', 1201.0),
 ('75 Shafer Rd', 'New Hartford', 'Connecticut', 6057.0),
 ('5 Milk St', 'Nantucket', 'Massachusetts', 2554.0),
 ('39 Stanley Dr', 'Glastonbury', 'Connecticut', 6033.0),
 ('1 Spofford St', 'Newburyport', 'Massachusetts', 1950.0),
 ('47 Evergreen Rd', 'Attleboro', 'Massachusetts', 2703.0),
 ('5 Hale Rd', 'Enfield', 'Connecticut', 6082.0),
 ('37 Marian Ave', 'Pittsfield', 'Massachusetts', 1201.0),
 ('1630 County Route 13', 'New Lebanon', 'New York', 12125.0),
 ('6 June St', 'Dracut', 'Massachusetts', 1826.0),
 ('173 Cinderella Ter', 'Marstons Mills', 'Massachusetts', 2648.0),
 ('2304 Ellington Rd', 'South Windsor', 'Connecticut', 6074.0),
 ('109 Gaskill St', 'Woonsocket', 'Rhode Island', 2895.0),
 ('55 Beaver St', 'Waltham', 'Massachusetts', 2453.0),
 ('50 Horseshoe Rd', 'Millbrook', 'New York', 12545.0),
 ('6 Maynard St', 'Boston', 'Massachusetts', 2131.0),
 ('107 Oliver Rd', 'Newton', 'Massachusetts', 2468.0),
 ('282 Shunpike', 'Clinton Corners', 'New York', 12514.0),
 ('15 Tower Rd', 'Hingham', 'Massachusetts', 2043.0),
 ('40 Webbers Path', 'West Yarmouth', 'Massachusetts', 2673.0),
 ('197 East St', 'Duxbury', 'Massachusetts', 2332.0),
 ('69 Cathedral Dr', 'Attleboro', 'Massachusetts', 2703.0),
 ('284 Old Forge Rd', 'Warwick', 'Rhode Island', 2818.0),
 ('38 Albany St', 'Brockton', 'Massachusetts', 2301.0),
 ('1553 N Main Rd', 'Otis', 'Massachusetts', 1253.0),
 ('78 Hubbard St', 'Middlefield', 'Connecticut', 6455.0),
 ('185 Whittum Ave', 'Springfield', 'Massachusetts', 1118.0),
 ('129 E Eldridge St', 'Manchester', 'Connecticut', 6040.0),
 ('9 Saw Mill Way', 'Hebron', 'Connecticut', 6231.0),
 ('145 Roosevelt St', 'Hartford', 'Connecticut', 6114.0),
 ('440 Roosevelt Ave', 'Springfield', 'Massachusetts', 1118.0),
 ('19 Cherry Ave', 'Stoneham', 'Massachusetts', 2180.0),
 ('11 Royal Dr', 'West Warwick', 'Rhode Island', 2893.0),
 ('14 Moeckel Rd', 'Windham', 'New Hampshire', 3087.0),
 ('18 High St', 'Westborough', 'Massachusetts', 1581.0),
 ('18 Fawn Ridge Rd', 'Hopkinton', 'Massachusetts', 1748.0),
 ('236 Girard Ave', 'Hartford', 'Connecticut', 6105.0),
 ('25 Saddle Hill Rd', 'Manchester', 'Connecticut', 6040.0),
 ('4 Testa Dr', 'Plainville', 'Connecticut', 6062.0),
 ('27 Houseman Ave', 'Ghent', 'New York', 12037.0),
 ('167 North St', 'New Bedford', 'Massachusetts', 2740.0),
 ('6 Whittier Pl Apt 4N', 'Boston', 'Massachusetts', 2114.0),
 ('83 Sherwood Dr', 'North Andover', 'Massachusetts', 1845.0),
 ('628 Middle Tpke W', 'Manchester', 'Connecticut', 6040.0),
 ('44 Brunswick St', 'Brockton', 'Massachusetts', 2301.0),
 ('170 Lincoln Ave', 'Warwick', 'Rhode Island', 2888.0),
 ('311 Garfield Rd', 'Concord', 'Massachusetts', 1742.0),
 ('45 Grey Fox Lndg', 'Woodstock', 'Connecticut', 6281.0),
 ('316 Brown St', 'Hartford', 'Connecticut', 6114.0),
 ('32 Mason St', 'Taunton', 'Massachusetts', 2780.0),
 ('871 W Main St', 'New Britain', 'Connecticut', 6053.0),
 ('40 Bridge St', 'Fairhaven', 'Massachusetts', 2719.0),
 ('2465 Corbin Ave', 'New Britain', 'Connecticut', 6053.0),
 ('131 Columbine Ave', 'Pawtucket', 'Rhode Island', 2861.0),
 ('277 Martin St', 'Hartford', 'Connecticut', 6120.0),
 ('57 Van Buren St', 'Warwick', 'Rhode Island', 2888.0),
 ('76 Prospect St', 'West Bridgewater', 'Massachusetts', 2379.0),
 ('7 Cemetery St', 'Natick', 'Massachusetts', 1760.0),
 ('93 Harrop Ave', 'Warwick', 'Rhode Island', 2886.0),
 ('552 Wood Duck Dr', 'Torrington', 'Connecticut', 6790.0),
 ('10 Ocean St', 'Providence', 'Rhode Island', 2905.0),
 ('158 Forest St', 'Brockton', 'Massachusetts', 2302.0),
 ('97 Lisa Dr', 'Brockton', 'Massachusetts', 2302.0),
 ('396 Summer St', 'East Bridgewater', 'Massachusetts', 2333.0),
 ('240 Granby St', 'Hartford', 'Connecticut', 6112.0),
 ('16 Mathewson Ln', 'Barrington', 'Rhode Island', 2806.0),
 ('18 Riverview St', 'Haverhill', 'Massachusetts', 1830.0),
 ('57 Jessie Ln', 'Westfield', 'Massachusetts', 1085.0),
 ('79 Rhody Cir', 'Marstons Mills', 'Massachusetts', 2648.0),
 ('25 Concord Ave', 'Milton', 'Massachusetts', 2186.0),
 ('211 Court St', 'Plymouth', 'Massachusetts', 2360.0),
 ('50 Ford St', 'Providence', 'Rhode Island', 2907.0),
 ('251 Ridgefield St', 'Hartford', 'Connecticut', 6112.0),
 ('162 S Main St', 'Marlborough', 'Connecticut', 6447.0),
 ('30 Cliff Rd', 'Wellesley', 'Massachusetts', 2481.0),
 ('28 Hart St', 'Taunton', 'Massachusetts', 2780.0),
 ('78 Prescott St', 'Torrington', 'Connecticut', 6790.0),
 ('38 Klondike St', 'Providence', 'Rhode Island', 2909.0),
 ('27 Trotta Ln', 'Morris', 'Connecticut', 6763.0),
 ('33 Gates Ave', 'Springfield', 'Massachusetts', 1118.0),
 ('26 Canoe River Rd', 'Sharon', 'Massachusetts', 2067.0),
 ('2484 Hartford Ave', 'Johnston', 'Rhode Island', 2919.0),
 ('139 Orchard St', 'Cranston', 'Rhode Island', 2910.0),
 ('33 Greeley St', 'Pawtucket', 'Rhode Island', 2861.0),
 ('1135 Halladay Ave W', 'Suffield', 'Connecticut', 6078.0),
 ('27 Tamarack Rd', 'Plymouth', 'Massachusetts', 2360.0),
 ('9 Burbank Rd', 'Stafford', 'Connecticut', 6076.0),
 ('1 Durkee Ln', 'Westford', 'Massachusetts', 1886.0),
 ('239 Commonwealth Ave Apt 21', 'Boston', 'Massachusetts', 2116.0),
 ('197 Winthrop St', 'Rehoboth', 'Massachusetts', 2769.0),
 ('310 N Country Club Dr', 'Warwick', 'Rhode Island', 2888.0),
 ('48 Gilman St', 'East Hartford', 'Connecticut', 6108.0),
 ('8 Whitford St', 'Coventry', 'Rhode Island', 2816.0),
 ('9 Drumhack Rd', 'Gloucester', 'Massachusetts', 1930.0),
 ('52 Stanley St', 'East Hartford', 'Connecticut', 6108.0),
 ('1197 Old Dana Rd', 'Barre', 'Massachusetts', 1005.0),
 ('10 Fiske St', 'Holliston', 'Massachusetts', 1746.0),
 ('56 Felix St', 'Providence', 'Rhode Island', 2908.0),
 ('295 Gardner St', 'Hingham', 'Massachusetts', 2043.0),
 ('468 Fitzsimmons Rd', 'Red Hook', 'New York', 12571.0),
 ('211 Grove Ave', 'Leominster', 'Massachusetts', 1453.0),
 ('65 Hemlock Dr', 'Woodstock', 'Connecticut', 6282.0),
 ('138 Valentine St', 'Newton', 'Massachusetts', 2465.0),
 ('34 New Hollywood Blvd', 'Otis', 'Massachusetts', 1253.0),
 ('28 Beechmont St', 'Worcester', 'Massachusetts', 1609.0),
 ('202 Great Rd', 'North Smithfield', 'Rhode Island', 2896.0),
 ('43 Edgewood Ave', 'Thomaston', 'Connecticut', 6787.0),
 ('68 Gilson Rd', 'Scituate', 'Massachusetts', 2066.0),
 ('29 Genoa St', 'Johnston', 'Rhode Island', 2919.0),
 ('30 Buchanan St', 'Johnston', 'Rhode Island', 2919.0),
 ('127 Vera St', 'Warwick', 'Rhode Island', 2886.0),
 ('22 Kenilworth St', 'Malden', 'Massachusetts', 2148.0),
 ('68 Blanchwood Ave', 'Chicopee', 'Massachusetts', 1013.0),
 ('39 Milton St', 'Dedham', 'Massachusetts', 2026.0),
 ('15 Tennyson Rd', 'Wellesley', 'Massachusetts', 2481.0),
 ('492 Cotuit Rd', 'Mashpee', 'Massachusetts', 2649.0),
 ('68 Holden St', 'Attleboro', 'Massachusetts', 2703.0),
 ('37 Circuit Dr', 'Kingston', 'New Hampshire', 3848.0),
 ('304 Miriam Rd', 'New Britain', 'Connecticut', 6053.0),
 ('200 Arch Bridge Rd', 'Bethlehem', 'Connecticut', 6751.0),
 ('157 Bentley Cir', 'Goshen', 'Connecticut', 6756.0),
 ('80 Pond Pl', 'Middletown', 'Connecticut', 6457.0),
 ('11 Parker St', 'Enfield', 'Connecticut', 6082.0),
 ('55 Samoset Ave', 'Mansfield', 'Massachusetts', 2048.0),
 ('65 Congress St', 'Manchester', 'Connecticut', 6042.0),
 ('35 Donelson St', 'Providence', 'Rhode Island', 2908.0),
 ('104 Mohawk Dr', 'West Hartford', 'Connecticut', 6117.0),
 ('9 Fernwood Rd', 'Acton', 'Massachusetts', 1720.0),
 ('331 Totman Rd', 'Lowell', 'Massachusetts', 1854.0),
 ('116 Mulberry St', 'Springfield', 'Massachusetts', 1105.0),
 ('30 Oakwood St', 'Enfield', 'Connecticut', 6082.0),
 ('139 Skeele St', 'Chicopee', 'Massachusetts', 1013.0),
 ('81 Collins St', 'Lynn', 'Massachusetts', 1902.0),
 ('61 Trinity St', 'New Britain', 'Connecticut', 6051.0),
 ('20 Westminster St', 'Ashburnham', 'Massachusetts', 1430.0),
 ('283 Mansfield Ave', 'Windham', 'Connecticut', 6226.0),
 ('33 West St', 'Westford', 'Massachusetts', 1886.0),
 ('45 Stoneymeade Way', 'Acton', 'Massachusetts', 1720.0),
 ('201 Salem End Rd', 'Framingham', 'Massachusetts', 1702.0),
 ('11 Oakview St', 'Worcester', 'Massachusetts', 1605.0),
 ('25 Channel Center St Unit 1101', 'Boston', 'Massachusetts', 2210.0),
 ('38 Charter St Apt 9', 'Boston', 'Massachusetts', 2113.0),
 ('3 Swansea Rd', 'Wakefield', 'Massachusetts', 1880.0),
 ('33 Mohawk Cir', 'Windsor', 'Connecticut', 6095.0),
 ('345 Central Avenue Ave', 'New Bedford', 'Massachusetts', 2745.0),
 ('455 Church St', 'Putnam', 'Connecticut', 6260.0),
 ('26 Joanne Dr', 'Marion', 'Massachusetts', 2738.0),
 ('154 Redland Ave', 'East Providence', 'Rhode Island', 2916.0),
 ('20 Graves Ave', 'Lynn', 'Massachusetts', 1902.0),
 ('2 Cross Hill Cir', 'Forestdale', 'Massachusetts', 2644.0),
 ('113 Babcock St', 'Hartford', 'Connecticut', 6106.0),
 ('105 Griffiths Rd', 'Killingly', 'Connecticut', 6239.0),
 ('173 Hobart St', 'Braintree', 'Massachusetts', 2184.0),
 ('10 Ormond Dr', 'East Providence', 'Rhode Island', 2915.0),
 ('30 Newman Ave', 'Seekonk', 'Massachusetts', 2771.0),
 ('15 Colfax St', 'Providence', 'Rhode Island', 2905.0),
 ('59 Merriman Rd', 'Windsor', 'Connecticut', 6095.0),
 ('16 Franklin Rd', 'Norwell', 'Massachusetts', 2061.0),
 ('121 Middleboro Rd', 'Freetown', 'Massachusetts', 2717.0),
 ('397 Mansfield Rd', 'North Attleboro', 'Massachusetts', 2760.0),
 ('147 Highland St', 'Rocky Hill', 'Connecticut', 6067.0),
 ('402 West Rd', 'Alford', 'Massachusetts', 1266.0),
 ('27 Chestnut St', 'Middleboro', 'Massachusetts', 2346.0),
 ('1251 Osterville West Barnstable Rd',
  'Marstons Mills',
  'Massachusetts',
  2648.0),
 ('10 Almond St', 'Lincoln', 'Rhode Island', 2865.0),
 ('40 W Cole St', 'Pawtucket', 'Rhode Island', 2860.0),
 ('15 Prospect Cir', 'Boston', 'Massachusetts', 2136.0),
 ('106 Cheney St', 'Orange', 'Massachusetts', 1364.0),
 ('25 Norfolk St', 'Fitchburg', 'Massachusetts', 1420.0),
 ('196 Florence St', 'Brockton', 'Massachusetts', 2301.0),
 ('283 Boylston St', 'Brockton', 'Massachusetts', 2301.0),
 ('26 Cold Hill Dr', 'Granby', 'Massachusetts', 1033.0),
 ('96 Country Club Ln', 'Belmont', 'Massachusetts', 2478.0),
 ('598 Essex Ave', 'Gloucester', 'Massachusetts', 1930.0),
 ('62 Skinner Hill Rd', 'Andover', 'Connecticut', 6232.0),
 ('902 Trumbull Hwy', 'Lebanon', 'Connecticut', 6249.0),
 ('14 Babcock Rd', 'Sterling', 'Connecticut', 6377.0),

In [34]:
adress_column=list(adresse_df.columns)
adress_column

['street', 'city', 'state', 'zip_code']

In [35]:
for elem in addr_tup:
    elems = "INSERT INTO adresse("+adress_column[0]+","+adress_column[1]+","+adress_column[2]+","+adress_column[3]+") VALUES(%s, %s, %s, %s)"
    quer=(elem[0],elem[1],elem[2],elem[3])
    #print(quer)
    #print(elems)
    with conn.cursor() as cur:
        cur.execute(elems,quer)
        conn.commit()

In [36]:
house_tb_df.head(100)

        price  bed  bath  house_size  acre_lot
0    110000.0  7.0   3.0        1192      0.09
1    950000.0  5.0   4.0        5000      0.99
2   6899000.0  4.0   6.0        4600      0.83
3    525000.0  3.0   3.0        2314      0.45
4    289900.0  3.0   2.0        1276      0.36
..        ...  ...   ...         ...       ...
95   235000.0  2.0   1.0        1200      0.27
96   449000.0  3.0   3.0        1916      0.40
97   995000.0  5.0   4.0        4468      0.72
98   325000.0  3.0   2.0        1336      0.54
99   399999.0  2.0   1.0        1072      0.50

[100 rows x 5 columns]

for 
list(filter(lambda x: x!= np.inf, house_tb_df))

house_tb_df.replace([np.inf, -np.inf], np.nan, inplace=True)

house_tb_df.dropna(subset=["price", "bed","bath","house_size","acre_lot"], how="all", inplace=True)

house_tb_df.dropna()

In [52]:
house_tb_df.head(600)

           price  bed  bath  house_size  acre_lot
829     110000.0  7.0   3.0        1192      0.09
10344   950000.0  5.0   4.0        5000      0.99
10351  6899000.0  4.0   6.0        4600      0.83
24237   525000.0  3.0   3.0        2314      0.45
24238   289900.0  3.0   2.0        1276      0.36
...          ...  ...   ...         ...       ...
30473   225000.0  3.0   1.0        1056      0.30
30474   299900.0  3.0   2.0        1094      0.28
30475   700000.0  4.0   3.0        2822      0.45
30477   199900.0  3.0   1.0         912      0.26
30489   229900.0  3.0   1.0        1248      0.17

[600 rows x 5 columns]

In [188]:
house_tb_df['price']= pd.to_numeric(house_tb_df['price'], errors='coerce')
house_tb_df['price']= house_tb_df['price'].dropna()

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\1229824490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['price']= pd.to_numeric(house_tb_df['price'], errors='coerce')
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\1229824490.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['price']= house_tb_df['price'].dropna()

In [ ]:
rentValue_df=

In [78]:
house_tb_df['house_size']

0          920.0
1         1527.0
2          748.0
3         1800.0
4            NaN
           ...
203086       NaN
203093       NaN
203094       NaN
203095    2579.0
203107    2449.0
Name: house_size, Length: 20919, dtype: float64

In [180]:
house_tb_df['bed']= pd.to_numeric(house_tb_df['bed'], errors='coerce')
house_tb_df['bed']= house_tb_df['bed'].dropna()

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\2030801184.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['bed']= pd.to_numeric(house_tb_df['bed'], errors='coerce')
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\2030801184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['bed']= house_tb_df['bed'].dropna()

In [181]:
house_tb_df['house_size']= pd.to_numeric(house_tb_df['house_size'], errors='coerce')
house_tb_df['house_size']= house_tb_df['house_size'].dropna()

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\721851172.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['house_size']= pd.to_numeric(house_tb_df['house_size'], errors='coerce')
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\721851172.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['house_size']= house_tb_df['house_size'].dropna()

In [182]:
house_tb_df['bath']= pd.to_numeric(house_tb_df['bath'], errors='coerce')
house_tb_df['bath']= house_tb_df['bath'].dropna()

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\22508750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['bath']= pd.to_numeric(house_tb_df['bath'], errors='coerce')
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\22508750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['bath']= house_tb_df['bath'].dropna()

In [183]:
house_tb_df['acre_lot']= pd.to_numeric(house_tb_df['acre_lot'], errors='coerce')
house_tb_df['acre_lot']= house_tb_df['acre_lot'].dropna()

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\1036003706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['acre_lot']= pd.to_numeric(house_tb_df['acre_lot'], errors='coerce')
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_22188\1036003706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['acre_lot']= house_tb_df['acre_lot'].dropna()

In [130]:
house_tb_df['house_size']=house_tb_df['house_size'].astype('int')

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_8092\874756198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_tb_df['house_size']=house_tb_df['house_size'].astype('int')

In [131]:
house_tb_df.dtypes

price         float64
bed           float64
bath          float64
house_size      int32
acre_lot      float64
dtype: object

In [ ]:
house_tb_df['bath']=house_tb_df['bath'].astype('int')

In [37]:
tuples = list(set([tuple(x) for x in house_tb_df.to_numpy()]))
tuples

[(239999.0, 3.0, 1.0, 924.0, 0.11),
 (579000.0, 4.0, 4.0, 3577.0, 0.77),
 (1250000.0, 7.0, 4.0, 3373.0, 0.11),
 (274999.0, 3.0, 2.0, 1112.0, 0.28),
 (275000.0, 3.0, 1.0, 1200.0, 0.08),
 (299999.0, 4.0, 2.0, 1645.0, 0.26),
 (198000.0, 3.0, 1.0, 876.0, 0.23),
 (1350000.0, 9.0, 9.0, 4940.0, 0.7),
 (839500.0, 3.0, 2.0, 812.0, 0.15),
 (11890000.0, 11.0, 6.0, 5850.0, 85.0),
 (217900.0, 2.0, 1.0, 1040.0, 0.18),
 (749000.0, 4.0, 3.0, 1964.0, 0.13),
 (669000.0, 4.0, 3.0, 2560.0, 1.15),
 (479900.0, 3.0, 1.0, 1149.0, 0.42),
 (205000.0, 2.0, 1.0, 950.0, 0.16),
 (1579900.0, 5.0, 4.0, 5291.0, 1.15),
 (985000.0, 9.0, 3.0, 3864.0, 0.11),
 (1299000.0, 2.0, 2.0, 1328.0, 0.03),
 (494900.0, 3.0, 3.0, 2000.0, 0.45),
 (250000.0, 3.0, 1.0, 1100.0, 0.41),
 (350000.0, 3.0, 2.0, 1092.0, 0.13),
 (789000.0, 2.0, 1.0, 1004.0, 0.02),
 (699000.0, 3.0, 2.0, 2370.0, 0.23),
 (749900.0, 3.0, 3.0, 2583.0, 0.67),
 (695000.0, 5.0, 3.0, 2328.0, 0.24),
 (290000.0, 3.0, 1.0, 1674.0, 1.3),
 (310000.0, 3.0, 2.0, 1540.0, 0.1),
 (199900.0, 2.0, 2.0, 1210.0, 0.23),
 (999000.0, 4.0, 3.0, 2830.0, 0.39),
 (400000.0, 4.0, 3.0, 2468.0, 0.77),
 (849995.0, 4.0, 3.0, 2263.0, 0.98),
 (999900.0, 5.0, 6.0, 5504.0, 1.21),
 (3800000.0, 5.0, 7.0, 5700.0, 0.76),
 (349000.0, 3.0, 1.0, 1058.0, 0.23),
 (295000.0, 4.0, 4.0, 2365.0, 0.37),
 (3195000.0, 4.0, 3.0, 4200.0, 3.28),
 (839000.0, 9.0, 9.0, 5358.0, 1.0),
 (669900.0, 3.0, 3.0, 2228.0, 0.23),
 (324900.0, 4.0, 3.0, 1332.0, 2.0),
 (429900.0, 3.0, 2.0, 2388.0, 3.1),
 (425000.0, 9.0, 3.0, 4513.0, 0.09),
 (299900.0, 3.0, 1.0, 1008.0, 1.02),
 (670000.0, 4.0, 3.0, 2578.0, 0.92),
 (275000.0, 8.0, 4.0, 3752.0, 0.42),
 (279900.0, 3.0, 2.0, 1107.0, 0.18),
 (249900.0, 2.0, 1.0, 1078.0, 0.26),
 (349000.0, 6.0, 4.0, 2060.0, 0.2),
 (165000.0, 4.0, 2.0, 1857.0, 0.24),
 (599900.0, 8.0, 3.0, 3156.0, 0.06),
 (199900.0, 4.0, 2.0, 1584.0, 0.31),
 (1650000.0, 5.0, 4.0, 3049.0, 0.28),
 (299000.0, 2.0, 1.0, 666.0, 0.17),
 (420000.0, 5.0, 2.0, 1966.0, 0.25),
 (349900.0, 5.0, 2.0, 2240.0, 0.07),
 (209900.0, 3.0, 2.0, 1344.0, 0.14),
 (650000.0, 3.0, 2.0, 2334.0, 1.06),
 (3975000.0, 17.0, 18.0, 7937.0, 2.0),
 (684500.0, 5.0, 5.0, 4845.0, 3.31),
 (299000.0, 3.0, 2.0, 1302.0, 0.27),
 (3100000.0, 4.0, 7.0, 5700.0, 2.2),
 (689900.0, 4.0, 5.0, 3725.0, 1.25),
 (310000.0, 3.0, 3.0, 2160.0, 5.82),
 (400000.0, 2.0, 2.0, 992.0, 0.09),
 (599000.0, 3.0, 3.0, 1800.0, 1.97),
 (689900.0, 4.0, 4.0, 3495.0, 2.24),
 (209900.0, 6.0, 4.0, 2864.0, 0.22),
 (389900.0, 6.0, 2.0, 2518.0, 0.29),
 (259900.0, 3.0, 2.0, 1028.0, 0.93),
 (549900.0, 3.0, 3.0, 1824.0, 0.46),
 (1350000.0, 4.0, 6.0, 4943.0, 5.0),
 (825000.0, 5.0, 5.0, 2814.0, 0.64),
 (274900.0, 4.0, 2.0, 1772.0, 1.45),
 (239900.0, 3.0, 2.0, 1496.0, 0.16),
 (499000.0, 1.0, 1.0, 496.0, 0.01),
 (784900.0, 6.0, 2.0, 2554.0, 0.08),
 (322500.0, 3.0, 2.0, 1464.0, 0.26),
 (375000.0, 8.0, 2.0, 3831.0, 0.65),
 (380000.0, 4.0, 2.0, 1670.0, 0.63),
 (299900.0, 3.0, 2.0, 1536.0, 0.46),
 (229900.0, 3.0, 2.0, 1244.0, 0.13),
 (750000.0, 2.0, 1.0, 2133.0, 0.95),
 (122750.0, 4.0, 2.0, 1978.0, 0.13),
 (639000.0, 3.0, 2.0, 1871.0, 0.19),
 (549000.0, 4.0, 2.0, 2146.0, 0.34),
 (295000.0, 3.0, 2.0, 1232.0, 0.1),
 (1825000.0, 5.0, 4.0, 3303.0, 0.23),
 (1750000.0, 4.0, 6.0, 4293.0, 1.13),
 (1400000.0, 5.0, 3.0, 3347.0, 20.0),
 (245000.0, 2.0, 1.0, 916.0, 4.47),
 (789000.0, 3.0, 3.0, 3828.0, 1.18),
 (1700000.0, 7.0, 8.0, 5031.0, 0.09),
 (384900.0, 4.0, 3.0, 2228.0, 0.57),
 (519900.0, 4.0, 3.0, 2622.0, 1.55),
 (495000.0, 8.0, 3.0, 3595.0, 0.19),
 (299900.0, 4.0, 2.0, 1489.0, 0.16),
 (199999.0, 4.0, 2.0, 1194.0, 0.06),
 (479900.0, 5.0, 2.0, 2040.0, 0.54),
 (375000.0, 4.0, 3.0, 2352.0, 0.58),
 (1000000.0, 2.0, 2.0, 1282.0, 0.28),
 (1089000.0, 4.0, 4.0, 3131.0, 0.25),
 (210000.0, 4.0, 1.0, 1165.0, 0.17),
 (925000.0, 3.0, 3.0, 3488.0, 11.92),
 (349900.0, 2.0, 2.0, 1435.0, 0.22),
 (399000.0, 3.0, 2.0, 1700.0, 0.17),
 (385000.0, 8.0, 3.0, 4424.0, 0.16),
 (349900.0, 4.0, 2.0, 1428.0, 0.24),
 (399900.0, 3.0, 2.0, 1564.0, 0.47),
 (280000.0, 3.0, 1.0, 1014.0, 0.41),
 (575000.0, 3.0, 3.0, 1248.0, 0.36),
 (1200000.0, 5.0, 4.0, 4273.0, 49.97),
 (249000.0, 3.0, 2.0, 1067.0, 0.29),
 (475000.0, 3.0, 3.0, 1823.0, 0.46),
 (549999.0, 3.0, 3.0, 2012.0, 1.0),
 (385000.0, 3.0, 1.0, 1290.0, 0.92),
 (535000.0, 2.0, 2.0, 777.0, 0.02),
 (499900.0, 3.0, 3.0, 2202.0, 0.54),
 (395900.0, 3.0, 2.0, 3182.0, 4.8),
 (725000.0, 3.0, 2.0, 1906.0, 0.25),
 (274900.0, 3.0, 1.0, 1242.0, 0.11),
 (474900.0, 3.0, 3.0, 1998.0, 2.39),
 (749000.0, 4.0, 4.0, 3252.0, 1.5),
 (750000.0, 4.0, 2.0, 2449.0, 0.97),
 (129000.0, 3.0, 1.0, 2926.0, 0.14),
 (173000.0, 3.0, 2.0, 1374.0, 0.49),
 (369900.0, 3.0, 2.0, 1602.0, 2.45),
 (199900.0, 2.0, 1.0, 1036.0, 0.18),
 (619900.0, 2.0, 1.0, 800.0, 0.02),
 (375000.0, 4.0, 2.0, 1123.0, 0.23),
 (259900.0, 2.0, 1.0, 1076.0, 0.11),
 (265000.0, 5.0, 3.0, 2619.0, 0.28),
 (329900.0, 4.0, 2.0, 1664.0, 0.15),
 (329900.0, 3.0, 1.0, 1210.0, 0.96),
 (655000.0, 3.0, 3.0, 2048.0, 0.49),
 (305000.0, 3.0, 3.0, 1600.0, 0.08),
 (700000.0, 2.0, 1.0, 968.0, 0.02),
 (550000.0, 3.0, 4.0, 3082.0, 0.6),
 (949900.0, 3.0, 2.0, 2230.0, 0.38),
 (3445000.0, 6.0, 6.0, 9528.0, 3.1),
 (1599000.0, 5.0, 5.0, 4711.0, 1.05),
 (479900.0, 2.0, 2.0, 1008.0, 0.57),
 (240000.0, 3.0, 2.0, 1248.0, 0.14),
 (219900.0, 4.0, 2.0, 1152.0, 0.24),
 (545000.0, 2.0, 1.0, 704.0, 0.15),
 (399000.0, 2.0, 2.0, 1196.0, 0.15),
 (319000.0, 6.0, 2.0, 2288.0, 0.17),
 (699900.0, 4.0, 2.0, 2196.0, 0.34),
 (549000.0, 3.0, 2.0, 2372.0, 0.34),
 (439900.0, 2.0, 1.0, 864.0, 0.3),
 (449000.0, 2.0, 1.0, 649.0, 0.01),
 (134950.0, 3.0, 2.0, 2668.0, 0.48),
 (129900.0, 3.0, 1.0, 1143.0, 2.5),
 (265000.0, 7.0, 3.0, 3744.0, 0.29),
 (309900.0, 4.0, 2.0, 1768.0, 0.75),
 (975000.0, 3.0, 6.0, 7577.0, 1.7),
 (2950000.0, 2.0, 3.0, 2178.0, 0.05),
 (329000.0, 3.0, 2.0, 1688.0, 0.5),
 (289900.0, 2.0, 1.0, 1338.0, 2.48),
 (259900.0, 3.0, 2.0, 1056.0, 0.45),
 (2195000.0, 4.0, 5.0, 3252.0, 0.75),
 (985000.0, 3.0, 2.0, 1521.0, 0.23),
 (252000.0, 3.0, 2.0, 1277.0, 0.11),
 (264999.0, 2.0, 2.0, 1044.0, 0.24),
 (219900.0, 3.0, 2.0, 1296.0, 0.32),
 (199900.0, 3.0, 3.0, 3148.0, 2.63),
 (185000.0, 3.0, 2.0, 2028.0, 0.17),
 (219900.0, 3.0, 2.0, 1320.0, 0.11),
 (559900.0, 4.0, 2.0, 2421.0, 0.15),
 (299999.0, 3.0, 2.0, 1373.0, 0.24),
 (605000.0, 3.0, 3.0, 2359.0, 1.39),
 (115000.0, 5.0, 3.0, 2397.0, 0.16),
 (949000.0, 3.0, 2.0, 1372.0, 0.24),
 (1475000.0, 4.0, 3.0, 4450.0, 0.93),
 (369900.0, 3.0, 1.0, 960.0, 0.34),
 (6995000.0, 6.0, 7.0, 9215.0, 0.68),
 (425000.0, 6.0, 3.0, 2997.0, 0.09),
 (349900.0, 3.0, 2.0, 1100.0, 0.11),
 (629900.0, 4.0, 4.0, 3783.0, 3.0),
 (899000.0, 4.0, 3.0, 2476.0, 0.46),
 (368500.0, 4.0, 3.0, 2440.0, 1.1),
 (209900.0, 2.0, 1.0, 1030.0, 0.14),
 (325000.0, 3.0, 2.0, 2816.0, 0.13),
 (349900.0, 3.0, 2.0, 1263.0, 0.3),
 (170000.0, 2.0, 1.0, 776.0, 0.11),
 (229900.0, 3.0, 1.0, 1008.0, 1.0),
 (519000.0, 2.0, 1.0, 787.0, 0.02),
 (249525.0, 3.0, 2.0, 1166.0, 0.63),
 (425000.0, 5.0, 3.0, 2742.0, 0.69),
 (889900.0, 5.0, 4.0, 2973.0, 0.77),
 (419900.0, 8.0, 3.0, 6800.0, 0.13),
 (499900.0, 3.0, 2.0, 1550.0, 0.25),
 (179000.0, 6.0, 3.0, 1566.0, 0.15),
 (1199000.0, 5.0, 5.0, 3528.0, 0.12),
 (424900.0, 3.0, 2.0, 1834.0, 2.54),
 (269900.0, 3.0, 2.0, 1700.0, 0.51),
 (1299900.0, 4.0, 3.0, 3874.0, 0.93),
 (310000.0, 3.0, 3.0, 1461.0, 0.62),
 (399900.0, 6.0, 3.0, 4822.0, 0.09),
 (294000.0, 2.0, 1.0, 900.0, 0.35),
 (179500.0, 3.0, 2.0, 2284.0, 4.0),
 (369000.0, 1.0, 1.0, 880.0, 14.62),
 (325000.0, 5.0, 3.0, 4165.0, 0.14),
 (209000.0, 6.0, 2.0, 2664.0, 0.12),
 (1500000.0, 12.0, 3.0, 4464.0, 0.18),
 (369900.0, 3.0, 3.0, 1169.0, 0.18),
 (650000.0, 3.0, 2.0, 1536.0, 0.54),
 (250000.0, 3.0, 2.0, 1075.0, 0.26),
 (859000.0, 8.0, 4.0, 3204.0, 0.17),
 (620000.0, 3.0, 3.0, 2488.0, 3.88),
 (575000.0, 3.0, 2.0, 1900.0, 4.1),
 (280000.0, 5.0, 2.0, 1632.0, 0.09),
 (299900.0, 3.0, 2.0, 1209.0, 0.23),
 (1175000.0, 3.0, 3.0, 1956.0, 4.33),
 (309900.0, 9.0, 3.0, 3861.0, 0.11),
 (409000.0, 3.0, 3.0, 1875.0, 0.25),
 (344900.0, 8.0, 4.0, 2701.0, 0.08),
 (390000.0, 4.0, 3.0, 2147.0, 1.28),
 (350000.0, 4.0, 2.0, 1328.0, 0.06),
 (350000.0, 4.0, 2.0, 3396.0, 0.09),
 (239900.0, 3.0, 2.0, 1572.0, 0.2),
 (549000.0, 3.0, 2.0, 1764.0, 0.06),
 (260000.0, 3.0, 2.0, 1632.0, 0.34),
 (199900.0, 3.0, 1.0, 1304.0, 0.26),
 (309000.0, 2.0, 1.0, 1100.0, 0.17),
 (330000.0, 5.0, 2.0, 1536.0, 0.15),
 (170000.0, 3.0, 1.0, 1008.0, 0.18),
 (1275000.0, 12.0, 6.0, 4131.0, 0.06),
 (397000.0, 2.0, 2.0, 2000.0, 0.51),
 (394000.0, 3.0, 2.0, 1440.0, 0.57),
 (479900.0, 3.0, 2.0, 2448.0, 7.9),
 (459900.0, 4.0, 2.0, 1882.0, 0.16),
 (575000.0, 3.0, 3.0, 1626.0, 0.52),
 (295000.0, 9.0, 4.0, 4311.0, 0.23),
 (773261.0, 4.0, 5.0, 3319.0, 2.3),
 (359000.0, 3.0, 2.0, 2046.0, 0.8),
 (419000.0, 3.0, 1.0, 1220.0, 0.22),
 (599900.0, 3.0, 2.0, 1511.0, 0.09),
 (649000.0, 4.0, 4.0, 1980.0, 12.8),
 (250000.0, 2.0, 2.0, 960.0, 2.07),
 (2325000.0, 3.0, 3.0, 1686.0, 0.04),
 (539000.0, 3.0, 4.0, 3577.0, 1.11),
 (529900.0, 10.0, 4.0, 6840.0, 0.43),
 (690000.0, 2.0, 3.0, 2070.0, 0.23),
 (289900.0, 3.0, 2.0, 1655.0, 0.59),
 (465000.0, 3.0, 2.0, 1720.0, 0.31),
 (349900.0, 3.0, 1.0, 1178.0, 0.09),
 (3250000.0, 3.0, 2.0, 1108.0, 0.07),
 (539900.0, 4.0, 2.0, 1755.0, 0.18),
 (229900.0, 5.0, 2.0, 1824.0, 0.06),
 (799900.0, 3.0, 3.0, 2700.0, 2.9),
 (220000.0, 4.0, 2.0, 1328.0, 0.08),
 (264900.0, 6.0, 3.0, 3296.0, 0.11),
 (345000.0, 9.0, 3.0, 3479.0, 0.16),
 (459900.0, 4.0, 2.0, 1662.0, 0.58),
 (275000.0, 2.0, 3.0, 1320.0, 0.65),
 (650000.0, 1.0, 1.0, 1022.0, 0.02),
 (350000.0, 3.0, 2.0, 1568.0, 0.28),
 (565000.0, 12.0, 6.0, 8340.0, 0.15),
 (749900.0, 5.0, 6.0, 2400.0, 1.0),
 (274900.0, 3.0, 2.0, 2125.0, 1.48),
 (349900.0, 3.0, 3.0, 1300.0, 0.5),
 (199900.0, 2.0, 2.0, 1159.0, 0.17),
 (548000.0, 3.0, 2.0, 2780.0, 2.9),
 (350000.0, 2.0, 2.0, 1060.0, 0.35),
 (409900.0, 4.0, 1.0, 1540.0, 0.23),
 (824900.0, 2.0, 2.0, 1334.0, 0.12),
 (499000.0, 2.0, 2.0, 1032.0, 0.23),
 (1365000.0, 4.0, 4.0, 2831.0, 0.46),
 (449000.0, 3.0, 2.0, 2276.0, 2.75),
 (474900.0, 4.0, 2.0, 1992.0, 1.03),
 (679000.0, 3.0, 2.0, 1757.0, 0.11),
 (1275000.0, 3.0, 4.0, 3631.0, 2.14),
 (580000.0, 3.0, 3.0, 3704.0, 0.37),
 (350000.0, 8.0, 4.0, 2072.0, 0.25),
 (459900.0, 3.0, 2.0, 1270.0, 0.31),
 (399900.0, 3.0, 3.0, 2142.0, 2.01),
 (1150000.0, 6.0, 2.0, 2638.0, 0.1),
 (139000.0, 2.0, 1.0, 600.0, 0.12),
 (258500.0, 2.0, 1.0, 832.0, 0.18),
 (129900.0, 4.0, 2.0, 1712.0, 0.2),
 (349900.0, 3.0, 3.0, 1478.0, 0.28),
 (259000.0, 4.0, 2.0, 1752.0, 0.14),
 (4975000.0, 5.0, 7.0, 8401.0, 4.76),
 (209900.0, 2.0, 1.0, 1661.0, 0.99),
 (250000.0, 1.0, 2.0, 758.0, 0.56),
 (499900.0, 5.0, 2.0, 2214.0, 0.13),
 (549000.0, 4.0, 2.0, 2308.0, 0.34),
 (330000.0, 4.0, 3.0, 1701.0, 0.18),
 (75000.0, 3.0, 1.0, 1002.0, 0.58),
 (295000.0, 3.0, 3.0, 1619.0, 3.91),
 (999999.0, 4.0, 3.0, 3079.0, 0.58),
 (310000.0, 3.0, 1.0, 1384.0, 0.22),
 (315000.0, 2.0, 2.0, 1215.0, 3.8),
 (299900.0, 2.0, 1.0, 1100.0, 0.15),
 (1548000.0, 4.0, 5.0, 3450.0, 0.48),
 (325000.0, 3.0, 2.0, 1336.0, 0.54),
 (585000.0, 3.0, 2.0, 1947.0, 0.23),
 (185000.0, 6.0, 2.0, 3155.0, 0.16),
 (224900.0, 3.0, 2.0, 1256.0, 0.1),
 (519900.0, 3.0, 2.0, 1332.0, 0.17),
 (879000.0, 4.0, 3.0, 2600.0, 0.12),
 (175000.0, 2.0, 2.0, 956.0, 0.1),
 (299900.0, 3.0, 1.0, 1008.0, 0.23),
 (599999.0, 3.0, 3.0, 2042.0, 0.31),
 (174900.0, 4.0, 2.0, 1620.0, 0.19),
 (400000.0, 3.0, 1.0, 1572.0, 0.19),
 (389900.0, 3.0, 3.0, 2152.0, 0.51),
 (309900.0, 4.0, 3.0, 1319.0, 0.28),
 (475000.0, 2.0, 2.0, 1411.0, 0.14),
 (199900.0, 4.0, 1.0, 1238.0, 0.33),
 (279900.0, 4.0, 3.0, 1498.0, 0.57),
 (289000.0, 5.0, 2.0, 1980.0, 0.17),
 (1295000.0, 5.0, 3.0, 3487.0, 2.76),
 (235000.0, 3.0, 1.0, 1416.0, 0.15),
 (149000.0, 4.0, 2.0, 2582.0, 0.25),
 (379000.0, 3.0, 2.0, 1568.0, 0.4),
 (1575000.0, 4.0, 3.0, 4000.0, 0.36),
 (429900.0, 3.0, 2.0, 1873.0, 0.89),
 (139900.0, 3.0, 2.0, 1683.0, 0.11),
 (550000.0, 9.0, 3.0, 4353.0, 0.09),
 (525000.0, 4.0, 3.0, 2816.0, 1.0),
 (289000.0, 6.0, 3.0, 3189.0, 0.13),
 (350000.0, 3.0, 3.0, 1373.0, 0.11),
 (535000.0, 3.0, 2.0, 1968.0, 0.34),
 (1995000.0, 4.0, 6.0, 7281.0, 0.99),
 (299000.0, 4.0, 2.0, 2142.0, 0.03),
 (675000.0, 3.0, 3.0, 2721.0, 3.64),
 (2199000.0, 6.0, 8.0, 6429.0, 1.08),
 (387000.0, 3.0, 2.0, 1589.0, 1.2),
 (2399000.0, 4.0, 4.0, 3499.0, 1.02),
 (317500.0, 3.0, 2.0, 1175.0, 0.1),
 (2750000.0, 2.0, 4.0, 3076.0, 0.12),
 (699000.0, 2.0, 1.0, 423.0, 0.55),
 (590000.0, 3.0, 1.0, 1024.0, 0.02),
 (899900.0, 4.0, 3.0, 1751.0, 0.46),
 (140000.0, 3.0, 3.0, 2643.0, 0.39),
 (149000.0, 2.0, 1.0, 784.0, 1.0),
 (675000.0, 4.0, 2.0, 2317.0, 0.29),
 (1065000.0, 4.0, 4.0, 3758.0, 0.23),
 (334900.0, 3.0, 3.0, 1396.0, 5.06),
 (114900.0, 3.0, 2.0, 1280.0, 0.05),
 (499000.0, 3.0, 2.0, 1348.0, 0.16),
 (319900.0, 3.0, 2.0, 3387.0, 0.94),
 (699900.0, 4.0, 4.0, 3400.0, 0.74),
 (644900.0, 3.0, 3.0, 2804.0, 0.93),
 (260000.0, 3.0, 1.0, 1235.0, 0.09),
 (359900.0, 3.0, 1.0, 1196.0, 0.33),
 (209900.0, 2.0, 1.0, 620.0, 0.12),
 (320000.0, 9.0, 2.0, 2634.0, 0.3),
 (574900.0, 3.0, 2.0, 1428.0, 0.19),
 (599900.0, 4.0, 4.0, 2365.0, 0.48),
 (174900.0, 6.0, 4.0, 1664.0, 0.19),
 (295000.0, 2.0, 1.0, 1105.0, 0.2),
 (275000.0, 3.0, 2.0, 1225.0, 0.07),
 (599900.0, 5.0, 4.0, 4024.0, 1.53),
 (465000.0, 3.0, 3.0, 2370.0, 1.2),
 (849000.0, 3.0, 2.0, 1909.0, 0.07),
 (769000.0, 3.0, 2.0, 1550.0, 0.17),
 (579900.0, 4.0, 3.0, 1918.0, 0.7),
 (999900.0, 4.0, 3.0, 1400.0, 1.31),
 (269000.0, 5.0, 2.0, 2040.0, 0.16),
 (379900.0, 3.0, 1.0, 1092.0, 0.42),
 (400000.0, 4.0, 3.0, 2902.0, 1.09),
 (665000.0, 5.0, 2.0, 2164.0, 0.19),
 (875000.0, 3.0, 3.0, 1894.0, 0.12),
 (1575000.0, 3.0, 6.0, 4000.0, 0.41),
 (459000.0, 4.0, 3.0, 2726.0, 3.46),
 (229900.0, 4.0, 1.0, 2116.0, 6.7),
 (2495000.0, 5.0, 5.0, 7700.0, 0.97),
 (949900.0, 3.0, 3.0, 1728.0, 0.13),
 (439000.0, 4.0, 3.0, 1538.0, 0.47),
 (669900.0, 5.0, 3.0, 3280.0, 0.26),
 (340000.0, 4.0, 3.0, 2388.0, 0.44),
 (189900.0, 2.0, 1.0, 846.0, 0.45),
 (449600.0, 3.0, 3.0, 1402.0, 1.52),
 (195000.0, 2.0, 1.0, 1320.0, 5.0),
 (390000.0, 4.0, 3.0, 1440.0, 0.18),
 (798999.0, 4.0, 4.0, 3524.0, 1.01),
 (13600000.0, 5.0, 7.0, 5079.0, 1.68),
 (649000.0, 3.0, 2.0, 1352.0, 0.11),
 (399900.0, 4.0, 2.0, 2149.0, 0.36),
 (574900.0, 3.0, 3.0, 3176.0, 0.67),
 (1299000.0, 4.0, 5.0, 4323.0, 0.32),
 (379900.0, 4.0, 2.0, 1988.0, 0.62),
 (519000.0, 5.0, 4.0, 2903.0, 0.29),
 (549900.0, 3.0, 2.0, 1700.0, 0.28),
 (6249000.0, 7.0, 9.0, 9000.0, 0.57),
 (615000.0, 2.0, 2.0, 1644.0, 0.13),
 (929000.0, 4.0, 3.0, 2665.0, 0.47),
 (8250000.0, 3.0, 4.0, 2864.0, 0.07),
 (299000.0, 6.0, 3.0, 4188.0, 0.18),
 (1995999.0, 9.0, 6.0, 3750.0, 0.09),
 (499000.0, 5.0, 3.0, 2400.0, 0.23),
 (219900.0, 4.0, 1.0, 1544.0, 0.16),
 (1165000.0, 4.0, 3.0, 2418.0, 0.7),
 (329900.0, 6.0, 4.0, 2432.0, 1.45),
 (160000.0, 6.0, 2.0, 1613.0, 0.17),
 (1089000.0, 4.0, 4.0, 2866.0, 14.32),
 (525000.0, 4.0, 2.0, 1805.0, 0.21),
 (390000.0, 3.0, 2.0, 1810.0, 22.69),
 (164999.0, 5.0, 2.0, 1945.0, 0.08),
 (519999.0, 2.0, 2.0, 1368.0, 0.68),
 (699000.0, 5.0, 4.0, 3040.0, 0.28),
 (12750000.0, 8.0, 8.0, 5085.0, 0.45),
 (650000.0, 3.0, 2.0, 1676.0, 0.15),
 (679900.0, 3.0, 3.0, 1706.0, 0.28),
 (284000.0, 4.0, 2.0, 2028.0, 3.5),
 (259900.0, 5.0, 2.0, 1666.0, 0.63),
 (1069000.0, 3.0, 2.0, 1152.0, 0.12),
 (5800000.0, 6.0, 5.0, 5432.0, 0.13),
 (395000.0, 4.0, 1.0, 1360.0, 0.3),
 (1350000.0, 7.0, 5.0, 4605.0, 2.62),
 (329900.0, 2.0, 2.0, 1260.0, 0.38),
 (8900000.0, 5.0, 6.0, 4569.0, 0.79),
 (23750000.0, 6.0, 9.0, 7609.0, 6.24),
 (2250000.0, 5.0, 5.0, 5677.0, 0.37),
 (384900.0, 4.0, 3.0, 2400.0, 0.36),
 (170000.0, 3.0, 2.0, 2164.0, 0.5),
 (219900.0, 2.0, 2.0, 1139.0, 0.11),
 (449000.0, 3.0, 1.0, 1627.0, 0.18),
 (440000.0, 2.0, 2.0, 1040.0, 0.2),
 (230000.0, 2.0, 1.0, 572.0, 0.18),
 (725000.0, 3.0, 2.0, 4096.0, 2.0),
 (895000.0, 3.0, 2.0, 1116.0, 0.08),
 (12900000.0, 4.0, 9.0, 8122.0, 1.92),
 (529900.0, 3.0, 2.0, 2106.0, 0.36),
 (260000.0, 4.0, 2.0, 1944.0, 1.1),
 (557900.0, 3.0, 2.0, 1696.0, 0.24),
 (299900.0, 6.0, 3.0, 3133.0, 0.28),
 (224900.0, 4.0, 2.0, 1210.0, 0.51),
 (200000.0, 3.0, 1.0, 1344.0, 0.35),
 (2599000.0, 2.0, 3.0, 1840.0, 0.04),
 (225000.0, 3.0, 1.0, 1536.0, 0.1),
 (179900.0, 5.0, 2.0, 1892.0, 0.11),
 (387000.0, 4.0, 3.0, 1964.0, 1.7),
 (849900.0, 3.0, 3.0, 2300.0, 2.01),
 (249000.0, 4.0, 2.0, 1054.0, 0.13),
 (1896000.0, 6.0, 5.0, 4828.0, 0.98),
 (429900.0, 4.0, 2.0, 1918.0, 0.64),
 (299900.0, 3.0, 2.0, 1680.0, 0.38),
 (139900.0, 3.0, 1.0, 1180.0, 0.17),
 (295000.0, 4.0, 2.0, 1683.0, 0.22),
 (775000.0, 3.0, 2.0, 1075.0, 0.13),
 (995000.0, 3.0, 2.0, 1008.0, 0.08),
 (399900.0, 3.0, 2.0, 1752.0, 0.23),
 (299900.0, 2.0, 1.0, 1256.0, 0.28),
 (319900.0, 2.0, 1.0, 852.0, 0.18),
 (429900.0, 4.0, 4.0, 2032.0, 0.44),
 (869000.0, 3.0, 3.0, 2512.0, 0.08),
 (265000.0, 1.0, 2.0, 1680.0, 0.12),
 (570000.0, 3.0, 3.0, 1141.0, 0.11),
 (1149000.0, 5.0, 4.0, 3224.0, 0.22),
 (319900.0, 4.0, 3.0, 2202.0, 0.35),
 (2475000.0, 5.0, 4.0, 4612.0, 2.09),
 (399900.0, 7.0, 3.0, 4190.0, 0.09),
 (399000.0, 4.0, 2.0, 1344.0, 0.19),
 (535000.0, 4.0, 2.0, 2040.0, 0.54),
 (329900.0, 3.0, 2.0, 1236.0, 1.0),
 (139900.0, 1.0, 1.0, 766.0, 0.25),
 (259000.0, 2.0, 1.0, 728.0, 0.15),
 (309000.0, 3.0, 1.0, 1040.0, 0.8),
 (1550000.0, 4.0, 3.0, 1942.0, 0.09),
 (288000.0, 3.0, 3.0, 1716.0, 0.25),
 (359000.0, 4.0, 2.0, 1516.0, 0.46),
 (324900.0, 3.0, 3.0, 1352.0, 0.1),
 (310000.0, 3.0, 1.0, 1092.0, 0.11),
 (419900.0, 3.0, 2.0, 1806.0, 0.15),
 (235000.0, 4.0, 2.0, 1440.0, 0.09),
 (8500000.0, 9.0, 11.0, 12437.0, 2.83),
 (449900.0, 4.0, 2.0, 1872.0, 0.38),
 (3199000.0, 8.0, 6.0, 5217.0, 0.11),
 (1950000.0, 4.0, 6.0, 4726.0, 0.86),
 (339900.0, 3.0, 2.0, 1444.0, 0.37),
 (3500000.0, 5.0, 5.0, 3913.0, 0.52),
 (379900.0, 3.0, 1.0, 1126.0, 0.03),
 (825000.0, 3.0, 2.0, 2494.0, 0.74),
 (249900.0, 3.0, 2.0, 1824.0, 0.27),
 (1085000.0, 6.0, 3.0, 3008.0, 0.07),
 (299900.0, 3.0, 2.0, 1850.0, 0.31),
 (307900.0, 3.0, 2.0, 1905.0, 1.1),
 (550000.0, 4.0, 2.0, 2408.0, 0.59),
 (224900.0, 1.0, 1.0, 946.0, 0.02),
 (1200000.0, 3.0, 2.0, 3109.0, 8.5),
 (325000.0, 4.0, 2.0, 1592.0, 0.14),
 (154500.0, 3.0, 1.0, 1156.0, 0.11),
 (204900.0, 3.0, 2.0, 1291.0, 0.11),
 (100000.0, 2.0, 2.0, 850.0, 0.08),
 (739900.0, 3.0, 2.0, 1392.0, 0.13),
 (1200000.0, 5.0, 6.0, 4639.0, 2.8),
 (475000.0, 3.0, 3.0, 1508.0, 1.39),
 (1695000.0, 4.0, 4.0, 3104.0, 5.0),
 (350000.0, 3.0, 2.0, 1600.0, 0.1),
 (740000.0, 5.0, 3.0, 2631.0, 0.17),
 (374900.0, 2.0, 1.0, 1121.0, 0.11),
 (649000.0, 3.0, 2.0, 1764.0, 0.18),
 (599900.0, 4.0, 3.0, 2056.0, 0.35),
 (285000.0, 3.0, 2.0, 1008.0, 0.07),
 (3350000.0, 3.0, 3.0, 2220.0, 0.05),
 (289900.0, 3.0, 2.0, 1770.0, 0.39),
 (1999500.0, 5.0, 5.0, 6518.0, 45.8),
 (309000.0, 6.0, 2.0, 2752.0, 0.17),
 (279900.0, 3.0, 1.0, 1456.0, 0.13),
 (300000.0, 8.0, 3.0, 3579.0, 0.14),
 (189900.0, 2.0, 1.0, 841.0, 0.12),
 (359900.0, 3.0, 2.0, 1152.0, 0.32),
 (549000.0, 3.0, 2.0, 1527.0, 0.4),
 (599900.0, 2.0, 2.0, 1712.0, 0.02),
 (427000.0, 2.0, 2.0, 1295.0, 0.47),
 (379900.0, 3.0, 2.0, 1470.0, 0.34),
 (270000.0, 3.0, 1.0, 1188.0, 0.72),
 (229000.0, 4.0, 1.0, 1152.0, 0.19),
 (179000.0, 2.0, 2.0, 1469.0, 0.17),
 (460000.0, 3.0, 2.0, 1800.0, 1.66),
 (265000.0, 4.0, 2.0, 1754.0, 0.28),
 (609900.0, 6.0, 4.0, 2128.0, 0.14),
 (209900.0, 3.0, 1.0, 840.0, 0.18),
 (245000.0, 4.0, 2.0, 1540.0, 0.18),
 (249900.0, 3.0, 3.0, 1968.0, 0.17),
 (325000.0, 1.0, 1.0, 686.0, 0.02),
 (795000.0, 3.0, 4.0, 2450.0, 0.22),
 (1175000.0, 2.0, 2.0, 1051.0, 0.13),
 (527900.0, 4.0, 2.0, 1411.0, 0.12),
 (425000.0, 3.0, 1.0, 1602.0, 0.29),
 (649000.0, 4.0, 3.0, 2650.0, 62.0),
 (10950000.0, 6.0, 6.0, 6185.0, 3.17),
 (339900.0, 3.0, 2.0, 1645.0, 0.11),
 (439900.0, 3.0, 3.0, 1248.0, 0.23),
 (429000.0, 3.0, 2.0, 1596.0, 0.63),
 (375000.0, 4.0, 2.0, 1680.0, 0.11),
 (499900.0, 6.0, 3.0, 1734.0, 0.56),
 (699900.0, 3.0, 3.0, 2319.0, 0.75),
 (189900.0, 2.0, 2.0, 1022.0, 0.18),
 (199999.0, 3.0, 1.0, 1104.0, 0.34),
 (259900.0, 3.0, 2.0, 1840.0, 0.21),
 (339000.0, 4.0, 1.0, 1368.0, 2.02),
 (324900.0, 4.0, 2.0, 1270.0, 0.23),
 (349000.0, 3.0, 2.0, 1038.0, 0.16),
 (629900.0, 4.0, 4.0, 2736.0, 0.72),
 (649000.0, 4.0, 2.0, 2160.0, 0.12),
 (65000.0, 1.0, 1.0, 634.0, 0.4),
 (890000.0, 3.0, 3.0, 1839.0, 0.17),

In [38]:
house_tb_df.columns

Index(['price', 'bed', 'bath', 'house_size', 'acre_lot'], dtype='object')

In [39]:
cols = list(house_tb_df.columns)
cols

['price', 'bed', 'bath', 'house_size', 'acre_lot']

In [40]:
for elt in tuples:
    elts = "INSERT INTO house("+cols[0]+","+cols[1]+","+cols[2]+","+cols[3]+","+cols[4]+") VALUES(%s, %s, %s, %s, %s)"
    quer=(elt[0],elt[1],elt[2],elt[3],elt[4])
    print(quer)
    print(elts)
    with conn.cursor() as cur:
        cur.execute(elts,quer)
        conn.commit()

(239999.0, 3.0, 1.0, 924.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 4.0, 4.0, 3577.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 7.0, 4.0, 3373.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274999.0, 3.0, 2.0, 1112.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 1.0, 1200.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299999.0, 4.0, 2.0, 1645.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(198000.0, 3.0, 1.0, 876.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 9.0, 9.0, 4940.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(839500.0, 3.0, 2.0, 812.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(11890000.0, 11.0, 6.0, 5850.0, 85.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(217900.0, 2.0, 1.0, 1040.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 3.0, 1964.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(669000.0, 4.0, 3.0, 2560.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 1.0, 1149.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 2.0, 1.0, 950.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1579900.0, 5.0, 4.0, 5291.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(985000.0, 9.0, 3.0, 3864.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 2.0, 2.0, 1328.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(494900.0, 3.0, 3.0, 2000.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 1.0, 1100.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1092.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789000.0, 2.0, 1.0, 1004.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 2370.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 3.0, 2583.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 5.0, 3.0, 2328.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 1.0, 1674.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1540.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 2.0, 1210.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999000.0, 4.0, 3.0, 2830.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 3.0, 2468.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849995.0, 4.0, 3.0, 2263.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999900.0, 5.0, 6.0, 5504.0, 1.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3800000.0, 5.0, 7.0, 5700.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 1.0, 1058.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 4.0, 4.0, 2365.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3195000.0, 4.0, 3.0, 4200.0, 3.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(839000.0, 9.0, 9.0, 5358.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(669900.0, 3.0, 3.0, 2228.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 3.0, 1332.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 2.0, 2388.0, 3.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 9.0, 3.0, 4513.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1008.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(670000.0, 4.0, 3.0, 2578.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 8.0, 4.0, 3752.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1107.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 1.0, 1078.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 6.0, 4.0, 2060.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165000.0, 4.0, 2.0, 1857.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 8.0, 3.0, 3156.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 1584.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 5.0, 4.0, 3049.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 2.0, 1.0, 666.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 5.0, 2.0, 1966.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 2.0, 2240.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 2.0, 1344.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 2.0, 2334.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3975000.0, 17.0, 18.0, 7937.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(684500.0, 5.0, 5.0, 4845.0, 3.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1302.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3100000.0, 4.0, 7.0, 5700.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 4.0, 5.0, 3725.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 3.0, 2160.0, 5.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 2.0, 2.0, 992.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 1800.0, 1.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 4.0, 4.0, 3495.0, 2.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 6.0, 4.0, 2864.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 6.0, 2.0, 2518.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1028.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 1824.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 4.0, 6.0, 4943.0, 5.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 5.0, 5.0, 2814.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 4.0, 2.0, 1772.0, 1.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1496.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 1.0, 1.0, 496.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(784900.0, 6.0, 2.0, 2554.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(322500.0, 3.0, 2.0, 1464.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 8.0, 2.0, 3831.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 4.0, 2.0, 1670.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1536.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1244.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 2.0, 1.0, 2133.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(122750.0, 4.0, 2.0, 1978.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 3.0, 2.0, 1871.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 4.0, 2.0, 2146.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 2.0, 1232.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1825000.0, 5.0, 4.0, 3303.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1750000.0, 4.0, 6.0, 4293.0, 1.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1400000.0, 5.0, 3.0, 3347.0, 20.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 2.0, 1.0, 916.0, 4.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789000.0, 3.0, 3.0, 3828.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1700000.0, 7.0, 8.0, 5031.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 4.0, 3.0, 2228.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 4.0, 3.0, 2622.0, 1.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 8.0, 3.0, 3595.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 1489.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199999.0, 4.0, 2.0, 1194.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 5.0, 2.0, 2040.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 3.0, 2352.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1000000.0, 2.0, 2.0, 1282.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1089000.0, 4.0, 4.0, 3131.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 4.0, 1.0, 1165.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 3.0, 3.0, 3488.0, 11.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 2.0, 2.0, 1435.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1700.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 8.0, 3.0, 4424.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1428.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1564.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 1.0, 1014.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 3.0, 1248.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 5.0, 4.0, 4273.0, 49.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 3.0, 2.0, 1067.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 3.0, 1823.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549999.0, 3.0, 3.0, 2012.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 1.0, 1290.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 2.0, 2.0, 777.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2202.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395900.0, 3.0, 2.0, 3182.0, 4.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 3.0, 2.0, 1906.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 1.0, 1242.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 3.0, 3.0, 1998.0, 2.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 4.0, 3252.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 2.0, 2449.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129000.0, 3.0, 1.0, 2926.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(173000.0, 3.0, 2.0, 1374.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1602.0, 2.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 1036.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619900.0, 2.0, 1.0, 800.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 2.0, 1123.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 2.0, 1.0, 1076.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 5.0, 3.0, 2619.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 4.0, 2.0, 1664.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 1.0, 1210.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(655000.0, 3.0, 3.0, 2048.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(305000.0, 3.0, 3.0, 1600.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 2.0, 1.0, 968.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 4.0, 3082.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949900.0, 3.0, 2.0, 2230.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3445000.0, 6.0, 6.0, 9528.0, 3.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1599000.0, 5.0, 5.0, 4711.0, 1.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 2.0, 2.0, 1008.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 2.0, 1248.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 1152.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545000.0, 2.0, 1.0, 704.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 2.0, 2.0, 1196.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 6.0, 2.0, 2288.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 2.0, 2196.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 2372.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 2.0, 1.0, 864.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 1.0, 649.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(134950.0, 3.0, 2.0, 2668.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129900.0, 3.0, 1.0, 1143.0, 2.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 7.0, 3.0, 3744.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 4.0, 2.0, 1768.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 6.0, 7577.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2950000.0, 2.0, 3.0, 2178.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 2.0, 1688.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 2.0, 1.0, 1338.0, 2.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1056.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2195000.0, 4.0, 5.0, 3252.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(985000.0, 3.0, 2.0, 1521.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(252000.0, 3.0, 2.0, 1277.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264999.0, 2.0, 2.0, 1044.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1296.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 3.0, 3148.0, 2.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 3.0, 2.0, 2028.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1320.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 4.0, 2.0, 2421.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299999.0, 3.0, 2.0, 1373.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(605000.0, 3.0, 3.0, 2359.0, 1.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(115000.0, 5.0, 3.0, 2397.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 3.0, 2.0, 1372.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1475000.0, 4.0, 3.0, 4450.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 1.0, 960.0, 0.34)

(1199000.0, 5.0, 5.0, 3528.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 3.0, 2.0, 1834.0, 2.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1700.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299900.0, 4.0, 3.0, 3874.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 3.0, 1461.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 3.0, 4822.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294000.0, 2.0, 1.0, 900.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179500.0, 3.0, 2.0, 2284.0, 4.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 1.0, 1.0, 880.0, 14.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 5.0, 3.0, 4165.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 6.0, 2.0, 2664.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 12.0, 3.0, 4464.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 3.0, 1169.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 2.0, 1536.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 2.0, 1075.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(859000.0, 8.0, 4.0, 3204.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(620000.0, 3.0, 3.0, 2488.0, 3.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1900.0, 4.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 5.0, 2.0, 1632.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1209.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1175000.0, 3.0, 3.0, 1956.0, 4.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 9.0, 3.0, 3861.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409000.0, 3.0, 3.0, 1875.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(344900.0, 8.0, 4.0, 2701.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 4.0, 3.0, 2147.0, 1.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 2.0, 1328.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 2.0, 3396.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1572.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1764.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 3.0, 2.0, 1632.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1304.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 2.0, 1.0, 1100.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 5.0, 2.0, 1536.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 3.0, 1.0, 1008.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1275000.0, 12.0, 6.0, 4131.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(397000.0, 2.0, 2.0, 2000.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(394000.0, 3.0, 2.0, 1440.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 2.0, 2448.0, 7.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 2.0, 1882.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 3.0, 1626.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 9.0, 4.0, 4311.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(773261.0, 4.0, 5.0, 3319.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 3.0, 2.0, 2046.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 3.0, 1.0, 1220.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1511.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 4.0, 4.0, 1980.0, 12.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 2.0, 960.0, 2.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2325000.0, 3.0, 3.0, 1686.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 3.0, 4.0, 3577.0, 1.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 10.0, 4.0, 6840.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(690000.0, 2.0, 3.0, 2070.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1655.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 2.0, 1720.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1178.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3250000.0, 3.0, 2.0, 1108.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 4.0, 2.0, 1755.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 5.0, 2.0, 1824.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 2700.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 4.0, 2.0, 1328.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 6.0, 3.0, 3296.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 9.0, 3.0, 3479.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 2.0, 1662.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 3.0, 1320.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 1.0, 1.0, 1022.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1568.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 12.0, 6.0, 8340.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 5.0, 6.0, 2400.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 2125.0, 1.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 3.0, 1300.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 2.0, 1159.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(548000.0, 3.0, 2.0, 2780.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 2.0, 2.0, 1060.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 4.0, 1.0, 1540.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(824900.0, 2.0, 2.0, 1334.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 2.0, 2.0, 1032.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1365000.0, 4.0, 4.0, 2831.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 2276.0, 2.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 4.0, 2.0, 1992.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679000.0, 3.0, 2.0, 1757.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1275000.0, 3.0, 4.0, 3631.0, 2.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(580000.0, 3.0, 3.0, 3704.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 8.0, 4.0, 2072.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1270.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 2142.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 6.0, 2.0, 2638.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139000.0, 2.0, 1.0, 600.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(258500.0, 2.0, 1.0, 832.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129900.0, 4.0, 2.0, 1712.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 3.0, 1478.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 4.0, 2.0, 1752.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4975000.0, 5.0, 7.0, 8401.0, 4.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 2.0, 1.0, 1661.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 1.0, 2.0, 758.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 2.0, 2214.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 4.0, 2.0, 2308.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 4.0, 3.0, 1701.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(75000.0, 3.0, 1.0, 1002.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 3.0, 1619.0, 3.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999999.0, 4.0, 3.0, 3079.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 1.0, 1384.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 2.0, 2.0, 1215.0, 3.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 1.0, 1100.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1548000.0, 4.0, 5.0, 3450.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1336.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 3.0, 2.0, 1947.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 6.0, 2.0, 3155.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1256.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 1332.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879000.0, 4.0, 3.0, 2600.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 2.0, 2.0, 956.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1008.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599999.0, 3.0, 3.0, 2042.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174900.0, 4.0, 2.0, 1620.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 3.0, 1.0, 1572.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 3.0, 2152.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 4.0, 3.0, 1319.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 2.0, 2.0, 1411.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 1.0, 1238.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 3.0, 1498.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 5.0, 2.0, 1980.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 5.0, 3.0, 3487.0, 2.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 1.0, 1416.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149000.0, 4.0, 2.0, 2582.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 2.0, 1568.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1575000.0, 4.0, 3.0, 4000.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 2.0, 1873.0, 0.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 3.0, 2.0, 1683.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 9.0, 3.0, 4353.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 3.0, 2816.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 6.0, 3.0, 3189.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 3.0, 1373.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 3.0, 2.0, 1968.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 4.0, 6.0, 7281.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 4.0, 2.0, 2142.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 3.0, 2721.0, 3.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2199000.0, 6.0, 8.0, 6429.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(387000.0, 3.0, 2.0, 1589.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2399000.0, 4.0, 4.0, 3499.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(317500.0, 3.0, 2.0, 1175.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2750000.0, 2.0, 4.0, 3076.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 2.0, 1.0, 423.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(590000.0, 3.0, 1.0, 1024.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 3.0, 1751.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(140000.0, 3.0, 3.0, 2643.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149000.0, 2.0, 1.0, 784.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 2.0, 2317.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1065000.0, 4.0, 4.0, 3758.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 3.0, 1396.0, 5.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(114900.0, 3.0, 2.0, 1280.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1348.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 2.0, 3387.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3400.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(644900.0, 3.0, 3.0, 2804.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 3.0, 1.0, 1235.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 1.0, 1196.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 2.0, 1.0, 620.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 9.0, 2.0, 2634.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 3.0, 2.0, 1428.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 4.0, 2365.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174900.0, 6.0, 4.0, 1664.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 2.0, 1.0, 1105.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1225.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 5.0, 4.0, 4024.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 3.0, 2370.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 3.0, 2.0, 1909.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(769000.0, 3.0, 2.0, 1550.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 1918.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999900.0, 4.0, 3.0, 1400.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 5.0, 2.0, 2040.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1092.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 3.0, 2902.0, 1.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(665000.0, 5.0, 2.0, 2164.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 3.0, 3.0, 1894.0, 0.12)

INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 2.0, 1.0, 852.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 4.0, 4.0, 2032.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 3.0, 3.0, 2512.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 1.0, 2.0, 1680.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(570000.0, 3.0, 3.0, 1141.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149000.0, 5.0, 4.0, 3224.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 3.0, 2202.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2475000.0, 5.0, 4.0, 4612.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 7.0, 3.0, 4190.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 1344.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 4.0, 2.0, 2040.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1236.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 1.0, 1.0, 766.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 2.0, 1.0, 728.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 3.0, 1.0, 1040.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1550000.0, 4.0, 3.0, 1942.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(288000.0, 3.0, 3.0, 1716.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 4.0, 2.0, 1516.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 3.0, 1352.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 1.0, 1092.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 2.0, 1806.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 4.0, 2.0, 1440.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8500000.0, 9.0, 11.0, 12437.0, 2.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 2.0, 1872.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3199000.0, 8.0, 6.0, 5217.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1950000.0, 4.0, 6.0, 4726.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1444.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3500000.0, 5.0, 5.0, 3913.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1126.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 2.0, 2494.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1824.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1085000.0, 6.0, 3.0, 3008.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1850.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(307900.0, 3.0, 2.0, 1905.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 4.0, 2.0, 2408.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 1.0, 1.0, 946.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 3.0, 2.0, 3109.0, 8.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 2.0, 1592.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(154500.0, 3.0, 1.0, 1156.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(204900.0, 3.0, 2.0, 1291.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(100000.0, 2.0, 2.0, 850.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 3.0, 2.0, 1392.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 5.0, 6.0, 4639.0, 2.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 3.0, 1508.0, 1.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1695000.0, 4.0, 4.0, 3104.0, 5.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1600.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(740000.0, 5.0, 3.0, 2631.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 2.0, 1.0, 1121.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 2.0, 1764.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 3.0, 2056.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 2.0, 1008.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3350000.0, 3.0, 3.0, 2220.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1770.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999500.0, 5.0, 5.0, 6518.0, 45.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 6.0, 2.0, 2752.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 1.0, 1456.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 8.0, 3.0, 3579.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 841.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1152.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1527.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 2.0, 2.0, 1712.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(427000.0, 2.0, 2.0, 1295.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1470.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 3.0, 1.0, 1188.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 4.0, 1.0, 1152.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179000.0, 2.0, 2.0, 1469.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(460000.0, 3.0, 2.0, 1800.0, 1.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 4.0, 2.0, 1754.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(609900.0, 6.0, 4.0, 2128.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 1.0, 840.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 4.0, 2.0, 1540.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 3.0, 1968.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 1.0, 1.0, 686.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(795000.0, 3.0, 4.0, 2450.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1175000.0, 2.0, 2.0, 1051.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(527900.0, 4.0, 2.0, 1411.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 1.0, 1602.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 4.0, 3.0, 2650.0, 62.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(10950000.0, 6.0, 6.0, 6185.0, 3.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1645.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 3.0, 1248.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 2.0, 1596.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 2.0, 1680.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 6.0, 3.0, 1734.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 3.0, 2319.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 2.0, 1022.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199999.0, 3.0, 1.0, 1104.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1840.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 4.0, 1.0, 1368.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 2.0, 1270.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1038.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 4.0, 4.0, 2736.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 4.0, 2.0, 2160.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(65000.0, 1.0, 1.0, 634.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(890000.0, 3.0, 3.0, 1839.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 8.0, 3.0, 4512.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1056.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1265.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 3.0, 2210.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 1238.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1760.0, 2.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 2.0, 1.0, 1568.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 4.0, 3.0, 2564.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299900.0, 4.0, 4.0, 4121.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 6.0, 4.0, 7105.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1430000.0, 5.0, 6.0, 5972.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 4.0, 2.0, 1100.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 2.0, 1.0, 1080.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 1.0, 1050.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(124800.0, 3.0, 2.0, 1536.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(965000.0, 3.0, 2.0, 1545.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 2.0, 1.0, 872.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 3.0, 1400.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1412.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 13.0, 14.0, 6290.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(460000.0, 4.0, 1.0, 1607.0, 1.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 4.0, 4.0, 3086.0, 2.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(430000.0, 3.0, 1.0, 1044.0, 1.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 4.0, 2.0, 2466.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 1.0, 996.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 5.0, 3.0, 1867.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 2.0, 1199.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 2.0, 1342.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 2.0, 1300.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 1.0, 1.0, 5104.0, 2.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(251100.0, 3.0, 2.0, 1242.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1850000.0, 5.0, 4.0, 4007.0, 20.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 3.0, 3.0, 2952.0, 3.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 2.0, 1856.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 5.0, 3.0, 2552.0, 3.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 1.0, 1625.0, 3.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 1.0, 1103.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(929000.0, 1.0, 1.0, 1087.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(248900.0, 3.0, 2.0, 1174.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 3.0, 4.0, 2730.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 3.0, 2302.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 2.0, 2.0, 1190.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 1.0, 1320.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(410000.0, 4.0, 3.0, 2155.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2850000.0, 4.0, 4.0, 3387.0, 31.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(440000.0, 3.0, 2.0, 1047.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 4.0, 2.0, 1568.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 7.0, 2.0, 2600.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2699000.0, 4.0, 3.0, 2200.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 2.0, 1048.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 1512.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1098306.0, 4.0, 3.0, 2838.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 2.0, 1404.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 1.0, 1.0, 550.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 4.0, 2.0, 1868.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 1.0, 968.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1834.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 1.0, 1500.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185900.0, 2.0, 1.0, 1201.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545000.0, 3.0, 3.0, 2240.0, 13.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 1.0, 1.0, 1100.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 3.0, 2.0, 1632.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 3.0, 3.0, 2500.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 4.0, 1.0, 1296.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 2.0, 2.0, 1183.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999000.0, 4.0, 4.0, 3987.0, 9.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569900.0, 3.0, 3.0, 1900.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(15300000.0, 7.0, 7.0, 5709.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1152.0, 2.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1008.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 6.0, 3720.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1049900.0, 4.0, 1.0, 1400.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 5.0, 3.0, 2080.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 2.0, 1.0, 1119.0, 15.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 8.0, 2.0, 2658.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(935000.0, 4.0, 2.0, 1830.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 2.0, 2.0, 2087.0, 1.0)

(1875000.0, 4.0, 3.0, 3090.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(89000.0, 2.0, 1.0, 784.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 1.0, 1200.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1050000.0, 4.0, 4.0, 2800.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(445000.0, 3.0, 3.0, 1999.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 1.0, 1337.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879900.0, 4.0, 3.0, 4360.0, 10.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 3.0, 1.0, 1188.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119900.0, 3.0, 2.0, 1144.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 1440.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 3.0, 2.0, 1600.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 4.0, 3.0, 1661.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(609900.0, 3.0, 2.0, 1811.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174000.0, 3.0, 1.0, 1258.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 4.0, 3.0, 1281.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1344.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 3.0, 2.0, 1248.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 2.0, 1492.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1850.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 2.0, 1.0, 970.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 2.0, 1.0, 1332.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 1532.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 6.0, 2.0, 2318.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2985000.0, 6.0, 7.0, 6005.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 3.0, 1.0, 1360.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399999.0, 3.0, 1.0, 1348.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 3.0, 1.0, 1236.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 4.0, 1789.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3875000.0, 3.0, 4.0, 4525.0, 2.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 3.0, 1556.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1695000.0, 5.0, 5.0, 3380.0, 5.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(184900.0, 3.0, 3.0, 1408.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 1.0, 1248.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 3.0, 1708.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244900.0, 3.0, 2.0, 1181.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 6.0, 3.0, 3200.0, 6.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 1.0, 1.0, 1191.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 4.0, 2.0, 2028.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 2.0, 2.0, 1916.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1224.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 4.0, 2.0, 1529.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 2.0, 2316.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(213000.0, 3.0, 2.0, 1564.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759000.0, 5.0, 2.0, 4510.0, 1.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 4.0, 3.0, 2566.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1600000.0, 4.0, 2.0, 5056.0, 3.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439500.0, 4.0, 3.0, 2468.0, 3.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 9.0, 3.0, 5391.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(785000.0, 4.0, 4.0, 2744.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1675000.0, 8.0, 3.0, 4723.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 1.0, 1.0, 688.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 6.0, 3.0, 2274.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 2.0, 2050.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 3.0, 2260.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 749.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 3.0, 3.0, 2411.0, 1.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(445000.0, 8.0, 6.0, 8369.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 3.0, 1350.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 3.0, 3136.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 4.0, 3366.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(398900.0, 3.0, 2.0, 1132.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 3.0, 2.0, 1944.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 2069.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615900.0, 4.0, 2.0, 4511.0, 1.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 2080.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1911.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 3.0, 3948.0, 4.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 3.0, 1.0, 1314.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 5.0, 3.0, 4081.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2664.0, 1.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829900.0, 3.0, 3.0, 2900.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1430.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 1048.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 3.0, 3176.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 3.0, 2.0, 1566.0, 1.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 3.0, 2036.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1049900.0, 4.0, 3.0, 3610.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 3.0, 2.0, 1710.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 1.0, 864.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 2.0, 1.0, 986.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1500.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1402.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(648000.0, 4.0, 2.0, 1730.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 6.0, 4.0, 4314.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299999.0, 3.0, 1.0, 1620.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129900.0, 2.0, 1.0, 1638.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3895000.0, 4.0, 5.0, 5500.0, 2.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1565000.0, 4.0, 5.0, 4667.0, 1.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 5.0, 3.0, 2600.0, 6.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335900.0, 3.0, 2.0, 1666.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 4.0, 3.0, 2771.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 8.0, 3.0, 4841.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319999.0, 3.0, 3.0, 1488.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 3.0, 3.0, 2184.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 2.0, 1.0, 952.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 2.0, 1809.0, 1.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1056.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1096.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 4.0, 4.0, 4021.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 9.0, 3.0, 3503.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 1.0, 1435.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 3.0, 2127.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 4.0, 2.0, 1806.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 4.0, 4.0, 2906.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 2.0, 1271.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 1544.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 1.0, 1.0, 765.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 4.0, 2.0, 1104.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 3.0, 2243.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(298500.0, 3.0, 1.0, 960.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2290.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 4.0, 2.0, 1904.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 1192.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349800.0, 1.0, 1.0, 560.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289500.0, 3.0, 2.0, 1750.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(745900.0, 3.0, 3.0, 2765.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 5.0, 2751.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 3.0, 2.0, 1251.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 1.0, 996.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 2.0, 1336.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 6.0, 2.0, 2976.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 1.0, 1.0, 642.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 4.0, 2.0, 1522.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(442000.0, 8.0, 4.0, 5428.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 5.0, 7.0, 5556.0, 2.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429999.0, 3.0, 1.0, 1750.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829900.0, 3.0, 2.0, 2526.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469999.0, 3.0, 3.0, 1558.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 3.0, 2802.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999900.0, 4.0, 5.0, 3431.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1817.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 2.0, 872.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 725.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 4.0, 3.0, 3984.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629000.0, 4.0, 3.0, 2400.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(49900.0, 2.0, 1.0, 1200.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674900.0, 3.0, 3.0, 2422.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(12450000.0, 5.0, 9.0, 8333.0, 2.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 3.0, 2350.0, 6.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(865000.0, 1.0, 1.0, 600.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(357500.0, 4.0, 3.0, 2166.0, 6.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 1.0, 1560.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3195000.0, 5.0, 6.0, 5721.0, 3.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 5.0, 5.0, 4500.0, 5.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 2.0, 2.0, 966.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 1.0, 1538.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 4.0, 2.0, 2457.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 4.0, 3.0, 2656.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 5.0, 5.0, 3996.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 5.0, 4.0, 4698.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1320.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 2700.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 3.0, 2.0, 702.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 6.0, 3.0, 3995.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224500.0, 4.0, 2.0, 2484.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1352.0, 5.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 2.0, 1860.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 2.0, 1400.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 1.0, 739.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(145000.0, 4.0, 2.0, 1456.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 1.0, 992.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 5.0, 2.0, 3024.0, 2.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615000.0, 3.0, 1.0, 960.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 5.0, 3.0, 3058.0, 1.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 6.0, 3.0, 3332.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 2.0, 1106.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 1.0, 902.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 2.0, 804.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249500.0, 3.0, 2.0, 1380.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 2.0, 1462.0, 2.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2660.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3695000.0, 4.0, 4.0, 2801.0, 2.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 4.0, 3.0, 3213.0, 1.2)

(525000.0, 3.0, 2.0, 1238.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 3.0, 1.0, 1040.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 4.0, 3.0, 3736.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(312000.0, 4.0, 2.0, 4520.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 9.0, 3.0, 3945.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 3.0, 1.0, 1180.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 3.0, 2.0, 1566.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 4.0, 2.0, 1456.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 1.0, 1922.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1322.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485700.0, 4.0, 3.0, 2350.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2143.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1492.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 3.0, 2151.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165000.0, 3.0, 2.0, 1230.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 3.0, 2037.0, 1.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 4.0, 1.0, 1080.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1224.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 2.0, 1.0, 650.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 3.0, 2184.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 4.0, 3.0, 2304.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 2.0, 1488.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 3.0, 1376.0, 1.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 2.0, 1.0, 960.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 2.0, 3114.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 3.0, 1391.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(784900.0, 6.0, 2.0, 2220.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(204900.0, 3.0, 1.0, 1874.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 2.0, 1491.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1949.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 3.0, 1800.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 3.0, 1273.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 2.0, 1.0, 792.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 1.0, 1248.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 2.0, 3.0, 1706.0, 5.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(835000.0, 3.0, 2.0, 1716.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1297.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 2.0, 1.0, 615.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 2.0, 3.0, 1694.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 2.0, 3.0, 1429.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 6.0, 3.0, 3075.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 2.0, 2.0, 1226.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 3.0, 3030.0, 1.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 2.0, 2496.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 4.0, 2292.0, 1.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 3.0, 2.0, 1824.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 3.0, 2614.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1210.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 1.0, 1.0, 923.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1277.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 3.0, 2.0, 1387.0, 2.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 1656.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(670000.0, 5.0, 3.0, 4296.0, 1.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 4.0, 1800.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 2.0, 1.0, 1110.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1824.0, 4.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1516.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 5.0, 3.0, 3488.0, 4.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 5.0, 3.0, 1694.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324000.0, 3.0, 2.0, 1519.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 1.0, 978.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 1.0, 864.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 3.0, 1777.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2505.0, 1.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 3.0, 1.0, 960.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(293700.0, 3.0, 2.0, 2002.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 3.0, 2.0, 1777.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 5.0, 8.0, 5353.0, 1.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 2.0, 1.0, 1060.0, 21.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(184900.0, 1.0, 1.0, 640.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 3.0, 2278.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 1653.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 2.0, 1080.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 3.0, 3.0, 2160.0, 2.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399999.0, 4.0, 2.0, 2709.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 1.0, 988.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 4.0, 1.0, 1050.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1120.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(724900.0, 3.0, 2.0, 1911.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 3.0, 1.0, 1085.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 1.0, 1.0, 825.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 3.0, 3.0, 3375.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 2250.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 4.0, 3.0, 2680.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(10000.0, 4.0, 2.0, 3281.0, 8.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 3.0, 1242.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374000.0, 3.0, 2.0, 1539.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 2.0, 1568.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4495000.0, 4.0, 4.0, 2158.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2990000.0, 4.0, 3.0, 4600.0, 9.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 3.0, 1820.0, 1.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 8.0, 3.0, 2180.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1613.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(859000.0, 1.0, 1.0, 987.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 4.0, 1.0, 1512.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(15000000.0, 6.0, 9.0, 10309.0, 35.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1600.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1332.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(785000.0, 4.0, 3.0, 2166.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 6.0, 3.0, 2019.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849500.0, 4.0, 3.0, 2762.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 3.0, 4.0, 4444.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 2.0, 2.0, 2180.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 1.0, 960.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 4.0, 5.0, 4388.0, 4.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 1267.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(180000.0, 3.0, 2.0, 1521.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 4.0, 2.0, 1239.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 3.0, 3.0, 2118.0, 3.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659900.0, 5.0, 5.0, 3288.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 5.0, 4.0, 2998.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(620000.0, 3.0, 3.0, 2200.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 3.0, 1912.0, 3.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 5.0, 5.0, 3750.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 4.0, 2655.0, 24.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 3.0, 2684.0, 3.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779900.0, 4.0, 3.0, 2412.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 3.0, 2.0, 1790.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 3.0, 1882.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 3.0, 2.0, 2223.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 2.0, 1.0, 952.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 6.0, 2.0, 2084.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 8.0, 2.0, 5397.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1950000.0, 5.0, 5.0, 5824.0, 22.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 5.0, 3.0, 5023.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 2.0, 2.0, 801.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 1.0, 936.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 2.0, 1294.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(795000.0, 3.0, 2.0, 1927.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 1.0, 1004.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 2.0, 1.0, 1364.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 2.0, 2.0, 1140.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 5.0, 2.0, 1936.0, 2.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 3.0, 3.0, 1631.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2200000.0, 6.0, 5.0, 5714.0, 1.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(775000.0, 3.0, 2.0, 1440.0, 1.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1572.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 3.0, 2516.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 1.0, 1988.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 3.0, 1315.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 5.0, 4.0, 4864.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599800.0, 3.0, 2.0, 1737.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1356.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 1.0, 875.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 2.0, 2065.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 4.0, 2.0, 1008.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1504.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(85000.0, 3.0, 2.0, 1525.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1726.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2000.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 3.0, 2584.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 1.0, 932.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354999.0, 6.0, 3.0, 2130.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 4.0, 4.0, 2540.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 2.0, 1930.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 4.0, 3.0, 3118.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615000.0, 4.0, 3.0, 2224.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2595.0, 4.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 2.0, 2.0, 1723.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1724.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 6.0, 2.0, 2256.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 1.0, 1184.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 6.0, 4.0, 2844.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519000.0, 3.0, 1.0, 1572.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 2.0, 1549.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 4.0, 2.0, 2292.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 6.0, 3.0, 3171.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1248.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 5.0, 4.0, 2000.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 3.0, 5.0, 3083.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 2.0, 1435.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 3.0, 2558.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2200000.0, 3.0, 2.0, 1440.0, 1.16)

(449900.0, 3.0, 2.0, 1440.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 3.0, 2.0, 1200.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 2.0, 2.0, 950.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349987.0, 3.0, 1.0, 1080.0, 20.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 2.0, 1.0, 722.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 2626.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 4.0, 3.0, 1748.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 3.0, 1960.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(969900.0, 5.0, 5.0, 4547.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 4.0, 4.0, 5042.0, 5.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 3.0, 2124.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(685000.0, 4.0, 2.0, 2255.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174000.0, 5.0, 2.0, 2016.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 4.0, 3.0, 2531.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 1778.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1599000.0, 4.0, 4.0, 4824.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 1.0, 1.0, 996.0, 1.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3100000.0, 6.0, 5.0, 4357.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 1881.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1800.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 3.0, 2286.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 4.0, 1.0, 1846.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 2.0, 1.0, 1345.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1500.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(610000.0, 4.0, 4.0, 4464.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560000.0, 3.0, 2.0, 2118.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759900.0, 3.0, 3.0, 3000.0, 12.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 3.0, 1400.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245900.0, 4.0, 2.0, 1403.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 2.0, 1952.0, 1.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 9.0, 6.0, 5364.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 1.0, 1250.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 2.0, 2176.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 3.0, 4.0, 1891.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2499000.0, 5.0, 5.0, 5113.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1700.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 2013.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(282900.0, 6.0, 4.0, 2052.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 1709.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1418.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1512.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 7.0, 6295.0, 1.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 3.0, 2.0, 1126.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299995.0, 5.0, 3.0, 2910.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 1.0, 864.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 2.0, 1.0, 1203.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(760000.0, 6.0, 3.0, 1429.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 1.0, 1.0, 505.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 2.0, 1368.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1134.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 2.0, 2192.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 5.0, 3.0, 1772.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 1.0, 1248.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1459.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 2.0, 1.0, 1008.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(75000.0, 4.0, 2.0, 3780.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 4.0, 4.0, 2767.0, 8.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(184900.0, 12.0, 4.0, 4200.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 8.0, 2.0, 2300.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 2.0, 1236.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 1.0, 1508.0, 2.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5995000.0, 4.0, 5.0, 6964.0, 115.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 5.0, 2.0, 2256.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 2.0, 1.0, 809.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 5.0, 3513.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(278000.0, 3.0, 2.0, 1144.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 11.0, 5.0, 5517.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 4.0, 2170.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 2.0, 2.0, 2042.0, 2.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 2.0, 1138.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779000.0, 4.0, 3.0, 2750.0, 12.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749999.0, 4.0, 3.0, 2688.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789900.0, 5.0, 4.0, 4722.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 2.0, 1.0, 1092.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 4.0, 2.0, 1920.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 3.0, 1234.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 3.0, 2.0, 1728.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2449900.0, 5.0, 5.0, 7244.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 5.0, 5.0, 3952.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 2.0, 2.0, 1781.0, 1.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 3.0, 2112.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 2.0, 1284.0, 3.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 1.0, 1.0, 673.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 2.0, 4256.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 5.0, 3.0, 2524.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(355000.0, 3.0, 3.0, 2191.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 6.0, 3.0, 2794.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1324.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 4.0, 2.0, 2143.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 2.0, 2.0, 936.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(743000.0, 4.0, 4.0, 4350.0, 8.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 4.0, 2.0, 1529.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(187000.0, 4.0, 2.0, 4570.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 3.0, 2.0, 1419.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299999.0, 6.0, 2.0, 2580.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(252000.0, 3.0, 3.0, 1320.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1826.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 2.0, 1619.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1950000.0, 4.0, 4.0, 3739.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 1.0, 718.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 960.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(578800.0, 3.0, 2.0, 1527.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599999.0, 3.0, 2.0, 2037.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1621.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(115000.0, 4.0, 2.0, 1080.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3300000.0, 3.0, 5.0, 2667.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 2.0, 1.0, 1306.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(40000.0, 2.0, 1.0, 690.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1458.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 1.0, 1008.0, 3.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 3.0, 1588.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 2.0, 2006.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4595000.0, 6.0, 6.0, 7412.0, 1.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2295000.0, 5.0, 6.0, 6000.0, 8.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 5.0, 7.0, 6470.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 2.0, 2468.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 2.0, 2.0, 1260.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139700.0, 3.0, 1.0, 1307.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(140000.0, 2.0, 1.0, 1352.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 2.0, 2821.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 3.0, 1856.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(297000.0, 3.0, 2.0, 1609.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 1.0, 1740.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(69900.0, 2.0, 1.0, 896.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 8.0, 8.0, 6120.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 3.0, 2.0, 1488.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 5.0, 3.0, 2562.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 3.0, 1536.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 3.0, 2.0, 1232.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(468500.0, 5.0, 3.0, 2184.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 4.0, 1.0, 1673.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 914.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 4.0, 3.0, 2424.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 2.0, 1356.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 1576.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(190000.0, 2.0, 2.0, 1630.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 4.0, 4.0, 2772.0, 18.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1575.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 3.0, 3106.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 5.0, 2.0, 2170.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(440000.0, 3.0, 3.0, 1632.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674900.0, 4.0, 4.0, 3248.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 5.0, 4.0, 2845.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 2.0, 3050.0, 2.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224500.0, 1.0, 1.0, 461.0, 1.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 4.0, 2.0, 1846.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219999.0, 3.0, 2.0, 1153.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 2518.0, 1.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 4.0, 4.0, 4325.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 2.0, 2328.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1606.0, 16.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 2.0, 1086.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279500.0, 3.0, 2.0, 1596.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 6.0, 3.0, 3048.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519000.0, 4.0, 2.0, 2326.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(564900.0, 5.0, 2.0, 1671.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 1.0, 1008.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 8.0, 6.0, 4832.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(609000.0, 3.0, 3.0, 1824.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949900.0, 6.0, 4.0, 3808.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 1.0, 1008.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219000.0, 3.0, 1.0, 1170.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1649.0, 2.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(684900.0, 3.0, 3.0, 2784.0, 9.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1275000.0, 3.0, 3.0, 2500.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1750000.0, 6.0, 8.0, 7606.0, 4.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459999.0, 6.0, 4.0, 3964.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 3.0, 3000.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1288.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 2.0, 1660.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 3.0, 2.0, 1540.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 3.0, 2511.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789000.0, 4.0, 3.0, 2028.0, 0.46)

(279000.0, 4.0, 2.0, 2160.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 4.0, 2.0, 1994.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2795000.0, 4.0, 4.0, 2495.0, 40.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2424.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(438800.0, 3.0, 1.0, 1377.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 3.0, 2.0, 2269.0, 2.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(214900.0, 4.0, 2.0, 1599.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 2.0, 2.0, 1968.0, 18.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1398000.0, 4.0, 2.0, 2682.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 2735.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 6.0, 2.0, 2816.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(544900.0, 3.0, 3.0, 2949.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2850000.0, 5.0, 5.0, 5228.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 4.0, 3.0, 3100.0, 3.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 5.0, 2.0, 2294.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 3.0, 1791.0, 4.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 3.0, 2528.0, 4.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(434900.0, 3.0, 2.0, 1844.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(155000.0, 3.0, 1.0, 1100.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 3.0, 2184.0, 5.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 2.0, 1.0, 1276.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 3.0, 1352.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119900.0, 4.0, 2.0, 1872.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1550000.0, 3.0, 3.0, 2870.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 4.0, 2.0, 1878.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 4.0, 2.0, 2694.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(660000.0, 11.0, 9.0, 6061.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 1.0, 1040.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 6.0, 2.0, 2966.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 1.0, 1400.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(464900.0, 4.0, 2.0, 1968.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 3.0, 1.0, 960.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199500.0, 2.0, 2.0, 1320.0, 29.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 4.0, 3.0, 2320.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 3.0, 2682.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 4.0, 4000.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(470000.0, 3.0, 3.0, 2724.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 931.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(730000.0, 3.0, 3.0, 2147.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 3.0, 2.0, 1352.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 5.0, 4.0, 4130.0, 2.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 1.0, 1000.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1049900.0, 5.0, 4.0, 4773.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129900.0, 3.0, 1.0, 998.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 3.0, 1.0, 1290.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 4.0, 2.0, 2952.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 2.0, 1548.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 6.0, 3.0, 2624.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1686.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 2.0, 1598.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(378000.0, 2.0, 1.0, 952.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199999.0, 3.0, 2.0, 1968.0, 1.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 1.0, 976.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1368.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 1.0, 1.0, 560.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 4.0, 2.0, 1830.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 4.0, 1.0, 2114.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3595000.0, 6.0, 5.0, 5160.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879900.0, 4.0, 4.0, 2851.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 2.0, 1.0, 836.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 3.0, 1872.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2595000.0, 4.0, 5.0, 5600.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1745000.0, 6.0, 6.0, 7268.0, 40.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 3.0, 2.0, 1860.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 3.0, 2914.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 2.0, 2839.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 1478.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2600000.0, 3.0, 3.0, 1829.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7395000.0, 7.0, 10.0, 6953.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 4.0, 3.0, 2088.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 4.0, 2129.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1520.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 3.0, 1378.0, 4.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 2.0, 1875.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 3.0, 4704.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314458.0, 3.0, 2.0, 1300.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 1030.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 2590.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1332.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 2.0, 1.0, 853.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 2.0, 1500.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1738.0, 2.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 1.0, 1664.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2895000.0, 6.0, 6.0, 6023.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 3.0, 4250.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(155000.0, 3.0, 1.0, 1372.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239999.0, 3.0, 2.0, 1615.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1080000.0, 5.0, 3.0, 2349.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 1.0, 1355.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1422.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999999.0, 5.0, 4.0, 5000.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 3.0, 2.0, 1400.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 3.0, 3.0, 2300.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 3.0, 1852.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 1.0, 1254.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6750000.0, 4.0, 4.0, 3052.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 2313.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 2.0, 1.0, 1000.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1160000.0, 4.0, 2.0, 1808.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 7.0, 7422.0, 2.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 2.0, 2.0, 700.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 6.0, 3.0, 4339.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(885000.0, 6.0, 3.0, 2175.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2250000.0, 5.0, 5.0, 6349.0, 2.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 2.0, 1.0, 1164.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 2.0, 2.0, 1478.0, 29.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399900.0, 3.0, 4.0, 2722.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799999.0, 3.0, 3.0, 2398.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619000.0, 3.0, 2.0, 1876.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(628000.0, 3.0, 3.0, 2868.0, 4.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 1.0, 1.0, 995.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 3.0, 2.0, 1132.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1249.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 6.0, 3.0, 3000.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 2.0, 2.0, 1004.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 2.0, 1523.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1581.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 4.0, 3444.0, 1.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6995000.0, 5.0, 5.0, 7032.0, 2.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 2.0, 1224.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 3.0, 3.0, 1098.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 3.0, 2.0, 1572.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 3.0, 2.0, 1376.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829000.0, 5.0, 3.0, 3165.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 2221.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1780000.0, 5.0, 4.0, 5481.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 6.0, 4.0, 3993.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 3.0, 3355.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314900.0, 3.0, 2.0, 1280.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 2.0, 1862.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2999000.0, 4.0, 4.0, 4500.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 2.0, 2082.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 12.0, 4.0, 6307.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 7.0, 4.0, 3560.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 2.0, 1955.0, 1.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 4.0, 5.0, 4000.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 3.0, 2641.0, 1.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 2.0, 2.0, 1265.0, 25.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3500000.0, 4.0, 5.0, 4896.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779800.0, 3.0, 3.0, 2498.0, 10.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(610000.0, 2.0, 2.0, 1298.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 2.0, 1094.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(100000.0, 2.0, 1.0, 850.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 4.0, 5.0, 4848.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(790000.0, 3.0, 2.0, 1512.0, 4.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(302000.0, 3.0, 1.0, 912.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 2.0, 1.0, 804.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 2074.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 1.0, 1.0, 608.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 3.0, 1810.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3695000.0, 5.0, 5.0, 3516.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 6.0, 2.0, 2112.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 3.0, 3.0, 1635.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1200.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(980000.0, 3.0, 2.0, 1965.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 2.0, 2.0, 1432.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244900.0, 2.0, 1.0, 1064.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 1.0, 1.0, 928.0, 1.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1749.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1470.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 2.0, 1749.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1349000.0, 5.0, 4.0, 3500.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 4.0, 3.0, 2600.0, 5.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1217.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(180000.0, 3.0, 1.0, 3547.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2500.0, 1.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1300.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 3.0, 4.0, 3000.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 4.0, 3.0, 2300.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 1.0, 1038.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 5.0, 4.0, 3574.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1985000.0, 4.0, 5.0, 3263.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 9.0, 3.0, 3534.0, 0.16)

(3489000.0, 5.0, 5.0, 3156.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(510000.0, 4.0, 3.0, 2799.0, 8.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 6.0, 2.0, 3312.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 2.0, 3.0, 1440.0, 10.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8900000.0, 3.0, 5.0, 4033.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 2.0, 1.0, 1048.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7200000.0, 6.0, 12.0, 12806.0, 7.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 1.0, 1152.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 4.0, 6.0, 6888.0, 3.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 2.0, 1624.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 1.0, 1008.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(685000.0, 3.0, 5.0, 3606.0, 6.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 6.0, 3.0, 3433.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(355000.0, 6.0, 2.0, 3492.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999000.0, 2.0, 2.0, 1160.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(273900.0, 3.0, 1.0, 1175.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1269.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 3.0, 2.0, 1786.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 4.0, 2.0, 1864.0, 0.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 8.0, 4.0, 4133.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 4.0, 3.0, 1877.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 1.0, 1224.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 2224.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 4.0, 3.0, 2100.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1575.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1260.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 2.0, 1939.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1799000.0, 4.0, 4.0, 3850.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 2.0, 1.0, 1155.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 5.0, 4.0, 2016.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 2.0, 1.0, 960.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1225000.0, 5.0, 3.0, 3519.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1440.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 3.0, 2.0, 1254.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(609900.0, 4.0, 3.0, 2037.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 1.0, 1294.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(715000.0, 3.0, 3.0, 1870.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1682.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 2.0, 1.0, 1024.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2500000.0, 3.0, 2.0, 1536.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1400000.0, 5.0, 5.0, 4618.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4099000.0, 3.0, 3.0, 2447.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615000.0, 4.0, 3.0, 2137.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 3.0, 1164.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 1888.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1008.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999900.0, 4.0, 3.0, 4812.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(194000.0, 6.0, 2.0, 1709.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(514900.0, 7.0, 3.0, 4560.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1568.0, 5.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(964900.0, 3.0, 3.0, 2823.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4995000.0, 5.0, 6.0, 7195.0, 22.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619900.0, 4.0, 3.0, 2660.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1290000.0, 4.0, 4.0, 3160.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 3.0, 4491.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 1.0, 1550.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 6.0, 2.0, 2428.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 3.0, 3162.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 6.0, 4.0, 3184.0, 1.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 3.0, 4335.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 2084.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 3508.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449500.0, 4.0, 2.0, 1785.0, 4.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 4.0, 3.0, 2016.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 1.0, 1274.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4725000.0, 6.0, 6.0, 7640.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 3.0, 2.0, 1748.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1175000.0, 5.0, 4.0, 3075.0, 8.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1408.0, 1.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 2.0, 1.0, 1248.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 2.0, 1168.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 12.0, 3.0, 3902.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1799.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759000.0, 3.0, 3.0, 2941.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 5.0, 5.0, 3143.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1512.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 1691.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 4.0, 2787.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 4.0, 3072.0, 2.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4195000.0, 4.0, 6.0, 7690.0, 24.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(204900.0, 3.0, 1.0, 1063.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 3.0, 2124.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1878.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 3.0, 2215.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244900.0, 3.0, 1.0, 1426.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 4.0, 3.0, 2822.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 3.0, 2669.0, 3.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1550000.0, 5.0, 4.0, 4014.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 3.0, 2397.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(237000.0, 2.0, 1.0, 990.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 2.0, 1.0, 908.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 3.0, 3.0, 1320.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 3.0, 2.0, 2194.0, 1.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 8.0, 2.0, 3732.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 3.0, 3.0, 1690.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679000.0, 3.0, 2.0, 1952.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(100000.0, 3.0, 1.0, 1209.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779000.0, 4.0, 5.0, 1820.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 2.0, 1.0, 528.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 3.0, 2.0, 1150.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299950.0, 2.0, 1.0, 1275.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 4.0, 3.0, 3262.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2850000.0, 5.0, 4.0, 4896.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 2.0, 1.0, 720.0, 2.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(734900.0, 4.0, 2.0, 2241.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 2.0, 1546.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2299000.0, 3.0, 3.0, 2543.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(492000.0, 3.0, 3.0, 1714.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 4.0, 2955.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 3.0, 2794.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 2002.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 5.0, 5.0, 3213.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 5.0, 4250.0, 0.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 4.0, 4.0, 2542.0, 2.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 3.0, 1568.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 2.0, 1232.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 2.0, 2281.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1688.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149999.0, 8.0, 4.0, 4452.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(522500.0, 2.0, 1.0, 1272.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 3.0, 2604.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(628400.0, 3.0, 3.0, 1876.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 3.0, 2.0, 1368.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 5.0, 3.0, 2906.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(410000.0, 2.0, 2.0, 1144.0, 2.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 2000.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 4.0, 4800.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1595000.0, 4.0, 2.0, 2416.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 3523.0, 6.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3500000.0, 4.0, 4.0, 4000.0, 217.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1550000.0, 6.0, 8.0, 5170.0, 56.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 3.0, 2492.0, 66.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 4.0, 4.0, 4798.0, 14.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 2.0, 1.0, 673.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 4.0, 2.0, 1758.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 6.0, 2.0, 2580.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2499000.0, 12.0, 6.0, 4473.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 7.0, 3.0, 3025.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 3.0, 2.0, 3343.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1346.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 2.0, 1622.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 988.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 5.0, 4330.0, 2.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1395.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 4.0, 2.0, 1875.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 2.0, 1989.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 1.0, 1482.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 4.0, 2.0, 2331.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1826.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 7.0, 4.0, 4932.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1825000.0, 4.0, 3.0, 3202.0, 131.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 5.0, 4.0, 3758.0, 6.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(304900.0, 3.0, 2.0, 1867.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 4.0, 2.0, 1989.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(186829.0, 3.0, 1.0, 1214.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 3.0, 3.0, 1392.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1470.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 1.0, 2.0, 912.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(153100.0, 4.0, 1.0, 2328.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2695000.0, 5.0, 5.0, 6499.0, 3.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1312.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1174.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 9.0, 3.0, 3585.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(125000.0, 3.0, 1.0, 1100.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 3.0, 2.0, 1476.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 3.0, 3.0, 2514.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1650.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 4.0, 5.0, 4144.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 3.0, 3850.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 5.0, 2.0, 1468.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 3.0, 3.0, 1744.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 4.0, 2.0, 2652.0, 3.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 2.0, 1450.0, 0.1)

(499900.0, 1.0, 1.0, 840.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 3.0, 3.0, 3447.0, 4.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2100000.0, 5.0, 5.0, 4403.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 4.0, 3.0, 2038.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 840.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 2.0, 1502.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 3.0, 2593.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 5.0, 3.0, 3117.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(989000.0, 3.0, 2.0, 1425.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 6.0, 3.0, 4888.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(959000.0, 3.0, 2.0, 1599.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 6.0, 3.0, 5205.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 9.0, 3.0, 3204.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 3.0, 1.0, 1100.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(80000.0, 2.0, 1.0, 791.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 2.0, 1927.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 5.0, 3.0, 1874.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 2.0, 1316.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 3.0, 3.0, 2047.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 2.0, 2.0, 1023.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 3.0, 2.0, 2526.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 2.0, 2815.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 2.0, 1524.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1700000.0, 5.0, 4.0, 3285.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 4.0, 3.0, 2967.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 5.0, 3.0, 2400.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1758.0, 1.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 960.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 2.0, 1469.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1635.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 1.0, 1.0, 770.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619000.0, 5.0, 3.0, 2742.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 6.0, 2.0, 1694.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 3.0, 2.0, 1456.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 2652.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(826789.0, 5.0, 4.0, 3178.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4995000.0, 6.0, 7.0, 7801.0, 1.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(305000.0, 4.0, 1.0, 1050.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 4.0, 2281.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 4.0, 4.0, 2392.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(959000.0, 2.0, 2.0, 949.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 4.0, 5.0, 3133.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1943.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(645000.0, 1.0, 1.0, 645.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(640000.0, 5.0, 4.0, 1968.0, 7.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 2.0, 1404.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 5.0, 3.0, 3738.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 3.0, 1400.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 1460.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(204900.0, 3.0, 2.0, 1211.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1875000.0, 4.0, 4.0, 2172.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1608.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(49999.0, 4.0, 2.0, 1822.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 5.0, 2.0, 2624.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3300000.0, 5.0, 10.0, 14529.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(353900.0, 3.0, 2.0, 1642.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 1.0, 1478.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 3.0, 1.0, 1166.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(665000.0, 3.0, 2.0, 1544.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 3.0, 2.0, 1452.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 6.0, 2.0, 2288.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 2.0, 1729.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 3.0, 1507.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(193500.0, 4.0, 2.0, 1576.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249987.0, 4.0, 2.0, 1596.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2133.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(488888.0, 3.0, 3.0, 1997.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(478000.0, 3.0, 2.0, 2437.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849999.0, 4.0, 4.0, 5073.0, 1.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 1.0, 1036.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 5.0, 5.0, 2996.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 3.0, 2857.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 2.0, 1.0, 985.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354900.0, 3.0, 2.0, 1200.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1125.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 2.0, 2.0, 1432.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1346.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560000.0, 4.0, 2.0, 2168.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 1229.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 2.0, 2.0, 880.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1799900.0, 4.0, 4.0, 4297.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 2.0, 1052.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 3.0, 2.0, 806.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 864.0, 3.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 2.0, 1224.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 2.0, 1685.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 2.0, 2.0, 1572.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1657.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674900.0, 3.0, 3.0, 3704.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 3.0, 2100.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 4.0, 2.0, 1313.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 4.0, 2.0, 1800.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 3.0, 2.0, 1704.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 3.0, 2955.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 5.0, 2.0, 2288.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(256500.0, 2.0, 1.0, 1150.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 5.0, 4.0, 3274.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3764.0, 1.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 960.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 3.0, 2.0, 2000.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(698500.0, 3.0, 3.0, 1824.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 3.0, 2110.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 3.0, 4250.0, 2.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 6.0, 2.0, 2024.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 2.0, 1648.0, 3.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 3.0, 1.0, 1350.0, 1.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 4.0, 4.0, 3233.0, 4.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1589000.0, 2.0, 2.0, 1725.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 946.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1288.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 4.0, 3.0, 2020.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1850000.0, 7.0, 8.0, 4519.0, 1.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 3.0, 3.0, 1320.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 3.0, 2.0, 1743.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 3.0, 2149.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569900.0, 4.0, 2.0, 3046.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 3.0, 3.0, 2700.0, 3.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499000.0, 5.0, 4.0, 3137.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779000.0, 2.0, 3.0, 1538.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 2.0, 1.0, 988.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 4.0, 2.0, 1237.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 1.0, 1096.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 6.0, 2.0, 4299.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(444900.0, 4.0, 4.0, 1920.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 2.0, 2.0, 2452.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 4.0, 3.0, 2104.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 2.0, 1960.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 3.0, 3.0, 3277.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 4.0, 2.0, 1238.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1192.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(547500.0, 4.0, 4.0, 2420.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 1.0, 1080.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(140000.0, 3.0, 1.0, 912.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 2.0, 2.0, 1608.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 2950.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 1344.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 6.0, 3.0, 4577.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354900.0, 4.0, 2.0, 2865.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 5.0, 3216.0, 1.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 8.0, 3.0, 2892.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(745000.0, 4.0, 3.0, 1782.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 3.0, 2187.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 4.0, 2.0, 2602.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 2.0, 1428.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 1851.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539990.0, 4.0, 2.0, 1460.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 2.0, 1488.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1700000.0, 4.0, 5.0, 3808.0, 5.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(372000.0, 3.0, 2.0, 1596.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(839000.0, 4.0, 3.0, 3452.0, 2.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 3.0, 1386.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 4.0, 4898.0, 4.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(15500000.0, 3.0, 5.0, 4273.0, 298.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529875.0, 2.0, 2.0, 2244.0, 6.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 4.0, 1.0, 1040.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 4.0, 1.0, 2018.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1536.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 3.0, 5.0, 3112.0, 14.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(198000.0, 3.0, 2.0, 1008.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 7.0, 3.0, 2941.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 2.0, 1.0, 684.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 6.0, 5.0, 2865.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179500.0, 2.0, 1.0, 667.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 4.0, 2.0, 2260.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 3.0, 1332.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 2.0, 1988.0, 5.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 3.0, 1719.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(719900.0, 3.0, 2.0, 2192.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 3.0, 3.0, 1320.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 2.0, 1500.0, 4.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 3.0, 1499.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 1.0, 1.0, 600.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2500000.0, 3.0, 3.0, 2200.0, 0.14)

(289999.0, 3.0, 3.0, 1590.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2650000.0, 6.0, 4.0, 3041.0, 3.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 1092.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 2.0, 1248.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259500.0, 3.0, 2.0, 2304.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1699000.0, 4.0, 4.0, 5372.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 4.0, 3.0, 4167.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 3.0, 1.0, 11968.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 3.0, 3.0, 2868.0, 2.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2300000.0, 5.0, 4.0, 5003.0, 3.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1280.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 4.0, 2.0, 1542.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 6.0, 2.0, 2560.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 2.0, 2.0, 1464.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 7.0, 3.0, 4648.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 9.0, 3.0, 4173.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1250.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879900.0, 3.0, 4.0, 2509.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(144900.0, 2.0, 1.0, 860.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1392.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 2.0, 1.0, 862.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 2.0, 1260.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 2.0, 2351.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 3.0, 4.0, 2914.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 1.0, 1471.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 3.0, 1951.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749999.0, 2.0, 3.0, 2312.0, 5.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 5.0, 3.0, 2549.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2395000.0, 6.0, 5.0, 5019.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 4.0, 5289.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399000.0, 5.0, 3.0, 2614.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(197000.0, 3.0, 1.0, 763.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 3.0, 3.0, 1992.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 2440.0, 1.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(665000.0, 3.0, 2.0, 1650.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(588000.0, 3.0, 2.0, 1578.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129900.0, 1.0, 1.0, 530.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 4.0, 2.0, 1637.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 4.0, 2371.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 6.0, 2.0, 2424.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629000.0, 3.0, 3.0, 2172.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335900.0, 3.0, 2.0, 1360.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 1.0, 1.0, 744.0, 4.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(664900.0, 6.0, 3.0, 2982.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1495000.0, 15.0, 9.0, 14532.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829900.0, 3.0, 3.0, 2179.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1540.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 3.0, 1308.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 1.0, 1008.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5500000.0, 2.0, 5.0, 3964.0, 4.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 4.0, 1875.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 2.0, 2016.0, 9.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 4.0, 2.0, 1572.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 3.0, 1.0, 1096.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1296.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1536.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 1.0, 1.0, 882.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 1.0, 1128.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1104.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 6.0, 3.0, 3404.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(815000.0, 4.0, 3.0, 2943.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 3.0, 2934.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 2.0, 1460.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 2.0, 1696.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8499000.0, 5.0, 9.0, 8809.0, 2.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1546.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 3.0, 2.0, 1287.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 2.0, 1.0, 720.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 3.0, 3.0, 1445.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 4.0, 3.0, 3735.0, 10.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 4.0, 2.0, 2040.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(582000.0, 4.0, 3.0, 2233.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 3.0, 1188.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1049000.0, 3.0, 3.0, 2534.0, 3.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 2.0, 2.0, 968.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 4.0, 3.0, 2341.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 2.0, 2189.0, 2.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 13.0, 5.0, 6976.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 3.0, 1201.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 2.0, 2.0, 1209.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2595000.0, 2.0, 3.0, 1375.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 2.0, 1750.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1464.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(596000.0, 2.0, 1.0, 935.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 2.0, 1.0, 768.0, 43.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1724.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 5.0, 2.0, 2700.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 2007.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(99900.0, 2.0, 1.0, 640.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599995.0, 3.0, 2.0, 1496.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 3.0, 2202.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 4.0, 2.0, 1548.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619000.0, 4.0, 2.0, 1766.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1899000.0, 5.0, 3.0, 3371.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(774900.0, 3.0, 3.0, 2884.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 4.0, 1.0, 1116.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 10.0, 4.0, 3290.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 1496.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529000.0, 2.0, 1.0, 852.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 5.0, 3.0, 2256.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 2147.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 5.0, 2.0, 2632.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1595000.0, 4.0, 4.0, 2600.0, 6.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(974900.0, 3.0, 2.0, 1260.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 1.0, 1350.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 5.0, 3.0, 2984.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1414.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 2.0, 2394.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1507.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 4.0, 2.0, 2016.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 3.0, 2.0, 1538.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 1.0, 1.0, 1112.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 1209.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 1.0, 1.0, 828.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 4.0, 4.0, 2104.0, 10.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1344.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1545.0, 14.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(640000.0, 5.0, 4.0, 2585.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1584.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 4.0, 3.0, 2248.0, 2.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 2.0, 1724.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1065000.0, 2.0, 2.0, 1250.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 3.0, 2.0, 2400.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2400000.0, 4.0, 3.0, 2749.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 950.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 2.0, 2.0, 1732.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1248.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 3.0, 1672.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 3.0, 3.0, 1901.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 2758.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1152.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 3.0, 1.0, 1114.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 3.0, 4.0, 3164.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5750000.0, 6.0, 9.0, 5548.0, 7.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 2854.0, 8.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 3.0, 2746.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 960.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1428.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 14.0, 4.0, 5104.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 1.0, 950.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 3.0, 1.0, 1208.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1977.0, 1.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 5.0, 5.0, 5700.0, 2.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 2.0, 1161.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 5.0, 4.0, 3445.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 2222.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 4.0, 3.0, 2300.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474000.0, 3.0, 2.0, 2000.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 2.0, 1360.0, 1.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1085.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1750000.0, 4.0, 4.0, 4202.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 3.0, 2.0, 1344.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1000.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 1.0, 1337.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 2.0, 2.0, 1388.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299900.0, 4.0, 3.0, 2805.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409999.0, 3.0, 2.0, 1232.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 4.0, 3.0, 2662.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1392.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 2.0, 1.0, 1116.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 2.0, 1.0, 1000.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7995000.0, 3.0, 5.0, 4458.0, 1.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 4.0, 5103.0, 6.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 4.0, 2652.0, 2.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1190.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 3.0, 2647.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 5.0, 3.0, 3428.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 4.0, 2.0, 851.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 2.0, 2.0, 1226.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 1.0, 1070.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 3.0, 4522.0, 1.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 2.0, 2.0, 1425.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 4.0, 4.0, 4130.0, 0.74)

(239900.0, 4.0, 2.0, 1373.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 3.0, 2.0, 2342.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(870000.0, 3.0, 3.0, 2780.0, 1.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1242.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 4.0, 2.0, 1299.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 2.0, 1.0, 816.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1596.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 2098.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374500.0, 2.0, 1.0, 1110.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799444.0, 3.0, 3.0, 3557.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(889900.0, 4.0, 4.0, 5162.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789000.0, 4.0, 4.0, 3600.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 2.0, 1.0, 1000.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2749999.0, 6.0, 7.0, 7797.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 4.0, 3.0, 1431.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 3.0, 1488.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 5.0, 4313.0, 2.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 1.0, 1362.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 2.0, 1.0, 814.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1950000.0, 4.0, 4.0, 3500.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 2.0, 2432.0, 1.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 1.0, 2180.0, 46.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 3.0, 2.0, 1330.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 4.0, 3.0, 2323.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 2.0, 982.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 6.0, 3.0, 2800.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1025000.0, 2.0, 2.0, 1643.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 2.0, 2.0, 1152.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(605000.0, 3.0, 2.0, 1983.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 9.0, 4.0, 4137.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689999.0, 3.0, 3.0, 2376.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 3.0, 3.0, 2240.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 2.0, 3.0, 1444.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1442.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 6.0, 3.0, 4155.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 3.0, 3.0, 936.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 2.0, 1.0, 1056.0, 9.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1572.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 2.0, 1450.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(484900.0, 3.0, 2.0, 1452.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3595000.0, 6.0, 4.0, 5059.0, 0.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(59900.0, 2.0, 1.0, 672.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 3.0, 4.0, 2139.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 3.0, 2.0, 1056.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 2.0, 1816.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 2.0, 1.0, 936.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 2.0, 1.0, 1040.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 2.0, 1306.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1664.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 2042.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 3.0, 1.0, 1632.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 2.0, 1.0, 1780.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1584.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1795000.0, 4.0, 4.0, 3311.0, 6.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 3.0, 2080.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1421.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 3.0, 2.0, 1620.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 3.0, 2.0, 1082.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 4.0, 6.0, 4042.0, 4.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1495000.0, 3.0, 3.0, 1920.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1080.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 3.0, 3024.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(347900.0, 6.0, 3.0, 3789.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529000.0, 5.0, 4.0, 3366.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1644.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 1349.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 2.0, 1413.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424000.0, 3.0, 3.0, 1800.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1504.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(445000.0, 3.0, 3.0, 2100.0, 11.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 2.0, 1.0, 800.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 3.0, 1708.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389999.0, 3.0, 1.0, 1056.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 4.0, 2455.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1179000.0, 6.0, 3.0, 3236.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 3.0, 3.0, 2952.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(207500.0, 2.0, 1.0, 1050.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139000.0, 2.0, 2.0, 1193.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 2.0, 1200.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 1.0, 2.0, 1046.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195500.0, 4.0, 2.0, 2030.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429999.0, 3.0, 2.0, 1208.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 2.0, 1.0, 872.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1679000.0, 4.0, 3.0, 3440.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 3.0, 2674.0, 1.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149000.0, 5.0, 4.0, 4105.0, 1.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 3.0, 2532.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 8.0, 3.0, 3139.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 4.0, 3.0, 2684.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 4.0, 3.0, 2270.0, 7.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999500.0, 4.0, 5.0, 2166.0, 5.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 2.0, 2.0, 923.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 2.0, 2274.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 3.0, 1.0, 1063.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 1862.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1152.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 2.0, 3.0, 2040.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 1.0, 1.0, 641.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 2.0, 2.0, 1176.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 5.0, 2.0, 2136.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 8.0, 5.0, 4000.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 5.0, 2.0, 1326.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1744.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 2.0, 1.0, 743.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 3.0, 2.0, 1679.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 5.0, 3.0, 1344.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399000.0, 7.0, 4.0, 2870.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 5.0, 3.0, 2000.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1189000.0, 3.0, 3.0, 1904.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2199000.0, 4.0, 4.0, 3700.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 2.0, 2247.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 5.0, 4.0, 4585.0, 2.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 3.0, 3080.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 3.0, 2.0, 1705.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 3.0, 2.0, 1155.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 4.0, 3.0, 2080.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 2136.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 3.0, 1342.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 5.0, 2.0, 2152.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 2.0, 1800.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 3.0, 3.0, 1836.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(344900.0, 3.0, 1.0, 1617.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849995.0, 2.0, 2.0, 1030.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 984.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879000.0, 4.0, 3.0, 2160.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 3.0, 2058.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 4.0, 4038.0, 2.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 3.0, 2916.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1338.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1049000.0, 4.0, 5.0, 2508.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(494900.0, 3.0, 2.0, 1074.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 2.0, 2088.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 3.0, 1658.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 3.0, 2255.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 2.0, 2.0, 1944.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 2.0, 2.0, 2424.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(134000.0, 1.0, 1.0, 660.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(397900.0, 3.0, 3.0, 1370.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 3.0, 4032.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 1.0, 1280.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 1.0, 1.0, 659.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 3.0, 4.0, 3440.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399999.0, 4.0, 2.0, 1972.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1750000.0, 3.0, 3.0, 3479.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(266000.0, 2.0, 1.0, 1269.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 2.0, 1515.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519000.0, 3.0, 2.0, 1884.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5350000.0, 6.0, 7.0, 4747.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 1.0, 1243.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 9.0, 5.0, 5919.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 3.0, 3.0, 2009.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 2160.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 5.0, 2.0, 2016.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 3.0, 4.0, 4616.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 2.0, 1570.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(93600.0, 3.0, 2.0, 1487.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 2.0, 1321.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 2.0, 1.0, 1528.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339800.0, 3.0, 2.0, 1308.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 3.0, 1394.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 3.0, 3.0, 2532.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 3.0, 2066.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 6.0, 2.0, 2118.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 3.0, 1.0, 1200.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 2186.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 2.0, 1084.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615000.0, 3.0, 4.0, 1746.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679500.0, 5.0, 2.0, 1736.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 2.0, 1.0, 1308.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149000.0, 2.0, 1.0, 810.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 5.0, 2.0, 2200.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 4.0, 4.0, 4515.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(534900.0, 1.0, 1.0, 942.0, 0.02)

(269000.0, 3.0, 3.0, 2402.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 2712.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2104.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1596.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 9.0, 6.0, 3952.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1296.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 3.0, 3.0, 1800.0, 1.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4500000.0, 6.0, 6.0, 5429.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 4.0, 3840.0, 7.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 1.0, 1.0, 578.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 2.0, 2.0, 1240.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 3.0, 2192.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 4.0, 4.0, 2501.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(800000.0, 4.0, 3.0, 2880.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 4.0, 3.0, 2734.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 9.0, 3.0, 3450.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699999.0, 4.0, 2.0, 2500.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2295000.0, 2.0, 2.0, 1390.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 4.0, 3.0, 2580.0, 2.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 3.0, 2058.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 4.0, 2.0, 1426.0, 2.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(647000.0, 2.0, 2.0, 2016.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 2713.0, 1.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 2.0, 1.0, 966.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3250000.0, 3.0, 3.0, 2323.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 2.0, 1545.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235500.0, 3.0, 1.0, 1092.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(860000.0, 3.0, 3.0, 3250.0, 1.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 4.0, 1.0, 1267.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(9500000.0, 7.0, 8.0, 9500.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1039000.0, 4.0, 3.0, 3470.0, 3.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(305000.0, 4.0, 2.0, 2650.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 4.0, 3.0, 2208.0, 1.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 2180.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4800000.0, 5.0, 4.0, 3198.0, 2.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 4.0, 2.0, 1590.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(305000.0, 3.0, 2.0, 1096.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1249000.0, 5.0, 6.0, 5605.0, 2.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 6.0, 3.0, 3645.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 1.0, 1150.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 4.0, 4.0, 5117.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 4.0, 2.0, 2368.0, 99.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(840000.0, 4.0, 4.0, 4023.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1555.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(85000.0, 3.0, 2.0, 1485.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 4.0, 1.0, 1266.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 4.0, 2.0, 1632.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(125100.0, 3.0, 2.0, 1100.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(820000.0, 4.0, 3.0, 2644.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3795000.0, 3.0, 4.0, 2707.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(347500.0, 3.0, 2.0, 1382.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(186900.0, 6.0, 2.0, 2362.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 4.0, 2.0, 1695.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(784900.0, 6.0, 3.0, 2592.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 3.0, 3.0, 1965.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1320.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 5.0, 3448.0, 11.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1024.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5195000.0, 4.0, 4.0, 2581.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1530.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649995.0, 3.0, 3.0, 1500.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 1.0, 1092.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 3.0, 2.0, 2313.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 3.0, 2128.0, 15.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 4.0, 2.0, 1314.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 2.0, 2.0, 1240.0, 0.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 4.0, 2.0, 1545.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 7.0, 5.0, 4854.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 3.0, 1605.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 5.0, 2.0, 2316.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(430000.0, 3.0, 2.0, 1729.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(719900.0, 6.0, 5.0, 3500.0, 1.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 2.0, 4.0, 2442.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(277000.0, 4.0, 3.0, 2250.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 1.0, 1040.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 4.0, 2.0, 1400.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 3.0, 2.0, 1756.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 2338.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 4.0, 4.0, 3704.0, 1.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 4.0, 2.0, 1843.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(609000.0, 4.0, 2.0, 1464.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 3.0, 1512.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 2.0, 2.0, 1364.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1164.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 2.0, 3.0, 1588.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679000.0, 3.0, 3.0, 3088.0, 3.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4695000.0, 6.0, 8.0, 9849.0, 3.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 3.0, 3.0, 2418.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499000.0, 4.0, 2.0, 1500.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(980000.0, 4.0, 3.0, 2546.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 3.0, 1.0, 1176.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 1058.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 3.0, 3132.0, 12.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569900.0, 3.0, 2.0, 1751.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 1872.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(815000.0, 3.0, 3.0, 2556.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 2.0, 2.0, 1173.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 4.0, 3.0, 3968.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2285000.0, 4.0, 5.0, 5287.0, 17.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1560.0, 3.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(645000.0, 3.0, 3.0, 1872.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299990.0, 4.0, 3.0, 4250.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1100.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 1.0, 1900.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 3.0, 1.0, 960.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 2.0, 1400.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169500.0, 3.0, 2.0, 1160.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949900.0, 3.0, 3.0, 1697.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 3.0, 1.0, 1196.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 3.0, 2400.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 6.0, 5.0, 3700.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 3.0, 1960.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 5.0, 4.0, 2094.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 3.0, 2094.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619900.0, 3.0, 1.0, 1390.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2495000.0, 4.0, 6.0, 6104.0, 90.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5395000.0, 4.0, 6.0, 6477.0, 1.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 3.0, 2.0, 2023.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759000.0, 4.0, 3.0, 2660.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 2.0, 1284.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1600000.0, 4.0, 4.0, 2746.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 6.0, 3.0, 3357.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4795000.0, 3.0, 4.0, 4770.0, 109.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 4.0, 3.0, 2840.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(769900.0, 4.0, 5.0, 6650.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 2.0, 1858.0, 16.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 2.0, 1.0, 870.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429999.0, 4.0, 3.0, 2540.0, 1.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2450000.0, 4.0, 5.0, 3564.0, 6.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 4.0, 4.0, 3190.0, 3.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 3.0, 3226.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(692000.0, 3.0, 3.0, 3000.0, 6.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(809999.0, 3.0, 2.0, 1470.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 2.0, 3.0, 1137.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 4.0, 3.0, 2420.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699500.0, 6.0, 3.0, 2704.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(682469.0, 4.0, 4.0, 3134.0, 1.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 5.0, 2.0, 3507.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 3320.0, 2.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1625000.0, 4.0, 3.0, 3819.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 912.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(735000.0, 4.0, 4.0, 2901.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 5.0, 5.0, 4900.0, 5.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139999.0, 2.0, 1.0, 1122.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829000.0, 3.0, 3.0, 2423.0, 2.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 3.0, 1827.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 5.0, 6.0, 7230.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(760000.0, 8.0, 4.0, 2850.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 1.0, 1474.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 2.0, 2.0, 756.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 4.0, 1.0, 1150.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(959900.0, 4.0, 4.0, 3840.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 1.0, 1120.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 13.0, 12.0, 5988.0, 2.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 2.0, 1.0, 996.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(530000.0, 3.0, 2.0, 1562.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 4.0, 4.0, 3096.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 2.0, 1284.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 5.0, 2.0, 2424.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314900.0, 2.0, 2.0, 1046.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 2.0, 1762.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 3.0, 1642.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(734999.0, 3.0, 2.0, 2075.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 4.0, 2.0, 1792.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409000.0, 3.0, 2.0, 1542.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 3.0, 1130.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 4.0, 4.0, 2489.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 4.0, 2.0, 2080.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 10.0, 2.0, 2504.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(929995.0, 5.0, 5.0, 4642.0, 1.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1530.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1040.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 2.0, 1.0, 1111.0, 0.29)

(719900.0, 3.0, 2.0, 1750.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 2.0, 1856.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(184900.0, 5.0, 2.0, 1760.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 4.0, 4.0, 2808.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 6.0, 2.0, 1728.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245900.0, 3.0, 1.0, 1256.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1520.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 3.0, 3.0, 1956.0, 3.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 4.0, 4.0, 2900.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 2.0, 1823.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(775000.0, 3.0, 2.0, 2010.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3399000.0, 4.0, 4.0, 3518.0, 1.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(774999.0, 3.0, 2.0, 1428.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 3.0, 3.0, 1848.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 3.0, 3.0, 2020.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 1530.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 5.0, 4372.0, 2.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560500.0, 3.0, 2.0, 1426.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 4.0, 2.0, 1299.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139000.0, 3.0, 1.0, 1428.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2207.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2199000.0, 3.0, 3.0, 3650.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 5.0, 3.0, 2429.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259999.0, 3.0, 1.0, 1047.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(777000.0, 4.0, 3.0, 4672.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1649000.0, 4.0, 5.0, 4917.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 3.0, 3056.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(190000.0, 4.0, 2.0, 4342.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2904.0, 1.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 1.0, 1674.0, 12.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2724.0, 1.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 1.0, 960.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 2146.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 3.0, 1.0, 1144.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 1.0, 1588.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 1.0, 1173.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 5.0, 4.0, 4666.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 5.0, 2.0, 1833.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1050000.0, 3.0, 4.0, 4438.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 2.0, 1476.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 3.0, 3.0, 2438.0, 1.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 4.0, 2.0, 2052.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 6.0, 5.0, 5302.0, 1.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 2520.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1296.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(394900.0, 4.0, 2.0, 1500.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1116.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 3.0, 2.0, 1284.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 2.0, 2.0, 1536.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349990.0, 3.0, 2.0, 1300.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560000.0, 4.0, 2.0, 2155.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 1720.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 4.0, 1.0, 1520.0, 1.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(685000.0, 3.0, 2.0, 2194.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 1500.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 3.0, 2910.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259000.0, 9.0, 3.0, 3298.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 2.0, 1700.0, 1.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(859900.0, 5.0, 2.0, 1878.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629000.0, 4.0, 2.0, 2192.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(124900.0, 3.0, 1.0, 1892.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 3.0, 1.0, 1350.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 2.0, 2.0, 1450.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(446000.0, 3.0, 1.0, 1340.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(410000.0, 2.0, 2.0, 1158.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1795900.0, 4.0, 3.0, 3600.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 5.0, 3.0, 2364.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 4.0, 1.0, 1462.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1096.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 2.0, 1132.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(50000.0, 2.0, 2.0, 712.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 4.0, 2.0, 1613.0, 1.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 2.0, 2265.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1125000.0, 4.0, 3.0, 2182.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1550.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1957.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 1.0, 1268.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 2.0, 2.0, 1258.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 1.0, 2.0, 3792.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 3.0, 2064.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(156750.0, 3.0, 1.0, 1268.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(620000.0, 7.0, 2.0, 2765.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 1.0, 1154.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 6.0, 4.0, 2448.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 3.0, 1964.0, 2.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999000.0, 4.0, 4.0, 2876.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1870.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 4.0, 4.0, 4199.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 5.0, 5.0, 3856.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1352.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1125000.0, 4.0, 5.0, 4295.0, 2.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 1152.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 4.0, 2.0, 1200.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 4.0, 3.0, 2832.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 5.0, 4.0, 4014.0, 2.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 2.0, 2.0, 1239.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(690000.0, 4.0, 3.0, 2750.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 8.0, 4.0, 2846.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 8.0, 4.0, 2926.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 1369.0, 2.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(144000.0, 1.0, 1.0, 600.0, 5.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 2.0, 2526.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439500.0, 4.0, 2.0, 2394.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1735000.0, 4.0, 4.0, 3340.0, 2.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 1.0, 1963.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1795000.0, 4.0, 4.0, 3077.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 3.0, 4.0, 4600.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1064.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(247900.0, 2.0, 2.0, 947.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1138.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 2108.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 3.0, 3224.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(358000.0, 3.0, 2.0, 1651.0, 1.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 5.0, 2.0, 1608.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 5.0, 5.0, 6040.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 2.0, 1.0, 1047.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3500000.0, 6.0, 10.0, 10313.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 1.0, 1391.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(819900.0, 4.0, 3.0, 2492.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 3.0, 3.0, 1880.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 2.0, 1.0, 744.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 2.0, 1456.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 2.0, 1436.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174900.0, 2.0, 2.0, 1014.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(534900.0, 3.0, 2.0, 2547.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 2.0, 2990.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759900.0, 7.0, 6.0, 3963.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 1820.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1828.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 3.0, 3.0, 2146.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 4.0, 3.0, 4588.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 2.0, 1.0, 1183.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 2.0, 1.0, 800.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 4.0, 1.0, 1921.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 2.0, 2457.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(460000.0, 2.0, 1.0, 828.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 3.0, 3.0, 2550.0, 6.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 3.0, 2.0, 1120.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(498000.0, 3.0, 2.0, 1255.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 5.0, 4.0, 3203.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 3.0, 2079.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(498000.0, 4.0, 3.0, 1272.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 4.0, 1.0, 1248.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 3.0, 2.0, 1008.0, 1.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 2.0, 1840.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 1.0, 1152.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 2.0, 1.0, 1280.0, 4.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 3.0, 1.0, 875.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 2.0, 1586.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 2.0, 1326.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 5.0, 3.0, 3520.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 6.0, 4.0, 3540.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(288500.0, 3.0, 3.0, 1510.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5795000.0, 5.0, 8.0, 7146.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 3369.0, 2.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 1.0, 2.0, 899.0, 17.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(237900.0, 2.0, 2.0, 1341.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(685000.0, 2.0, 1.0, 855.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 6.0, 3.0, 3108.0, 2.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 2050.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 4.0, 2.0, 1820.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 4.0, 3.0, 2055.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1584.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(900000.0, 3.0, 4.0, 4424.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 2.0, 1571.0, 4.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 1.0, 1310.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 1.0, 1158.0, 2.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 9.0, 5.0, 5496.0, 2.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 1.0, 1014.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 2.0, 1940.0, 1.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 3.0, 3.0, 2973.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2190000.0, 5.0, 3.0, 2763.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 4.0, 2.0, 1482.0, 1.39)

(679000.0, 1.0, 1.0, 1088.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 2.0, 2638.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(206000.0, 3.0, 1.0, 1110.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 5.0, 7.0, 7061.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 2.0, 1.0, 1268.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 2.0, 952.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 4.0, 2.0, 1632.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679000.0, 3.0, 2.0, 1300.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 2.0, 1464.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1344.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(534900.0, 3.0, 4.0, 1595.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659000.0, 1.0, 2.0, 1067.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 2571.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2118.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 1.0, 2.0, 1001.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 3.0, 2244.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 3.0, 1.0, 1216.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 4.0, 2.0, 3458.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 3.0, 1.0, 1351.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(889900.0, 4.0, 3.0, 2486.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3995000.0, 6.0, 7.0, 4863.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(436590.0, 3.0, 2.0, 2205.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659000.0, 2.0, 1.0, 1217.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1400.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 4.0, 3.0, 3451.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 3.0, 2.0, 2560.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 3.0, 3.0, 1722.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1140000.0, 3.0, 4.0, 2790.0, 4.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 3.0, 1984.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 4.0, 4.0, 2520.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 1.0, 1.0, 6880.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 3.0, 2564.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(364900.0, 3.0, 2.0, 1617.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(745000.0, 4.0, 3.0, 2847.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3250000.0, 7.0, 7.0, 6200.0, 24.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 1.0, 1300.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6500000.0, 5.0, 7.0, 8399.0, 1.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 3.0, 3419.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 2.0, 1348.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 2.0, 3.0, 1790.0, 8.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 2194.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 2502.0, 1.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 7.0, 4.0, 3195.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1712.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(516900.0, 3.0, 4.0, 2524.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 4.0, 3.0, 2266.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 3.0, 3.0, 2592.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 3.0, 2.0, 1188.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 1.0, 946.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 6.0, 3.0, 5488.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 5.0, 4.0, 5000.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(740000.0, 4.0, 2.0, 1344.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(769900.0, 4.0, 3.0, 2728.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 2.0, 1.0, 924.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(680000.0, 4.0, 2.0, 2033.0, 27.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 4.0, 2240.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 2.0, 1344.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7495000.0, 4.0, 5.0, 4551.0, 172.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499000.0, 3.0, 3.0, 2515.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1232.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 3.0, 3.0, 1846.0, 21.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 3.0, 2461.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5750000.0, 5.0, 6.0, 6348.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 12.0, 2.0, 3160.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1170000.0, 5.0, 5.0, 3200.0, 1.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 3.0, 3340.0, 1.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 3.0, 2620.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 5.0, 2.0, 2567.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 1243.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 6.0, 4.0, 3480.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 2.0, 2417.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 3.0, 2340.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1799000.0, 7.0, 3.0, 2340.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 3.0, 2.0, 1440.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(14500000.0, 4.0, 6.0, 4244.0, 22.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 3.0, 1.0, 1470.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(493000.0, 3.0, 3.0, 2462.0, 6.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(298000.0, 3.0, 2.0, 1484.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5295000.0, 6.0, 8.0, 10016.0, 1.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 4.0, 4.0, 4500.0, 1.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(167000.0, 3.0, 1.0, 1379.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 3.0, 3.0, 2796.0, 3.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1284.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 2.0, 1596.0, 1.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 2.0, 1.0, 720.0, 7.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 4.0, 2160.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1200.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 2.0, 2051.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1469.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 3.0, 2233.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 2.0, 1876.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(690000.0, 5.0, 2.0, 1610.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259799.0, 4.0, 2.0, 2104.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 4.0, 2.0, 1872.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 9.0, 3.0, 4204.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(590000.0, 3.0, 3.0, 2067.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 4.0, 2.0, 2259.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1290.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(40000.0, 2.0, 1.0, 1450.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(490000.0, 3.0, 2.0, 1232.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1728.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 5.0, 3.0, 2345.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179999.0, 4.0, 2.0, 3396.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(775000.0, 4.0, 2.0, 2633.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4350000.0, 7.0, 5.0, 5055.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659000.0, 4.0, 2.0, 1948.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 2.0, 1.0, 946.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 4.0, 4.0, 3626.0, 2.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 2.0, 3.0, 1140.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 3.0, 2.0, 1269.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 4.0, 2.0, 2912.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 2655.0, 2.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1188.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435500.0, 3.0, 2.0, 1152.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1650.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 3.0, 3307.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 3.0, 2310.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 1944.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 5.0, 7000.0, 7.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(28000000.0, 8.0, 12.0, 8817.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 2.0, 3140.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 5.0, 4.0, 4685.0, 58.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 4.0, 2.0, 1426.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 2.0, 1196.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4950000.0, 5.0, 5.0, 4318.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 4.0, 2.0, 1312.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 2.0, 1024.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(705000.0, 4.0, 2.0, 1856.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 2.0, 1.0, 912.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269994.0, 3.0, 2.0, 1047.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2295000.0, 5.0, 7.0, 5679.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 4.0, 2.0, 1631.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 5.0, 3.0, 1882.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(787787.0, 2.0, 1.0, 884.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(69900.0, 1.0, 1.0, 720.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 2.0, 2.0, 1858.0, 11.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499999.0, 4.0, 5.0, 5818.0, 54.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 3.0, 2.0, 1144.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 2.0, 2.0, 1238.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 1.0, 1345.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(615000.0, 4.0, 2.0, 1632.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(213000.0, 5.0, 2.0, 2332.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 1056.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 4.0, 2.0, 2095.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1206.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1025000.0, 6.0, 3.0, 2696.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 4.0, 2.0, 1295.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259500.0, 3.0, 2.0, 1048.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 3.0, 4246.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 8.0, 5.0, 3508.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 2440.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3248000.0, 7.0, 5.0, 6682.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 2.0, 528.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1145.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 3.0, 1664.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 2.0, 1508.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 4.0, 3230.0, 3.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 3.0, 2578.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3875000.0, 3.0, 2.0, 1818.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 4.0, 3.0, 1804.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 2.0, 2.0, 1200.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 1158.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 2.0, 2.0, 738.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(140000.0, 5.0, 2.0, 1294.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5450000.0, 6.0, 5.0, 6700.0, 3.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 1345.0, 4.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234500.0, 5.0, 3.0, 1568.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 4.0, 3144.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259625.0, 3.0, 1.0, 1152.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 2.0, 1.0, 672.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(735000.0, 3.0, 2.0, 1727.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 2.0, 1778.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 2506.0, 0.46)

(630000.0, 3.0, 2.0, 2000.0, 3.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 1.0, 1350.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(635000.0, 5.0, 2.0, 3649.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1798.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 3.0, 2.0, 960.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 4.0, 2.0, 1464.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(438000.0, 4.0, 3.0, 2224.0, 1.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 2.0, 1.0, 1156.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(490000.0, 3.0, 2.0, 1247.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1526.0, 1.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165000.0, 3.0, 1.0, 910.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 5.0, 3.0, 2200.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 4.0, 3.0, 2848.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 4.0, 4.0, 2827.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 924.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2222.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 1.0, 1248.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 4.0, 3.0, 2316.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 3.0, 1630.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(109900.0, 4.0, 1.0, 1080.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1849000.0, 4.0, 4.0, 3278.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(115000.0, 4.0, 2.0, 1144.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 2.0, 1.0, 844.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1556.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 2306.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2050000.0, 2.0, 3.0, 1898.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 5.0, 4.0, 6011.0, 1.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 1.0, 1746.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 5.0, 3.0, 1985.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(204900.0, 3.0, 2.0, 1395.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 3.0, 3140.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 4.0, 4.0, 2669.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 3.0, 1332.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1197.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 3.0, 4.0, 3525.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 3.0, 1772.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 2.0, 1534.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3550000.0, 3.0, 3.0, 1795.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(819900.0, 4.0, 3.0, 2264.0, 1.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 3.0, 2.0, 1840.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 3.0, 1.0, 1133.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314999.0, 3.0, 2.0, 1882.0, 1.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 1.0, 915.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 2.0, 1238.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 4.0, 3.0, 2108.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 3.0, 2400.0, 12.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1186.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6250000.0, 5.0, 6.0, 5300.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2249000.0, 5.0, 8.0, 4350.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 2.0, 1251.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239999.0, 4.0, 2.0, 2160.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1589.0, 6.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 3.0, 1108.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 2.0, 2.0, 1010.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 2.0, 2005.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 2.0, 2412.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 936.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 3275.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 4.0, 2.0, 1558.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 2448.0, 1.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 4.0, 2.0, 1834.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3450000.0, 4.0, 4.0, 2708.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 2.0, 1.0, 1008.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299500.0, 3.0, 2.0, 2240.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 3.0, 1601.0, 3.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1290000.0, 4.0, 4.0, 3250.0, 1.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(798000.0, 4.0, 2.0, 1319.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 1.0, 1.0, 620.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 5.0, 4.0, 4341.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 2.0, 2171.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(344900.0, 3.0, 2.0, 1834.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1176.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(470000.0, 5.0, 2.0, 1930.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 4.0, 3.0, 2491.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 3.0, 2060.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545000.0, 4.0, 2.0, 2500.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899999.0, 3.0, 2.0, 1290.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 1707.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 4.0, 2.0, 1626.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2700000.0, 4.0, 5.0, 3309.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(660000.0, 4.0, 3.0, 2955.0, 2.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 3.0, 1544.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(669000.0, 4.0, 3.0, 2210.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 11.0, 6.0, 3611.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234000.0, 4.0, 1.0, 1536.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 2.0, 1.0, 1440.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 3.0, 3.0, 2475.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3999000.0, 16.0, 6.0, 7580.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 2.0, 1.0, 1092.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(719000.0, 3.0, 2.0, 2054.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(741500.0, 2.0, 2.0, 1296.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 1632.0, 3.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 3.0, 1.0, 912.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 5.0, 4.0, 3927.0, 3.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 5.0, 4.0, 3472.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 2.0, 1.0, 864.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314900.0, 3.0, 2.0, 1440.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 3.0, 1310.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(227000.0, 3.0, 1.0, 1080.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 4.0, 2916.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 812.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 4.0, 3.0, 2628.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 3.0, 1138.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 5.0, 5.0, 4000.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(928000.0, 3.0, 2.0, 1005.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 6.0, 2.0, 5365.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 1.0, 960.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(174900.0, 3.0, 2.0, 1637.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1300000.0, 5.0, 4.0, 4278.0, 8.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 3.0, 1952.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 3.0, 1904.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(715000.0, 3.0, 3.0, 1706.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 4.0, 2.0, 1920.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 4.0, 3.0, 1512.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1120.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 4.0, 5.0, 2888.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 4.0, 4.0, 2523.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 1.0, 984.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 3.0, 1884.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 4.0, 2.0, 1480.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1715.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(874900.0, 4.0, 3.0, 3412.0, 1.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 3.0, 1.0, 912.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269000.0, 9.0, 3.0, 5977.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 2.0, 1032.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 2.0, 1257.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 1068.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 4.0, 1.0, 1554.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119900.0, 4.0, 2.0, 1440.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 4.0, 2.0, 1827.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 3.0, 3.0, 2090.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 1.0, 1440.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 3.0, 2.0, 2163.0, 1.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 5.0, 2.0, 2472.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 4.0, 3.0, 1893.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(221000.0, 4.0, 2.0, 1735.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(530000.0, 4.0, 3.0, 2128.0, 4.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 3.0, 1490.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 3.0, 2289.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 3.0, 2868.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 4.0, 3680.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299999.0, 3.0, 2.0, 1362.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(266000.0, 3.0, 2.0, 1170.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 1.0, 1656.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(129000.0, 1.0, 1.0, 793.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 3.0, 2400.0, 1.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 1.0, 1.0, 520.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1275000.0, 8.0, 4.0, 3740.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2349000.0, 5.0, 5.0, 4959.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224000.0, 3.0, 2.0, 972.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149000.0, 5.0, 4.0, 3803.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 3.0, 3.0, 1800.0, 2.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 2.0, 1.0, 824.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(750000.0, 4.0, 3.0, 3937.0, 3.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 1.0, 3187.0, 38.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 1.0, 1239.0, 3.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 6.0, 3.0, 3696.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 2.0, 2694.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 2.0, 1904.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2056.0, 1.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 4.0, 3.0, 3039.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 9.0, 8.0, 5904.0, 1.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1002.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649999.0, 7.0, 5.0, 4070.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 2133.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 6.0, 3.0, 2554.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 2.0, 1643.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(12500000.0, 33.0, 15.0, 20821.0, 89.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 2.0, 1326.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629000.0, 4.0, 3.0, 2621.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(323900.0, 3.0, 1.0, 1242.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 4.0, 5.0, 4091.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1609.0, 0.25)

(379900.0, 2.0, 2.0, 1589.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 1.0, 1.0, 636.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 2.0, 2.0, 1176.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 4.0, 6.0, 5460.0, 2.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789000.0, 4.0, 3.0, 3229.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479999.0, 4.0, 2.0, 1792.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 4.0, 3.0, 2700.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1266.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 4.0, 2211.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 2.0, 1829.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 4.0, 1.0, 1319.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 5.0, 3.0, 3239.0, 2.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 1.0, 1536.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 2.0, 908.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 1200.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 4.0, 3.0, 2806.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1428.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 5.0, 3.0, 1768.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1944.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 4.0, 4.0, 2074.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1812.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 954.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399000.0, 4.0, 3.0, 2361.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2495000.0, 8.0, 7.0, 9017.0, 2.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 2.0, 2145.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 3.0, 3.0, 1972.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1300.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 1623.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 4.0, 5.0, 2396.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(514900.0, 4.0, 2.0, 1472.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 3.0, 2.0, 1352.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(140000.0, 3.0, 2.0, 1400.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 960.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 3.0, 1868.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 1.0, 1080.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 3.0, 2.0, 1142.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579999.0, 4.0, 2.0, 1432.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 3.0, 2.0, 1803.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 5.0, 3.0, 2996.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 4.0, 1566.0, 1.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(15000000.0, 8.0, 10.0, 14058.0, 157.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3850000.0, 5.0, 8.0, 10823.0, 9.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2750000.0, 5.0, 3.0, 7000.0, 19.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 6.0, 2.0, 2984.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 3.0, 1274.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(558000.0, 4.0, 4.0, 3434.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1649000.0, 3.0, 3.0, 5612.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 3.0, 2180.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 2.0, 1292.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 4.0, 2.0, 1440.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(985000.0, 3.0, 3.0, 2225.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 1.0, 915.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 4.0, 5.0, 4726.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 2.0, 1308.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(60000000.0, 9.0, 10.0, 18777.0, 400.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 5.0, 3.0, 2545.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1680.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 3.0, 2116.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 2.0, 2594.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 1.0, 1.0, 688.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 2.0, 1648.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 2275.0, 3.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1680.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199500.0, 3.0, 2.0, 1716.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 2.0, 2.0, 1017.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 3.0, 2363.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(660000.0, 3.0, 3.0, 2816.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349999.0, 3.0, 3.0, 1547.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 1607.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(527500.0, 4.0, 2.0, 1428.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1772.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(724900.0, 4.0, 3.0, 3627.0, 4.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8850000.0, 7.0, 9.0, 9300.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 4.0, 2.0, 2320.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 4.0, 2128.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1512.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1520.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 1.0, 1045.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 5.0, 5.0, 4494.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 4.0, 1.0, 1695.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 3.0, 2775.0, 2.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1248.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 2.0, 2.0, 1330.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 1.0, 1082.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 2.0, 1.0, 1768.0, 1.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 2.0, 1687.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1335000.0, 6.0, 3.0, 3776.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 952.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 840.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 2.0, 1.0, 960.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 3.0, 4.0, 2654.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(578000.0, 3.0, 2.0, 1538.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 2.0, 2208.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1725000.0, 2.0, 2.0, 1437.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 3.0, 2.0, 1664.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 1.0, 1.0, 881.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 3.0, 1604.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429999.0, 5.0, 3.0, 3136.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1549800.0, 5.0, 4.0, 4000.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1574.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2495000.0, 4.0, 5.0, 3786.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224550.0, 3.0, 2.0, 1491.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(194900.0, 3.0, 2.0, 1775.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 6.0, 3.0, 2256.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 4.0, 3.0, 1920.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 1.0, 1.0, 648.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1606.0, 2.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4890000.0, 5.0, 7.0, 9164.0, 11.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 2.0, 3112.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 4.0, 1.0, 1662.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 1.0, 1127.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 5.0, 2.0, 2080.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 4.0, 3.0, 4845.0, 0.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(254900.0, 3.0, 3.0, 1532.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 1.0, 1012.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 2.0, 1634.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 3.0, 2.0, 1984.0, 8.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 2348.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 3.0, 2.0, 1641.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1092.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 1.0, 1389.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(714900.0, 4.0, 3.0, 2569.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 3.0, 2819.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 8.0, 3.0, 3845.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8795000.0, 6.0, 8.0, 4884.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 4.0, 1.0, 1127.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 5.0, 3.0, 3715.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 2.0, 1398.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1525000.0, 4.0, 6.0, 4871.0, 7.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(660000.0, 4.0, 3.0, 3306.0, 5.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 2136.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 3.0, 2872.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 4.0, 2.0, 1480.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 922.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 3.0, 1996.0, 2.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(59000.0, 2.0, 1.0, 540.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 2.0, 1.0, 725.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2290000.0, 3.0, 4.0, 3800.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 6.0, 4.0, 2870.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 10.0, 3.0, 4200.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 3.0, 2487.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1260.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(464000.0, 3.0, 3.0, 1874.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1620.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1452.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1238.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(59900.0, 3.0, 1.0, 1105.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 1080.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 2.0, 1.0, 908.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 1.0, 1098.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699999.0, 2.0, 2.0, 1980.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1471.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1600000.0, 4.0, 6.0, 5400.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1405.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(989900.0, 3.0, 2.0, 2759.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2200000.0, 7.0, 3.0, 4500.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(985000.0, 4.0, 3.0, 3863.0, 2.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 5.0, 2.0, 1885.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1634.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 1912.0, 2.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 3.0, 2351.0, 2.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 3.0, 2.0, 1288.0, 5.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 3.0, 2337.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599800.0, 3.0, 2.0, 2264.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 1.0, 1500.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 4.0, 2.0, 1368.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 2.0, 2.0, 480.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 9.0, 3.0, 3702.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 5.0, 5.0, 6164.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 3.0, 1056.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 2.0, 1588.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 1.0, 900.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(477000.0, 4.0, 2.0, 3200.0, 3.5)

(279900.0, 6.0, 3.0, 2808.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2395000.0, 5.0, 6.0, 5522.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 4.0, 2.0, 3196.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 2.0, 2.0, 888.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 1.0, 1827.0, 1.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 3.0, 1910.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 3.0, 2269.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 1788.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 4.0, 3.0, 3102.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(430000.0, 2.0, 3.0, 1242.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(355000.0, 2.0, 1.0, 877.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 4.0, 3.0, 3256.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354900.0, 4.0, 2.0, 1480.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 4.0, 2016.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119999.0, 4.0, 1.0, 1008.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1494.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 3047.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 2.0, 2.0, 1112.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1699000.0, 5.0, 3.0, 2075.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 4.0, 3.0, 2041.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 2.0, 2.0, 1300.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 1.0, 880.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 1.0, 1570.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 2532.0, 6.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 6.0, 5.0, 2588.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1749900.0, 6.0, 6.0, 5421.0, 1.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(939000.0, 4.0, 3.0, 2772.0, 3.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 2.0, 1870.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 1.0, 1.0, 637.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 4.0, 2.0, 1542.0, 1.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269500.0, 3.0, 3.0, 1244.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 1.0, 1248.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 3.0, 2.0, 1523.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 9.0, 4.0, 2880.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 3.0, 2899.0, 96.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 3.0, 3544.0, 2.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(775000.0, 2.0, 1.0, 1000.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 3.0, 2.0, 2252.0, 4.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1034.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 7.0, 3.0, 2070.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(288000.0, 3.0, 1.0, 1391.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 5.0, 6.0, 3809.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 3.0, 2582.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 1.0, 1452.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 2.0, 1.0, 902.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1388.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 2640.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1255.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4200000.0, 3.0, 1.0, 4080.0, 6.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(460000.0, 2.0, 1.0, 884.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474500.0, 4.0, 4.0, 2722.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 4.0, 3524.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 1.0, 1080.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 3.0, 2.0, 1509.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499900.0, 4.0, 4.0, 4967.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1236.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3000000.0, 3.0, 4.0, 5000.0, 28.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449797.0, 5.0, 3.0, 2173.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 3.0, 2925.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 6.0, 3.0, 6268.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1800000.0, 4.0, 3.0, 3876.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879000.0, 5.0, 3.0, 3172.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5450000.0, 3.0, 5.0, 2979.0, 3.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 3.0, 1.0, 1064.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 4.0, 2988.0, 20.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165000.0, 4.0, 2.0, 1042.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 1284.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(729000.0, 3.0, 2.0, 1425.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 1.0, 1636.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2500000.0, 6.0, 5.0, 7000.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(70000.0, 7.0, 3.0, 3035.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2845000.0, 5.0, 7.0, 7148.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 4.0, 3.0, 3568.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 6.0, 2.0, 5048.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 6.0, 2.0, 3201.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 1972.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 5.0, 5.0, 6890.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 3.0, 2.0, 1561.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 3.0, 1.0, 1548.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2795.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 4.0, 2.0, 1748.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 3.0, 1443.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324000.0, 6.0, 2.0, 3720.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(720000.0, 5.0, 3.0, 3676.0, 1.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 4.0, 3.0, 3267.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 2.0, 1.0, 1276.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 5.0, 3.0, 3307.0, 46.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 8.0, 3.0, 4569.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 5.0, 6.0, 6137.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(580000.0, 4.0, 4.0, 2692.0, 2.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(109000.0, 4.0, 3.0, 1890.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 2.0, 1.0, 1166.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 4.0, 2000.0, 3.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 2.0, 1.0, 713.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 1.0, 1200.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 3.0, 2106.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 5.0, 4.0, 2996.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1249000.0, 5.0, 4.0, 3960.0, 5.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 3.0, 1124.0, 1.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 6.0, 4.0, 2931.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 4.0, 2.0, 1700.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 2.0, 1.0, 2013.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 2190.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 4.0, 3.0, 1733.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4800000.0, 5.0, 7.0, 5922.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 4.0, 3.0, 3320.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 1.0, 1333.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(514900.0, 3.0, 3.0, 2462.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 2.0, 2.0, 1152.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 4.0, 2.0, 1740.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1126.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7500000.0, 4.0, 6.0, 8614.0, 1.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5100000.0, 6.0, 5.0, 7210.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 2.0, 2.0, 980.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(135000.0, 2.0, 2.0, 600.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1269.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 1874.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 4.0, 3.0, 2418.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 1.0, 1571.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119000.0, 4.0, 2.0, 1728.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 6.0, 2.0, 2361.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 4.0, 2.0, 2851.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 2.0, 1.0, 898.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 2.0, 1800.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 3.0, 3325.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1895000.0, 3.0, 3.0, 2886.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 1.0, 1090.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 3.0, 1594.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 5.0, 3.0, 2777.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 3.0, 1316.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1290000.0, 3.0, 2.0, 2226.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 4.0, 2.0, 2352.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 6.0, 3.0, 3056.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 1222.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5400000.0, 6.0, 10.0, 10000.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 10.0, 4.0, 3736.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 2.0, 1.0, 1380.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159000.0, 4.0, 2.0, 1260.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 3.0, 2.0, 1128.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5895000.0, 5.0, 9.0, 13185.0, 6.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 5.0, 5023.0, 3.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 14.0, 15.0, 10302.0, 2.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2100000.0, 4.0, 4.0, 3100.0, 1.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1290000.0, 5.0, 3.0, 2030.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 2190.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 2.0, 1722.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 3.0, 3691.0, 4.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 5.0, 2.0, 2639.0, 16.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2800000.0, 6.0, 7.0, 5146.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559000.0, 3.0, 2.0, 2184.0, 2.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 3.0, 2456.0, 1.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 6.0, 2.0, 1700.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1949000.0, 3.0, 2.0, 1500.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 1.0, 1336.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1649000.0, 4.0, 3.0, 2043.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 2.0, 1.0, 1020.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1144.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 4.0, 3.0, 2716.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1470.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 3.0, 3.0, 1809.0, 4.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 1232.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1390000.0, 4.0, 4.0, 3600.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(644500.0, 5.0, 3.0, 2400.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 4.0, 2892.0, 2.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6000000.0, 7.0, 6.0, 9326.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 2.0, 2126.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(470000.0, 6.0, 3.0, 2274.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499999.0, 4.0, 4.0, 2380.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 3.0, 4.0, 2941.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 2.0, 1.0, 1140.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 6.0, 3.0, 2918.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 3.0, 2663.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(136000.0, 2.0, 2.0, 1248.0, 3.0)

(350000.0, 6.0, 3.0, 4184.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 5.0, 4800.0, 1.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 3.0, 1840.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 2132.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 3.0, 2126.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 2.0, 2.0, 1240.0, 0.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569900.0, 3.0, 3.0, 2284.0, 2.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159000.0, 2.0, 2.0, 1455.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4695000.0, 7.0, 8.0, 4279.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(515000.0, 4.0, 4.0, 1548.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 3.0, 2.0, 1168.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 3.0, 3359.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 1284.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 1956.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1020.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1595000.0, 2.0, 2.0, 1496.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 2.0, 1150.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4500000.0, 4.0, 7.0, 8700.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(809900.0, 5.0, 5.0, 3720.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(65000.0, 3.0, 1.0, 1280.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 3.0, 3.0, 2546.0, 1.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 2.0, 2.0, 1286.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284999.0, 4.0, 3.0, 1360.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1844.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(305000.0, 3.0, 1.0, 1584.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299999.0, 12.0, 3.0, 3720.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 5.0, 3.0, 2579.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 4.0, 3.0, 2889.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 5.0, 5.0, 3776.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 3.0, 3.0, 1880.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 9.0, 3.0, 4344.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 5.0, 2.0, 2158.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 5.0, 4.0, 3020.0, 3.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(214200.0, 3.0, 2.0, 1225.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(915000.0, 2.0, 1.0, 1128.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 4.0, 5.0, 4530.0, 6.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(484900.0, 4.0, 3.0, 2330.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 4.0, 3.0, 1760.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205900.0, 3.0, 2.0, 1432.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(584900.0, 4.0, 3.0, 2590.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 2.0, 1148.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 936.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 3.0, 1.0, 952.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 2.0, 1.0, 1036.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 2.0, 1745.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 4.0, 1.0, 1348.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999000.0, 4.0, 4.0, 3396.0, 196.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1404.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 5.0, 3.0, 1596.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 4.0, 3475.0, 2.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2900000.0, 6.0, 2.0, 2745.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 3.0, 1808.0, 14.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 3.0, 3.0, 3117.0, 1.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2198000.0, 5.0, 4.0, 3772.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2595000.0, 5.0, 7.0, 5016.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 1.0, 1008.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(130000.0, 4.0, 2.0, 2080.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 2.0, 1.0, 884.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 9.0, 3.0, 4680.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545900.0, 4.0, 2.0, 1476.0, 6.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 2.0, 1.0, 864.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499000.0, 2.0, 2.0, 1743.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159000.0, 3.0, 1.0, 1656.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 12.0, 6.0, 4366.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334000.0, 3.0, 2.0, 1344.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1330.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(378000.0, 5.0, 3.0, 3075.0, 0.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 3.0, 2.0, 1382.0, 3.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 2.0, 2.0, 1176.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1525000.0, 4.0, 3.0, 2868.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 10.0, 4.0, 6520.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 1547.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1199.0, 3.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 7.0, 3.0, 2400.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 4.0, 1.0, 1300.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279500.0, 9.0, 3.0, 2928.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 2043.0, 2.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1900000.0, 3.0, 2.0, 1992.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 3.0, 1960.0, 1.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 2.0, 952.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1376.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1323.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 2.0, 1.0, 1190.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 3.0, 1644.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1689000.0, 6.0, 4.0, 7403.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 3.0, 2.0, 2536.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1172.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1075000.0, 4.0, 3.0, 3532.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(524900.0, 4.0, 2.0, 1984.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(127200.0, 4.0, 2.0, 1492.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139000.0, 3.0, 1.0, 1432.0, 2.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 6.0, 2.0, 2016.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1389.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 6.0, 3.0, 2270.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 3.0, 1680.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 4.0, 1.0, 1235.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3500000.0, 6.0, 8.0, 6687.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1856.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(282500.0, 2.0, 2.0, 1032.0, 5.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2250000.0, 4.0, 3.0, 2028.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 4.0, 3408.0, 6.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 5.0, 3.0, 3088.0, 2.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 8.0, 4.0, 5282.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309000.0, 6.0, 4.0, 2190.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(444900.0, 4.0, 2.0, 1976.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244900.0, 4.0, 2.0, 1593.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659000.0, 3.0, 3.0, 2337.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 1144.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 3.0, 2.0, 1654.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(590000.0, 3.0, 2.0, 1320.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 2.0, 2347.0, 1.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 4.0, 2.0, 1703.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 4.0, 3.0, 2296.0, 1.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1128.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 946.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1094.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(985000.0, 9.0, 3.0, 3648.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 2.0, 1804.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 8.0, 2.0, 3278.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1434.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424977.0, 3.0, 2.0, 1050.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829900.0, 4.0, 3.0, 2860.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 1110.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 4.0, 2.0, 1824.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 3.0, 1584.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 1.0, 1339.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 3.0, 3480.0, 2.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 2.0, 1580.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 1186.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(172500.0, 3.0, 1.0, 1076.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 2.0, 1.0, 843.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 6.0, 2.0, 2081.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(800000.0, 4.0, 3.0, 3240.0, 1.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 3.0, 1.0, 802.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 3.0, 2.0, 1559.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1090000.0, 4.0, 4.0, 4100.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 1.0, 1500.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1795000.0, 4.0, 3.0, 2038.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 2028.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 4.0, 3.0, 4650.0, 1.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 6.0, 5.0, 6580.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(587877.0, 4.0, 3.0, 1451.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3350000.0, 4.0, 3.0, 1776.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(673000.0, 4.0, 2.0, 1700.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 3.0, 4.0, 3892.0, 5.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 3.0, 5.0, 2800.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 2.0, 2.0, 1716.0, 3.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1692.0, 1.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(170000.0, 3.0, 2.0, 960.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 1.0, 768.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 2.0, 1.0, 1289.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1899000.0, 5.0, 5.0, 7044.0, 1.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 4.0, 2.0, 3717.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(268000.0, 3.0, 2.0, 1456.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 2.0, 2.0, 1864.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 6.0, 2.0, 3500.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399000.0, 4.0, 2.0, 2760.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 3.0, 2951.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 4.0, 4.0, 2984.0, 2.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 2.0, 1.0, 1366.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 1.0, 1.0, 649.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 3.0, 1371.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2950000.0, 4.0, 5.0, 4190.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 2.0, 1595.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 6.0, 4.0, 3036.0, 1.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 3.0, 1.0, 800.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 3019.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1235000.0, 3.0, 3.0, 3300.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(120000.0, 2.0, 2.0, 1028.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1248.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219000.0, 3.0, 3.0, 1490.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3592.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 5.0, 4.0, 5694.0, 0.5)

(899900.0, 3.0, 2.0, 1890.0, 67.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8995000.0, 6.0, 9.0, 5995.0, 389.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264000.0, 3.0, 1.0, 1084.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 6.0, 2.0, 2414.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 4.0, 3.0, 2817.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1329990.0, 4.0, 2.0, 1380.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 2.0, 1.0, 1200.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424999.0, 2.0, 1.0, 864.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 2.0, 1.0, 500.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 3.0, 3359.0, 5.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 2900.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 1.0, 796.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 2.0, 2786.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 5.0, 2.0, 3450.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1750000.0, 3.0, 3.0, 2312.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 3.0, 1885.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 2.0, 1.0, 1250.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 2.0, 1120.0, 3.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1536.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 4.0, 3.0, 3126.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(7599000.0, 4.0, 6.0, 5799.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(729000.0, 4.0, 3.0, 2724.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2150000.0, 4.0, 4.0, 4700.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(132000.0, 6.0, 2.0, 2500.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269500.0, 3.0, 2.0, 1134.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 804.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(342500.0, 5.0, 3.0, 1880.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(480000.0, 9.0, 3.0, 5060.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 3.0, 1184.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 3.0, 2563.0, 1.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 2107.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 4.0, 2.0, 1232.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829000.0, 2.0, 2.0, 1285.0, 17.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 4.0, 4334.0, 12.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1575000.0, 5.0, 4.0, 4448.0, 1.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 4.0, 1998.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(929000.0, 6.0, 3.0, 2288.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 2.0, 3.0, 2130.0, 30.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3900000.0, 4.0, 7.0, 3602.0, 40.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389999.0, 5.0, 2.0, 3915.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 4.0, 3.0, 3633.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1732.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879000.0, 1.0, 1.0, 913.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1554.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2950000.0, 5.0, 6.0, 5166.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(257500.0, 3.0, 1.0, 1468.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 4.0, 1722.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1895000.0, 4.0, 3.0, 4072.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(180000.0, 4.0, 4.0, 2145.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 3.0, 3.0, 1481.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 3.0, 2716.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1132.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 2.0, 1142.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 6.0, 4.0, 3520.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 2.0, 2.0, 1248.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 6.0, 3.0, 2547.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560000.0, 3.0, 2.0, 1392.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6950000.0, 7.0, 7.0, 6476.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(670000.0, 4.0, 3.0, 2560.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 1.0, 960.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2895000.0, 3.0, 4.0, 1700.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 4.0, 2.0, 2458.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(640000.0, 7.0, 3.0, 2320.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1250.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499289.0, 2.0, 2.0, 864.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 2.0, 2.0, 1232.0, 2.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 4.0, 2032.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 2.0, 1919.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 1.0, 1024.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 5.0, 4.0, 4574.0, 2.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799999.0, 5.0, 4.0, 3322.0, 1.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4400000.0, 4.0, 5.0, 3840.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 4.0, 2.0, 1713.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 2.0, 3.0, 1430.0, 1.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1290.0, 8.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674444.0, 4.0, 5.0, 4122.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 2.0, 1.0, 731.0, 1.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2200000.0, 4.0, 3.0, 3080.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 4.0, 3.0, 1962.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 3.0, 3.0, 2096.0, 1.82)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 3.0, 2.0, 946.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(509900.0, 2.0, 2.0, 1000.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 4.0, 3.0, 2850.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 8.0, 4.0, 3904.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 3.0, 1.0, 1131.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 7.0, 5.0, 4978.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 6.0, 6.0, 3902.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 2.0, 2710.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 2.0, 1916.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1104.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(719900.0, 4.0, 2.0, 2218.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 3.0, 1498.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 2.0, 1.0, 895.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 5.0, 7.0, 5566.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 3.0, 2160.0, 2.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 3.0, 2408.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 2.0, 1790.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1548.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(800000.0, 4.0, 3.0, 3073.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 1824.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1597.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1404.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 2.0, 1950.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279000.0, 3.0, 2.0, 1834.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 4.0, 4.0, 3000.0, 0.97)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(213900.0, 4.0, 2.0, 2023.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8250000.0, 5.0, 6.0, 5100.0, 6.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 2.0, 1472.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 2371.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 4.0, 3.0, 2560.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354900.0, 3.0, 3.0, 2136.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 2.0, 1575.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 4.0, 3.0, 3120.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 4.0, 5.0, 3570.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429999.0, 4.0, 1.0, 1412.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(835000.0, 4.0, 3.0, 2855.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 7.0, 3.0, 2900.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(680000.0, 4.0, 4.0, 2739.0, 3.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 2.0, 1280.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 7.0, 3.0, 4208.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(398000.0, 6.0, 4.0, 6960.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 2.0, 2.0, 1318.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 6.0, 3.0, 2588.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1188000.0, 4.0, 5.0, 4965.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1699000.0, 4.0, 4.0, 3229.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 2.0, 1.0, 1056.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1275000.0, 2.0, 3.0, 2591.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 3.0, 2.0, 948.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 2.0, 1.0, 915.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1748.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 3.0, 2.0, 1867.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2500000.0, 4.0, 4.0, 3000.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(769900.0, 4.0, 3.0, 2726.0, 2.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 3.0, 2.0, 1400.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349888.0, 3.0, 1.0, 1152.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 3.0, 1755.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 1.0, 1576.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(254900.0, 7.0, 4.0, 2992.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 1.0, 1012.0, 1.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(364900.0, 3.0, 3.0, 1816.0, 1.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 2.0, 1.0, 1212.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 1416.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 7.0, 3.0, 4103.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 2.0, 1764.0, 1.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 2.0, 2382.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264500.0, 7.0, 5.0, 3632.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(231500.0, 3.0, 1.0, 1152.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1225000.0, 2.0, 3.0, 1666.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 3.0, 4223.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1711.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(214900.0, 3.0, 1.0, 1522.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(729900.0, 3.0, 4.0, 3258.0, 3.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1495000.0, 3.0, 3.0, 2476.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 3.0, 1.0, 1338.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1596.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(377000.0, 7.0, 4.0, 2538.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 4.0, 3.0, 1757.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3299000.0, 5.0, 5.0, 8132.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 3.0, 2.0, 1980.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 3.0, 1500.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 2.0, 1564.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 2200.0, 6.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1692.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2200000.0, 2.0, 2.0, 1339.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 2.0, 1.0, 1389.0, 6.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1092.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(392500.0, 6.0, 3.0, 1980.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 3.0, 3106.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3550000.0, 6.0, 8.0, 4514.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 2.0, 2373.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 2.0, 1152.0, 10.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 3.0, 3000.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2142.0, 0.76)

(314900.0, 3.0, 2.0, 1638.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(117000.0, 3.0, 1.0, 768.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 2.0, 1781.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474000.0, 3.0, 3.0, 2512.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(860000.0, 4.0, 4.0, 3119.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 5.0, 2.0, 2896.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 4.0, 2305.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1349000.0, 4.0, 4.0, 4485.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2885000.0, 5.0, 5.0, 5200.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 1.0, 1424.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545000.0, 3.0, 3.0, 1644.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 5.0, 3.0, 2896.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(155000.0, 3.0, 1.0, 1012.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 2.0, 1569.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 3.0, 2.0, 1463.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 3.0, 1.0, 1600.0, 75.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 3.0, 2880.0, 3.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759000.0, 4.0, 3.0, 2177.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 4.0, 3.0, 2617.0, 0.76)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 1.0, 1835.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 3.0, 2.0, 1354.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 2.0, 1491.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 4.0, 1.0, 1476.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 3.0, 1472.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 3.0, 3.0, 959.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 3.0, 2.0, 1572.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 2.0, 1.0, 884.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 2.0, 1842.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489900.0, 3.0, 2.0, 1792.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 1.0, 1417.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149000.0, 6.0, 3.0, 2995.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 3.0, 2104.0, 4.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639900.0, 3.0, 1.0, 1600.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(394900.0, 3.0, 4.0, 2025.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 8.0, 3.0, 3719.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 3.0, 3.0, 1588.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(460000.0, 3.0, 2.0, 1087.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 3.0, 3.0, 2148.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 5.0, 3.0, 3471.0, 3.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 4.0, 4366.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 2.0, 1856.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 1974.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 3.0, 2081.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(190000.0, 4.0, 2.0, 1200.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 3.0, 1979.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 4.0, 3.0, 2962.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 7.0, 3.0, 4838.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4125000.0, 5.0, 6.0, 5421.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1424.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 1080.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179000.0, 3.0, 1.0, 950.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159000.0, 7.0, 3.0, 3433.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579000.0, 2.0, 1.0, 695.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1232.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 3.0, 2.0, 2219.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5500000.0, 9.0, 14.0, 12759.0, 23.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 1.0, 1475.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 4.0, 2.0, 1896.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 5.0, 4.0, 3634.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 2.0, 759.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 3.0, 2.0, 1697.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 3.0, 1328.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1600.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 4.0, 2.0, 1851.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639000.0, 2.0, 1.0, 736.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 13.0, 7.0, 4233.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 2.0, 1.0, 720.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 2.0, 1479.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(979900.0, 3.0, 3.0, 3024.0, 1.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 2.0, 1617.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 2.0, 1128.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2400000.0, 7.0, 6.0, 4991.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1125000.0, 5.0, 5.0, 4500.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 4.0, 3.0, 3011.0, 2.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1252.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 1269.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 1942.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 2.0, 1092.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 2.0, 1984.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 6.0, 3.0, 3238.0, 7.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 3.0, 2.0, 2292.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 8.0, 3.0, 4128.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1500.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 2.0, 1.0, 1273.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 5.0, 5.0, 3229.0, 2.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 2.0, 1144.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1638.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 1326.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 2.0, 1248.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 3.0, 2.0, 1470.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 1600.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 2.0, 1500.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739000.0, 4.0, 4.0, 3482.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 4.0, 1.0, 1165.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1095000.0, 2.0, 2.0, 812.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1799000.0, 5.0, 4.0, 3129.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 2.0, 1186.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4800000.0, 5.0, 5.0, 7193.0, 1.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1259.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(384900.0, 4.0, 2.0, 1836.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 4.0, 4454.0, 1.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(465000.0, 3.0, 3.0, 2292.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 2.0, 1518.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 1.0, 912.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 3.0, 1740.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(715000.0, 7.0, 7.0, 3684.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(760000.0, 2.0, 2.0, 2272.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 4.0, 3562.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 4.0, 2.0, 1776.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 6.0, 2.0, 2520.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 3.0, 2500.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 4.0, 2.0, 2250.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1599000.0, 4.0, 3.0, 3649.0, 2.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 2.0, 1609.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 2.0, 2369.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 5.0, 5.0, 6402.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 4.0, 3.0, 2765.0, 1.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 5.0, 4.0, 4298.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 4.0, 2.0, 1667.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1324.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(635000.0, 2.0, 2.0, 1432.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 1.0, 1404.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3849000.0, 7.0, 9.0, 6662.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(537000.0, 3.0, 2.0, 1035.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 2.0, 1092.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 5.0, 3.0, 2027.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 1.0, 2.0, 1680.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 2500.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 1.0, 1529.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 3.0, 1.0, 1040.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264000.0, 3.0, 2.0, 1288.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 2.0, 2.0, 1040.0, 1.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1272.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1800000.0, 7.0, 6.0, 3732.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(900000.0, 3.0, 3.0, 2777.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 2.0, 1462.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 3.0, 1560.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(692000.0, 3.0, 2.0, 3072.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1895000.0, 3.0, 4.0, 2407.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 4.0, 2.0, 2196.0, 17.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 4.0, 3000.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 3.0, 2408.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 3.0, 3.0, 2322.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 3.0, 2707.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(859900.0, 3.0, 3.0, 1652.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 2.0, 2644.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 2.0, 1774.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 3.0, 1.0, 1238.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 3.0, 3.0, 2256.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 4.0, 2.0, 1510.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209000.0, 5.0, 3.0, 2848.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 4.0, 2.0, 1591.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 2.0, 864.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149500.0, 2.0, 1.0, 888.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(353000.0, 3.0, 2.0, 1286.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 5.0, 4.0, 4534.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 1.0, 1296.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 3.0, 2.0, 1836.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3995000.0, 4.0, 6.0, 3450.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 2.0, 1428.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 3.0, 3.0, 2360.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3795000.0, 4.0, 2.0, 2339.0, 3.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(785000.0, 2.0, 3.0, 2105.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 3.0, 1.0, 1137.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(584900.0, 4.0, 3.0, 2870.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(243800.0, 3.0, 4.0, 2780.0, 1.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 3480.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1376.0, 3.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1610.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 6.0, 2.0, 1670.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(829000.0, 3.0, 3.0, 2464.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3750000.0, 2.0, 3.0, 1905.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 1.0, 1070.0, 0.09)

(785000.0, 3.0, 3.0, 1872.0, 0.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 3.0, 1978.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 4.0, 3.0, 2649.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 6.0, 3.0, 2777.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 1.0, 1579.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(623000.0, 3.0, 2.0, 1442.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 3121.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 4.0, 2.0, 2112.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1749000.0, 1.0, 2.0, 1404.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189000.0, 3.0, 2.0, 1438.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229000.0, 2.0, 1.0, 790.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599999.0, 5.0, 3.0, 4019.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(455000.0, 2.0, 2.0, 1292.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249500.0, 5.0, 2.0, 2500.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(110000.0, 3.0, 2.0, 1122.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 2.0, 2.0, 1293.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389999.0, 4.0, 2.0, 1071.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 4.0, 1.0, 2442.0, 4.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 3.0, 2.0, 1056.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 4.0, 3.0, 2430.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 4.0, 4.0, 3799.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(190000.0, 4.0, 1.0, 1856.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 2.0, 1961.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 5.0, 3.0, 2180.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 6.0, 2.0, 4050.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1149000.0, 5.0, 4.0, 2978.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 4.0, 2.0, 1960.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1494.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 3.0, 3.0, 1632.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 4.0, 2.0, 1925.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 2.0, 2.0, 1640.0, 12.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619900.0, 2.0, 1.0, 1138.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 4.0, 2532.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(590000.0, 3.0, 3.0, 2450.0, 7.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(283900.0, 3.0, 2.0, 1155.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359500.0, 3.0, 3.0, 2274.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(235000.0, 4.0, 2.0, 1179.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 3.0, 3.0, 1416.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 3.0, 1.0, 1548.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(694000.0, 4.0, 3.0, 2472.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 3.0, 3362.0, 21.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 2.0, 1.0, 720.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 3.0, 4.0, 5500.0, 5.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1380000.0, 4.0, 3.0, 3000.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 1.0, 825.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(595000.0, 5.0, 3.0, 1648.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2900000.0, 5.0, 5.0, 3531.0, 2.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 2.0, 1.0, 1054.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3795000.0, 6.0, 5.0, 4688.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 2.0, 1212.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 2464.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 5.0, 2.0, 2688.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(524900.0, 2.0, 2.0, 1532.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1695000.0, 4.0, 4.0, 4395.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1672.0, 5.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519900.0, 3.0, 2.0, 1500.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 4.0, 3.0, 2874.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 5.0, 4715.0, 1.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 2.0, 2.0, 1540.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 4.0, 2.0, 2529.0, 9.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 4.0, 2.0, 1418.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 2.0, 1107.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2675000.0, 4.0, 4.0, 3516.0, 35.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 4.0, 3.0, 2908.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 2.0, 2.0, 920.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 4.0, 3.0, 2709.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 7.0, 4.0, 2616.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 968.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 4.0, 3.0, 1656.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 1664.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(700000.0, 4.0, 2.0, 2336.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 4.0, 2.0, 1400.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 1.0, 1488.0, 2.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2575000.0, 5.0, 5.0, 3816.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 4.0, 3.0, 2700.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 2.0, 2.0, 924.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1592.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 6.0, 3.0, 3563.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 7.0, 3.0, 4488.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2495000.0, 3.0, 4.0, 3790.0, 26.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 3.0, 2.0, 1752.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 3.0, 1.0, 1056.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529000.0, 4.0, 3.0, 2400.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 3.0, 3.0, 2440.0, 1.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3879.0, 0.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 1.0, 1.0, 476.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 3.0, 3400.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 3251.0, 1.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 2.0, 1.0, 893.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 984.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1246.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1629000.0, 8.0, 5.0, 4952.0, 2.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 5.0, 3.0, 2681.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 3.0, 2.0, 1267.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 2.0, 2219.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 1.0, 1.0, 574.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 4.0, 3.0, 3763.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 2.0, 1120.0, 3.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 1.0, 1351.0, 1.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 4.0, 2.0, 1584.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 1.0, 1056.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1497.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(240000.0, 3.0, 2.0, 1682.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 3.0, 1570.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(830000.0, 3.0, 5.0, 5944.0, 41.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 5.0, 2.0, 1605.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 4.0, 2.0, 1629.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 2.0, 1.0, 792.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1276.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 2.0, 3.0, 2140.0, 85.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 3.0, 3.0, 1944.0, 2.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 3.0, 1.0, 1144.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 4.0, 3381.0, 3.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 1.0, 960.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 3.0, 2.0, 1416.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 4.0, 2.0, 1525.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 1701.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 4.0, 8.0, 14240.0, 12.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 4.0, 3.0, 1425.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 4.0, 2.0, 2871.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 6.0, 3.0, 1859.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1900.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 3.0, 3.0, 2400.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4995000.0, 6.0, 11.0, 13946.0, 2.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 3.0, 2.0, 986.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(242900.0, 3.0, 2.0, 1666.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 1.0, 800.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3275.0, 1.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1419.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(824900.0, 4.0, 2.0, 2382.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 3.0, 3.0, 2100.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 3.0, 2102.0, 0.78)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 3.0, 1550.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759000.0, 2.0, 3.0, 2484.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 2.0, 2.0, 811.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 952.0, 5.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 1855.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 2.0, 1.0, 792.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(135000.0, 3.0, 2.0, 1144.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674900.0, 4.0, 3.0, 2070.0, 1.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 2.0, 3.0, 1229.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 3.0, 2112.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 2.0, 1312.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279999.0, 3.0, 1.0, 1719.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 3.0, 2358.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 1.0, 960.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 6.0, 3.0, 3057.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1756.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1568.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 4.0, 3753.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 3.0, 4.0, 1320.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1280.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 2.0, 2.0, 1736.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 1706.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 6.0, 3.0, 4005.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2195000.0, 5.0, 4.0, 3329.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 3.0, 1.0, 1006.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 3.0, 1.0, 1128.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 6.0, 2.0, 3522.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1779.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 1.0, 1144.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 2.0, 1.0, 1370.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(214900.0, 3.0, 2.0, 1320.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 2.0, 1.0, 990.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 3.0, 2.0, 1306.0, 4.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 3.0, 2.0, 1262.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 6.0, 2.0, 2089.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399999.0, 2.0, 1.0, 1072.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 4.0, 2.0, 1468.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 3.0, 2.0, 1422.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(191000.0, 2.0, 1.0, 906.0, 1.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4649000.0, 4.0, 5.0, 3919.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(729900.0, 4.0, 5.0, 3992.0, 2.03)

(869000.0, 4.0, 3.0, 2379.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1449000.0, 4.0, 4.0, 3310.0, 1.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 2.0, 1556.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2399000.0, 4.0, 4.0, 3499.0, 1.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324500.0, 3.0, 2.0, 1660.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3200000.0, 4.0, 5.0, 5158.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 4.0, 2.0, 1870.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 3.0, 2393.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(639999.0, 3.0, 2.0, 2000.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 3.0, 4.0, 1656.0, 1.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 2.0, 1.0, 1049.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 3.0, 2.0, 982.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 3.0, 1.0, 1062.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409000.0, 4.0, 3.0, 2304.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849500.0, 5.0, 5.0, 3758.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 4.0, 3.0, 2364.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 2.0, 1430.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 4.0, 3.0, 2250.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679900.0, 3.0, 2.0, 2070.0, 0.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139000.0, 3.0, 2.0, 1644.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 2857.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 3.0, 1.0, 1336.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1768.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 4.0, 3.0, 2268.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1050000.0, 3.0, 3.0, 2722.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 8.0, 1.0, 3779.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1290000.0, 5.0, 5.0, 4476.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 5.0, 4.0, 3657.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 1108.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 2730.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(394999.0, 3.0, 2.0, 1243.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 4.0, 1.0, 2120.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 4.0, 2.0, 1536.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3949000.0, 5.0, 6.0, 5888.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1400000.0, 5.0, 4.0, 4811.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(344900.0, 3.0, 3.0, 1800.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 3.0, 3.0, 1920.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 2.0, 2.0, 816.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 4.0, 2.0, 1475.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 4.0, 2.0, 1828.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 8.0, 3.0, 4991.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 2.0, 1440.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1875000.0, 4.0, 5.0, 4593.0, 14.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 4.0, 2.0, 1644.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 4.0, 3040.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789888.0, 6.0, 2.0, 2152.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 10.0, 4.0, 6798.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 2652.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264800.0, 2.0, 2.0, 1396.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(555000.0, 3.0, 2.0, 1500.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 3.0, 2.0, 1638.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 4.0, 3100.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 2484.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1170.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 2.0, 1300.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 2.0, 1.0, 788.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 5.0, 2076.0, 16.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 5.0, 4.0, 3150.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3250000.0, 3.0, 3.0, 1882.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 3.0, 1.0, 1303.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 2714.0, 1.72)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(405000.0, 6.0, 2.0, 1827.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 3.0, 1689.0, 2.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1280000.0, 3.0, 4.0, 3870.0, 17.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319999.0, 3.0, 2.0, 1672.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 2.0, 2.0, 1197.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179000.0, 2.0, 1.0, 875.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 6.0, 3.0, 6348.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 1.0, 960.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(724900.0, 3.0, 2.0, 2406.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 2.0, 1.0, 984.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 3.0, 2076.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(197500.0, 3.0, 2.0, 1872.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 1.0, 1.0, 451.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 3.0, 2.0, 1303.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(544900.0, 3.0, 3.0, 2572.0, 5.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224000.0, 3.0, 1.0, 1260.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 2.0, 2.0, 1488.0, 98.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(645000.0, 3.0, 3.0, 1940.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1700000.0, 4.0, 5.0, 4178.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 1.0, 1.0, 590.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 3.0, 1609.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1056.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 2.0, 2307.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 3.0, 2.0, 1216.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(568900.0, 3.0, 2.0, 1568.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 3.0, 1808.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 6.0, 2.0, 4671.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 3.0, 1.0, 1458.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(470000.0, 3.0, 1.0, 1172.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 8.0, 4.0, 3344.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 1.0, 988.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 2.0, 2.0, 1069.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 1.0, 1.0, 617.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 3.0, 2.0, 1449.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1008.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 3.0, 2.0, 1958.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 1766.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789900.0, 5.0, 4.0, 5000.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(759900.0, 4.0, 3.0, 2886.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 2.0, 1.0, 1120.0, 1.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 5.0, 3.0, 2354.0, 1.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309974.0, 2.0, 1.0, 824.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3995000.0, 5.0, 4.0, 3300.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 3.0, 1722.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374990.0, 3.0, 3.0, 2408.0, 1.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1899000.0, 4.0, 3.0, 2584.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 3.0, 2484.0, 5.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(530000.0, 2.0, 1.0, 1690.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349000.0, 4.0, 2.0, 1923.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 3.0, 2229.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 4.0, 3.0, 2028.0, 2.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 4.0, 3.0, 2182.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 3.0, 2.0, 986.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(345000.0, 6.0, 4.0, 2060.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 2.0, 1175.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 5.0, 7.0, 5148.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 2.0, 3796.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 1.0, 1096.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 1.0, 1593.0, 2.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(420000.0, 3.0, 1.0, 852.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 3.0, 2356.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(674900.0, 3.0, 2.0, 1746.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1495000.0, 3.0, 3.0, 3228.0, 24.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 2.0, 1324.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 4.0, 3.0, 2776.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 4.0, 3.0, 2438.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219999.0, 2.0, 1.0, 1030.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(447000.0, 3.0, 3.0, 1943.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 2.0, 1521.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 5.0, 2.0, 988.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 4.0, 2272.0, 0.89)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1872.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1728.0, 3.77)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1300.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 3.0, 3.0, 1664.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 2.0, 2163.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 3.0, 2457.0, 2.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 5.0, 4.0, 2536.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 3.0, 1.0, 1260.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1728.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 5.0, 3.0, 2788.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 2.0, 2686.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1397000.0, 4.0, 4.0, 5207.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 2.0, 1824.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1300.0, 1.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5750000.0, 6.0, 7.0, 8000.0, 2.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(939000.0, 3.0, 3.0, 2342.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 2.0, 1872.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 8.0, 8.0, 4951.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 2.0, 1.0, 980.0, 25.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899800.0, 3.0, 3.0, 3808.0, 2.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 1672.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(320000.0, 3.0, 2.0, 1032.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 4.0, 3700.0, 1.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779900.0, 3.0, 3.0, 2356.0, 1.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(257500.0, 3.0, 1.0, 1051.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 3.0, 2.0, 1472.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 2.0, 1.0, 862.0, 126.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 4.0, 3.0, 2603.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1711.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189000.0, 3.0, 1.0, 1268.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 1.0, 1248.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1256.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 2.0, 1142.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 4.0, 2.0, 2650.0, 3.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 1591.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(630000.0, 4.0, 2.0, 1221.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 5.0, 2.0, 1587.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 3.0, 2.0, 1008.0, 1.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 5.0, 3.0, 1428.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 2943.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 4.0, 2.0, 1655.0, 0.17)

(2550000.0, 6.0, 4.0, 3025.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 2.0, 1.0, 816.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1725000.0, 3.0, 3.0, 1564.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1665000.0, 4.0, 4.0, 2412.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1699900.0, 4.0, 4.0, 3900.0, 1.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(629900.0, 3.0, 2.0, 1350.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 6.0, 2.0, 1808.0, 1.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(760000.0, 4.0, 3.0, 2716.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244000.0, 3.0, 1.0, 1231.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 2.0, 1.0, 1175.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 7.0, 7.0, 7180.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 2.0, 2.0, 1824.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1865.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619000.0, 4.0, 2.0, 1568.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 1.0, 1580.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 2.0, 2038.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 4.0, 1846.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 2.0, 2508.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479000.0, 3.0, 2.0, 1404.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 5.0, 2.0, 1892.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 4.0, 3.0, 2532.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 6.0, 3.0, 3619.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 2.0, 1.0, 1128.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(944900.0, 5.0, 2.0, 2550.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1730.0, 3.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 3.0, 3.0, 2920.0, 3.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 3.0, 2.0, 1272.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 1.0, 1040.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 3.0, 2.0, 988.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1428.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 2.0, 2038.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 2.0, 2.0, 1615.0, 6.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(386000.0, 4.0, 2.0, 2032.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(509000.0, 6.0, 2.0, 2301.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 2.0, 2018.0, 1.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 4.0, 2.0, 1028.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 5.0, 3004.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2192.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(187500.0, 2.0, 1.0, 1232.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2150000.0, 3.0, 3.0, 3788.0, 108.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1896.0, 2.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1421.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 3.0, 1368.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 7.0, 3.0, 2800.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119000.0, 1.0, 1.0, 640.0, 7.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 6.0, 2.0, 2232.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 3.0, 1.0, 998.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 5.0, 4.0, 3191.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(220000.0, 3.0, 1.0, 1092.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1144.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244900.0, 3.0, 1.0, 912.0, 0.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 2.0, 1.0, 1016.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 4.0, 4.0, 4243.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 4.0, 3.0, 2462.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 4.0, 4.0, 2784.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1495000.0, 5.0, 4.0, 3830.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165000.0, 4.0, 1.0, 1152.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 9.0, 3.0, 3882.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(383000.0, 2.0, 1.0, 866.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1912.0, 1.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219000.0, 3.0, 2.0, 1376.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274865.0, 3.0, 2.0, 1151.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 4.0, 3.0, 3404.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1202.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 6.0, 2.0, 2718.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 5.0, 4.0, 2971.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379000.0, 3.0, 2.0, 1762.0, 0.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 4.0, 3.0, 1920.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 8.0, 7.0, 9516.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3800000.0, 5.0, 6.0, 2350.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 1.0, 935.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(775000.0, 4.0, 3.0, 3107.0, 3.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 5.0, 3.0, 2672.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 6.0, 3.0, 5386.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1595000.0, 4.0, 3.0, 2926.0, 0.8)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 3.0, 2.0, 1794.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(100000.0, 3.0, 2.0, 1820.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 5.0, 2.0, 2074.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 1.0, 1213.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 4.0, 3.0, 2888.0, 1.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 5.0, 2.0, 2328.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(393000.0, 3.0, 2.0, 1201.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1531.0, 6.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 2.0, 1008.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 4.0, 4.0, 3127.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(245000.0, 4.0, 2.0, 1536.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229999.0, 4.0, 2.0, 915.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(410000.0, 3.0, 2.0, 1038.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 4.0, 3.0, 1916.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(580000.0, 3.0, 2.0, 1976.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(180000.0, 3.0, 2.0, 1148.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 3.0, 1938.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589777.0, 4.0, 4.0, 3019.0, 10.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1250.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 3.0, 3.0, 1875.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 1402.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 5.0, 5.0, 2952.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354900.0, 4.0, 2.0, 1584.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 3.0, 3170.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 3.0, 1500.0, 1.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(80000.0, 4.0, 3.0, 2367.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649999.0, 4.0, 2.0, 3529.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(585000.0, 3.0, 3.0, 1392.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359999.0, 5.0, 4.0, 2132.0, 0.73)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1638.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 1.0, 1016.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2050000.0, 4.0, 3.0, 3996.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1226000.0, 4.0, 4.0, 4076.0, 2.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 9.0, 3.0, 4235.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 4.0, 2.0, 1482.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 3.0, 2.0, 1654.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(679000.0, 1.0, 2.0, 1286.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2295000.0, 5.0, 5.0, 2605.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 4.0, 3.0, 2488.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(624900.0, 3.0, 3.0, 2031.0, 1.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 3.0, 1782.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 3.0, 2.0, 1200.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(519000.0, 3.0, 2.0, 1775.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 3.0, 4.0, 2563.0, 0.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1444.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 1721.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 4.0, 2.0, 1420.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1849900.0, 4.0, 3.0, 2800.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 3.0, 2.0, 1650.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1330.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 5.0, 3.0, 2721.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(655000.0, 7.0, 3.0, 2237.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1995000.0, 3.0, 2.0, 1645.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 2.0, 1.0, 720.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 5.0, 3.0, 3480.0, 1.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(778800.0, 4.0, 2.0, 1979.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 5.0, 4.0, 3622.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 5.0, 2.0, 2136.0, 1.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 3.0, 3.0, 3000.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 7.0, 4.0, 4390.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 3.0, 2283.0, 4.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689000.0, 5.0, 2.0, 3364.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 5.0, 2.0, 1872.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 4.0, 3.0, 1925.0, 2.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 5.0, 2.0, 3816.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 1199.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 4.0, 4.0, 2520.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359000.0, 6.0, 3.0, 3852.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179950.0, 3.0, 1.0, 988.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(180200.0, 2.0, 1.0, 816.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(619000.0, 3.0, 3.0, 1560.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1899999.0, 4.0, 4.0, 5050.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 3.0, 3126.0, 10.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 4.0, 4.0, 2492.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1800000.0, 4.0, 5.0, 6300.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 3.0, 1750.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 4.0, 3722.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299413.0, 3.0, 2.0, 1424.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 3.0, 2.0, 1312.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 3.0, 2893.0, 1.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 2.0, 1.0, 768.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1237542.0, 4.0, 3.0, 3063.0, 100.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 4.0, 2.0, 2147.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779900.0, 4.0, 3.0, 3526.0, 3.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 6.0, 2.0, 6240.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 5.0, 2.0, 2230.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 2.0, 1168.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(364000.0, 6.0, 3.0, 3244.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 4.0, 2.0, 2346.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2399000.0, 5.0, 5.0, 5353.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(520000.0, 3.0, 2.0, 2007.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1696.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1590000.0, 5.0, 7.0, 6053.0, 2.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(614900.0, 4.0, 3.0, 2696.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 2.0, 1.0, 1198.0, 1.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529000.0, 3.0, 2.0, 1476.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5900000.0, 8.0, 13.0, 12016.0, 29.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(126000.0, 3.0, 1.0, 1520.0, 2.8)

(1198000.0, 3.0, 3.0, 3914.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1612.0, 1.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 2.0, 2664.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(8000000.0, 7.0, 11.0, 10600.0, 74.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 3.0, 2.0, 1615.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 5.0, 6.0, 3382.0, 3.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 5.0, 6.0, 3848.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 3.0, 3.0, 2600.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(495000.0, 3.0, 1.0, 1248.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424000.0, 3.0, 3.0, 1400.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1270.0, 2.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 1200.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119900.0, 2.0, 1.0, 1045.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1410.0, 4.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 4.0, 3.0, 4520.0, 1.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2195000.0, 19.0, 19.0, 10932.0, 12.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 4.0, 3.0, 1900.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 2080.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 5.0, 4.0, 2724.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 3.0, 2.0, 1496.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1206.0, 2.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1125000.0, 3.0, 2.0, 2090.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 2295.0, 1.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 5.0, 3.0, 1958.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 2.0, 2.0, 1779.0, 6.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 3.0, 2.0, 1940.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 1.0, 1.0, 757.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 5.0, 2.0, 2262.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219000.0, 4.0, 3.0, 1286.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(224900.0, 2.0, 1.0, 1034.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(236000.0, 4.0, 2.0, 1767.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 2.0, 1248.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 1.0, 1134.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 2.0, 2.0, 988.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(560000.0, 3.0, 3.0, 2026.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 2.0, 2410.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 1.0, 1968.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(979000.0, 5.0, 4.0, 3082.0, 1.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 4.0, 1825.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1998.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 2.0, 2.0, 896.0, 2.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 3.0, 2.0, 1344.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 4.0, 2.0, 1609.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 4.0, 2514.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(729000.0, 3.0, 3.0, 1784.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(260000.0, 3.0, 2.0, 1812.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 2.0, 1.0, 714.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(394900.0, 4.0, 3.0, 2016.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 4.0, 2.0, 2897.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 2073.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 2.0, 1.0, 844.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 1.0, 998.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 5.0, 2917.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 3.0, 1683.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 2.0, 1191.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2225000.0, 4.0, 6.0, 4339.0, 1.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 2.0, 2.0, 1550.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3200000.0, 5.0, 9.0, 14600.0, 4.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 3.0, 3.0, 4342.0, 14.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4299000.0, 4.0, 5.0, 4200.0, 1.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 1.0, 1580.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 6.0, 2.0, 2450.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(760000.0, 4.0, 3.0, 4292.0, 3.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 3.0, 3.0, 1894.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 1.0, 1424.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1328.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390900.0, 3.0, 2.0, 1349.0, 2.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1490000.0, 2.0, 2.0, 1052.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(166259.0, 6.0, 2.0, 2676.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 3.0, 4.0, 1286.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 3.0, 1.0, 1019.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 4.0, 2.0, 3431.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(640000.0, 4.0, 3.0, 2800.0, 6.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 2.0, 1.0, 1075.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 2.0, 1120.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 2.0, 1000.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 4.0, 2.0, 1710.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 2.0, 2.0, 1852.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 4.0, 1.0, 1350.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(555500.0, 6.0, 4.0, 5327.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1542.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(308512.0, 4.0, 2.0, 2686.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(524900.0, 8.0, 4.0, 3678.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(473000.0, 2.0, 2.0, 1332.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 4.0, 2.0, 1596.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 4.0, 2.0, 1700.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 4.0, 2.0, 2606.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1375000.0, 4.0, 3.0, 2847.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 5.0, 2.0, 2360.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 6.0, 2.0, 5065.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 6.0, 5.0, 4048.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 2.0, 1768.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 6.0, 3.0, 2508.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 2.0, 1734.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5950000.0, 9.0, 6.0, 2881.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479999.0, 3.0, 2.0, 1212.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1300.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(785000.0, 5.0, 4.0, 3196.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 4.0, 2.0, 1556.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 2.0, 920.0, 0.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 4.0, 3.0, 2260.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 2.0, 1056.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3999900.0, 5.0, 7.0, 7445.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4999999.0, 5.0, 4.0, 3737.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 1.0, 1.0, 640.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 3.0, 2.0, 990.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1864.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 4.0, 3.0, 2380.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 4.0, 2820.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 2.0, 1342.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 4.0, 2.0, 1673.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 3.0, 1.0, 1063.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2800000.0, 5.0, 4.0, 3479.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139999.0, 2.0, 1.0, 1092.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 3.0, 1646.0, 1.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 5.0, 3.0, 3983.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789900.0, 6.0, 7.0, 4100.0, 1.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1295000.0, 4.0, 3.0, 2548.0, 5.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 5.0, 4.0, 2363.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 3.0, 2.0, 912.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(444000.0, 3.0, 2.0, 2440.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459000.0, 7.0, 2.0, 4832.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1399999.0, 4.0, 4.0, 5100.0, 6.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2950000.0, 5.0, 2.0, 2455.0, 7.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659000.0, 5.0, 5.0, 2300.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 2.0, 1.0, 826.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 5.0, 3974.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849900.0, 3.0, 3.0, 2189.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(292500.0, 2.0, 2.0, 1397.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119900.0, 3.0, 2.0, 1423.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(392000.0, 5.0, 3.0, 2214.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1809.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3200000.0, 4.0, 6.0, 7289.0, 34.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589900.0, 5.0, 6.0, 2832.0, 1.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(360000.0, 3.0, 1.0, 1577.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 2.0, 2182.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(839000.0, 3.0, 1.0, 864.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1499000.0, 3.0, 4.0, 2764.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1444.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2750000.0, 6.0, 6.0, 5224.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539900.0, 3.0, 2.0, 1080.0, 0.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 3.0, 2.0, 1436.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 4.0, 2.0, 1576.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 2.0, 1.0, 594.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1245000.0, 3.0, 3.0, 2168.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(165500.0, 2.0, 1.0, 1140.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(312000.0, 3.0, 2.0, 1274.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 4.0, 2.0, 1008.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(503000.0, 6.0, 2.0, 4333.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(659999.0, 4.0, 3.0, 2872.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 3.0, 4.0, 2600.0, 8.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(161000.0, 2.0, 1.0, 857.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(869000.0, 3.0, 2.0, 1980.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3399000.0, 5.0, 6.0, 7103.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 5.0, 2.0, 2680.0, 0.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(149900.0, 3.0, 1.0, 1218.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1850000.0, 4.0, 3.0, 3173.0, 13.87)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4288000.0, 6.0, 8.0, 6800.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249000.0, 3.0, 2.0, 1296.0, 0.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 2.0, 1236.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 1.0, 1004.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(919900.0, 4.0, 3.0, 3068.0, 13.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 2.0, 3.0, 1872.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(690000.0, 3.0, 2.0, 1802.0, 0.71)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(719900.0, 4.0, 2.0, 2159.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 3.0, 1.0, 906.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(284900.0, 4.0, 2.0, 1762.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1750.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)

(399900.0, 2.0, 3.0, 1591.0, 1.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(544900.0, 3.0, 2.0, 1626.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 2.0, 2.0, 3990.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 2.0, 1.0, 1008.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 1.0, 1236.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(18500000.0, 8.0, 12.0, 10027.0, 6.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3495000.0, 7.0, 4.0, 3908.0, 36.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(445000.0, 5.0, 2.0, 1894.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 4.0, 1680.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2600000.0, 5.0, 6.0, 8795.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 2.0, 2515.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(145000.0, 5.0, 2.0, 2094.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 3.0, 2796.0, 1.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 4.0, 3.0, 3000.0, 2.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 3703.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 1647.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(11900000.0, 6.0, 6.0, 4000.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 3.0, 2.0, 1558.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 4.0, 5.0, 4363.0, 3.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 5.0, 2.0, 2236.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1545000.0, 5.0, 4.0, 4648.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949000.0, 4.0, 4.0, 3000.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(509900.0, 4.0, 1.0, 1205.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(234900.0, 3.0, 2.0, 1587.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1248.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(579900.0, 1.0, 4.0, 9800.0, 4.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 4.0, 3546.0, 2.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 4.0, 3.0, 1400.0, 1.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 4.0, 2.0, 1743.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(895000.0, 1.0, 1.0, 725.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 6.0, 3.0, 3702.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1368.0, 2.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 2161.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(789900.0, 4.0, 2.0, 1638.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1550000.0, 3.0, 3.0, 2942.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 5.0, 4.0, 4279.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1092.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 2030.0, 1.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 3.0, 2318.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 3.0, 2.0, 1443.0, 0.96)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1587.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999999.0, 7.0, 4.0, 3397.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649000.0, 3.0, 3.0, 1876.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315900.0, 2.0, 2.0, 1294.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(9950000.0, 8.0, 7.0, 8224.0, 107.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269850.0, 1.0, 1.0, 623.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 3.0, 2.0, 1616.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(556000.0, 4.0, 3.0, 2626.0, 3.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 2.0, 2.0, 1000.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1395000.0, 4.0, 5.0, 4179.0, 25.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1725000.0, 6.0, 4.0, 3020.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 3.0, 2.0, 1900.0, 2.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 3.0, 1.0, 1234.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 3.0, 1488.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(444999.0, 3.0, 3.0, 1568.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 997.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 1.0, 1473.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1400.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(525000.0, 4.0, 2.0, 2378.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 3.0, 3.0, 1430.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1708.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 2.0, 1800.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 3.0, 1800.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 5.0, 2.0, 1810.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(390000.0, 2.0, 1.0, 960.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 3.0, 3.0, 1912.0, 1.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 8.0, 3.0, 4479.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1534.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329900.0, 3.0, 2.0, 1512.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1595000.0, 4.0, 4.0, 3041.0, 0.93)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449000.0, 3.0, 3.0, 1916.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1692.0, 1.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2750000.0, 7.0, 5.0, 3976.0, 1.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 3.0, 1744.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389900.0, 4.0, 3.0, 2307.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(290000.0, 3.0, 3.0, 1872.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 3.0, 2420.0, 1.94)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 3.0, 1.0, 1500.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(309900.0, 3.0, 2.0, 1508.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1238.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1170.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1667.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(879000.0, 4.0, 3.0, 1904.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(849000.0, 4.0, 2.0, 1594.0, 84.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 1.0, 1.0, 825.0, 5.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(218500.0, 3.0, 2.0, 930.0, 1.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 3.0, 2.0, 2601.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(259900.0, 4.0, 1.0, 1454.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 2.0, 1512.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 9.0, 3.0, 3585.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 3.0, 2.0, 1058.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 2.0, 1244.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 3.0, 3.0, 3921.0, 3.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 2.0, 2.0, 1300.0, 3.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 4.0, 2895.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 2.0, 2597.0, 1.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 1.0, 1.0, 840.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749900.0, 3.0, 3.0, 2024.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 2.0, 2.0, 1194.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(389000.0, 5.0, 2.0, 2304.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999000.0, 3.0, 1.0, 2000.0, 87.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 3.0, 2.0, 1442.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 4.0, 2.0, 4062.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 4.0, 2.0, 1977.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 2076.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(59900.0, 3.0, 2.0, 1248.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 2.0, 1.0, 686.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 2.0, 2.0, 2739.0, 2.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 4.0, 2.0, 2093.0, 2.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(18899000.0, 9.0, 9.0, 12589.0, 18.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 4.0, 3.0, 1860.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 4.0, 2.0, 2102.0, 1.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4499000.0, 5.0, 6.0, 6119.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 2.0, 1674.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 2.0, 1.0, 840.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 1.0, 1220.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(119000.0, 2.0, 1.0, 796.0, 2.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 1.0, 1172.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294999.0, 4.0, 2.0, 1575.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1194.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239000.0, 2.0, 1.0, 1024.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(434900.0, 3.0, 1.0, 1218.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 6.0, 2.0, 2399.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(365000.0, 4.0, 2.0, 1662.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289000.0, 8.0, 2.0, 2332.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749999.0, 4.0, 3.0, 3590.0, 1.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(485000.0, 3.0, 2.0, 2004.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(468000.0, 1.0, 1.0, 700.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 2.0, 2134.0, 2.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 3.0, 1.0, 1242.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 4.0, 3.0, 1911.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439000.0, 3.0, 3.0, 2455.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(342900.0, 1.0, 1.0, 674.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 3.0, 1440.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(5495000.0, 5.0, 5.0, 5098.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 3.0, 2592.0, 1.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 2.0, 3.0, 2350.0, 1.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(785000.0, 3.0, 4.0, 1753.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 2.0, 1974.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169999.0, 2.0, 1.0, 802.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(17500000.0, 6.0, 9.0, 9443.0, 47.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 2.0, 1.0, 1040.0, 0.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3750000.0, 5.0, 8.0, 8382.0, 4.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(139900.0, 2.0, 1.0, 944.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(315000.0, 3.0, 2.0, 1818.0, 2.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(244000.0, 2.0, 2.0, 1016.0, 1.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(850000.0, 10.0, 4.0, 5588.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369000.0, 4.0, 3.0, 3263.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1992.0, 1.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 3.0, 2.0, 1922.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 3.0, 1.0, 1236.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(489000.0, 3.0, 2.0, 1456.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 1.0, 808.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4995000.0, 4.0, 4.0, 4351.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 4.0, 3.0, 1644.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 3.0, 2600.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 2.0, 1925.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(415000.0, 3.0, 3.0, 2388.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 3.0, 2262.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1029.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 5.0, 3.0, 1850.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 5.0, 2.0, 1495.0, 1.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 1.0, 1228.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4200000.0, 4.0, 4.0, 2446.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 4.0, 4776.0, 1.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1216.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(680000.0, 3.0, 2.0, 1946.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(294900.0, 3.0, 2.0, 1414.0, 1.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 4.0, 2.0, 2646.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(255000.0, 4.0, 1.0, 864.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 5.0, 4.0, 3120.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(990000.0, 3.0, 3.0, 2465.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 3.0, 3.0, 2619.0, 0.4)

(285000.0, 4.0, 4.0, 2166.0, 4.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(110000.0, 2.0, 1.0, 800.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2795000.0, 3.0, 3.0, 1941.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 4.0, 2.0, 3316.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(574900.0, 4.0, 3.0, 2062.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 2.0, 1014.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379999.0, 3.0, 2.0, 1700.0, 0.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(85000.0, 2.0, 1.0, 783.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1200000.0, 4.0, 3.0, 2160.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 2.0, 2.0, 2204.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409000.0, 3.0, 2.0, 1792.0, 1.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 5.0, 1.0, 1948.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(153000.0, 4.0, 2.0, 1223.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(550000.0, 2.0, 2.0, 1512.0, 0.51)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1350000.0, 2.0, 2.0, 1008.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 4.0, 2.0, 2368.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 3.0, 2.0, 1911.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(839000.0, 4.0, 4.0, 3323.0, 0.9)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 3.0, 2340.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1695000.0, 3.0, 3.0, 2040.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1800000.0, 4.0, 3.0, 3623.0, 0.64)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 3.0, 2.0, 2003.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 5.0, 3.0, 2655.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(99000.0, 2.0, 1.0, 663.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4495000.0, 7.0, 8.0, 6383.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(230000.0, 3.0, 1.0, 856.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699999.0, 6.0, 6.0, 3674.0, 1.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(250000.0, 6.0, 2.0, 2552.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 2.0, 2.0, 1024.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899000.0, 4.0, 4.0, 2867.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(340000.0, 3.0, 2.0, 1100.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 2152.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 2.0, 1.0, 750.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 6.0, 3.0, 3863.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 5.0, 4.0, 3071.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 3.0, 1270.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(229900.0, 3.0, 2.0, 1064.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(369900.0, 3.0, 1.0, 1040.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 952.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 3.0, 1540.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(89000.0, 2.0, 1.0, 963.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(354999.0, 3.0, 3.0, 1650.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 2.0, 1.0, 1000.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 4.0, 3.0, 2343.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(385000.0, 3.0, 1.0, 960.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 5.0, 2.0, 1560.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(770000.0, 4.0, 2.0, 1424.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 1.0, 1152.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(274900.0, 3.0, 2.0, 1320.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219900.0, 3.0, 1.0, 1085.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 4.0, 3.0, 3476.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 3.0, 2.0, 1152.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 3.0, 3.0, 1792.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 1.0, 1056.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(684000.0, 3.0, 2.0, 2818.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1268.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339000.0, 3.0, 3.0, 2872.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 3.0, 1348.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 6.0, 3.0, 3098.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 3.0, 1348.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 1.0, 1105.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 1.0, 1.0, 585.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 2.0, 1470.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 3.0, 3.0, 2621.0, 3.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 3.0, 3.0, 2210.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(819900.0, 5.0, 2.0, 2131.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 5.0, 4.0, 3050.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1308.0, 0.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(450000.0, 2.0, 3.0, 1260.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189000.0, 2.0, 1.0, 720.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 5.0, 4.0, 2817.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 3.0, 2.0, 1300.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 3.0, 3.0, 2353.0, 2.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 4.0, 3.0, 2670.0, 3.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 2.0, 672.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 6.0, 2.0, 1963.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(209900.0, 3.0, 1.0, 884.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 4.0, 2.0, 1872.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 3.0, 1.0, 1080.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 2.0, 1.0, 930.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2400000.0, 4.0, 4.0, 2225.0, 10.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 3.0, 1.0, 1560.0, 127.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164900.0, 3.0, 1.0, 1845.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 1.0, 4.0, 2820.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 3.0, 1.0, 799.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 1280.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(439900.0, 4.0, 3.0, 1756.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 2.0, 1.0, 1348.0, 0.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 11.0, 5.0, 4650.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(695000.0, 3.0, 2.0, 1546.0, 0.91)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(295000.0, 3.0, 2.0, 1456.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(545500.0, 4.0, 3.0, 2289.0, 0.99)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 1.0, 1.0, 936.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529900.0, 10.0, 4.0, 4680.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(435000.0, 3.0, 2.0, 2504.0, 5.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 3.0, 2.0, 1286.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 2.0, 1320.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 2.0, 1804.0, 1.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 1574.0, 0.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(598000.0, 3.0, 2.0, 1535.0, 0.53)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(558000.0, 3.0, 2.0, 1458.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 4.0, 5.0, 5991.0, 2.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(975000.0, 3.0, 4.0, 2074.0, 3.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 6.0, 5.0, 4660.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(99000.0, 2.0, 1.0, 1032.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 3.0, 1.0, 1008.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(965000.0, 4.0, 4.0, 2790.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419000.0, 4.0, 4.0, 3466.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349500.0, 3.0, 2.0, 1788.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(949900.0, 3.0, 3.0, 1930.0, 25.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(694900.0, 2.0, 2.0, 2324.0, 3.58)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(780000.0, 4.0, 4.0, 2652.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1716.0, 1.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 3.0, 3.0, 2679.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2100000.0, 3.0, 3.0, 2900.0, 5.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999900.0, 5.0, 6.0, 6900.0, 8.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549000.0, 3.0, 1.0, 1554.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(179900.0, 3.0, 2.0, 1200.0, 0.95)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599000.0, 3.0, 2.0, 3060.0, 2.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(925000.0, 4.0, 4.0, 2178.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 3.0, 3.0, 1978.0, 1.03)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(824900.0, 4.0, 2.0, 1868.0, 0.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 4.0, 3.0, 3270.0, 1.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(225000.0, 2.0, 2.0, 912.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(374900.0, 3.0, 2.0, 1544.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 2.0, 2.0, 1297.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 5.0, 4.0, 3713.0, 2.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(448999.0, 4.0, 2.0, 2016.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 3.0, 3.0, 2719.0, 0.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569000.0, 3.0, 2.0, 1528.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799000.0, 4.0, 3.0, 2090.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(264900.0, 4.0, 2.0, 2192.0, 1.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(150000.0, 3.0, 2.0, 1627.0, 1.57)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429000.0, 5.0, 3.0, 2288.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 6.0, 2.0, 3240.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 6.0, 3.0, 3327.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319000.0, 2.0, 1.0, 992.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(344900.0, 3.0, 2.0, 1248.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(725000.0, 2.0, 2.0, 1345.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2500000.0, 3.0, 2.0, 1650.0, 4.66)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 4.0, 4.0, 3293.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219638.0, 2.0, 2.0, 1378.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 3.0, 2.0, 1456.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(539000.0, 3.0, 2.0, 2900.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239999.0, 4.0, 2.0, 1690.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3800000.0, 4.0, 5.0, 4360.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(329000.0, 3.0, 1.0, 1070.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3779000.0, 3.0, 4.0, 3721.0, 16.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(419900.0, 3.0, 2.0, 1300.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(977777.0, 5.0, 5.0, 7400.0, 18.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(164000.0, 3.0, 1.0, 1040.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189900.0, 3.0, 1.0, 1332.0, 0.85)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(368000.0, 3.0, 2.0, 2080.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 2.0, 1389.0, 1.61)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(189000.0, 4.0, 2.0, 1922.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(200000.0, 3.0, 1.0, 1750.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 5.0, 3.0, 1782.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(219995.0, 3.0, 1.0, 956.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(529000.0, 3.0, 2.0, 1634.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1500000.0, 6.0, 7.0, 6250.0, 4.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 2.0, 1352.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 1.0, 1.0, 460.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3695000.0, 5.0, 10.0, 8000.0, 26.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1388.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(324900.0, 4.0, 3.0, 2015.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(215000.0, 2.0, 1.0, 609.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2495000.0, 2.0, 2.0, 850.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(575000.0, 3.0, 2.0, 1344.0, 1.63)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(749000.0, 1.0, 1.0, 732.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6495000.0, 4.0, 5.0, 5948.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499900.0, 4.0, 3.0, 1950.0, 0.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1099000.0, 4.0, 2.0, 2611.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 4.0, 3.0, 1916.0, 0.92)

(565000.0, 3.0, 2.0, 1466.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 3.0, 1930.0, 0.7)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599999.0, 6.0, 3.0, 2342.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(185000.0, 3.0, 3.0, 1405.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(195000.0, 3.0, 2.0, 1008.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 3.0, 2.0, 1440.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(184900.0, 3.0, 1.0, 1058.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1999900.0, 4.0, 4.0, 3070.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(398000.0, 3.0, 2.0, 1924.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(484999.0, 4.0, 3.0, 2898.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 1.0, 1092.0, 1.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 2.0, 1.0, 1112.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(159900.0, 2.0, 2.0, 1206.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(330000.0, 3.0, 4.0, 1761.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 3.0, 4.0, 3146.0, 3.33)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1016.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1195000.0, 4.0, 4.0, 3763.0, 1.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(375000.0, 4.0, 3.0, 2203.0, 1.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 3.0, 2300.0, 2.68)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 6.0, 4.0, 2688.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(279900.0, 3.0, 1.0, 896.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 1.0, 1056.0, 10.75)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1716.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1449000.0, 9.0, 7.0, 8830.0, 6.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(559900.0, 4.0, 2.0, 1834.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(549900.0, 3.0, 1.0, 2011.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(480000.0, 3.0, 1.0, 1123.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1250000.0, 4.0, 3.0, 3279.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265000.0, 3.0, 3.0, 1326.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(3750000.0, 5.0, 4.0, 4433.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1365000.0, 3.0, 2.0, 1070.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(569900.0, 3.0, 3.0, 2217.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1035000.0, 6.0, 3.0, 2000.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 6.0, 4.0, 2737.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(334900.0, 3.0, 2.0, 1097.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 3.0, 2.0, 998.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 3.0, 1562.0, 1.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(349900.0, 3.0, 1.0, 1123.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(819000.0, 5.0, 3.0, 2160.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 4.0, 5.0, 5169.0, 1.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 4.0, 3.0, 1960.0, 2.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(600000.0, 4.0, 2.0, 3590.0, 1.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 3.0, 2835.0, 0.21)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 5.0, 4.0, 3514.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(310000.0, 6.0, 2.0, 3678.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(269900.0, 3.0, 2.0, 1123.0, 0.07)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(689900.0, 3.0, 2.0, 1702.0, 0.84)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(339900.0, 4.0, 3.0, 1527.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 2.0, 2.0, 1347.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 3.0, 1.0, 1100.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 3.0, 2488.0, 1.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(500000.0, 7.0, 6.0, 4352.0, 1.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1050000.0, 2.0, 1.0, 784.0, 0.39)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 2712.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469900.0, 4.0, 3.0, 2260.0, 0.98)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(535000.0, 1.0, 1.0, 833.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 2.0, 2524.0, 0.15)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 2.0, 1267.0, 0.55)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(995000.0, 3.0, 2.0, 2358.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1299000.0, 2.0, 2.0, 1664.0, 0.04)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(280000.0, 3.0, 2.0, 1448.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 3.0, 1708.0, 0.18)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 3.0, 2.0, 1724.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6195000.0, 4.0, 5.0, 2624.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 4.0, 3.0, 2664.0, 0.62)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(440000.0, 3.0, 4.0, 2016.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 3.0, 2.0, 1482.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425900.0, 3.0, 3.0, 1780.0, 0.88)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(748000.0, 3.0, 2.0, 2669.0, 0.79)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(359900.0, 3.0, 3.0, 2075.0, 1.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 3.0, 2.0, 1779.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 4.0, 5.0, 4701.0, 1.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 12.0, 7.0, 4766.0, 0.24)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(459900.0, 4.0, 1.0, 1800.0, 0.48)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999900.0, 5.0, 4.0, 5503.0, 5.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(440000.0, 4.0, 2.0, 1768.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1711.0, 0.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(424900.0, 3.0, 2.0, 1344.0, 0.42)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1100000.0, 4.0, 4.0, 3726.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 2121.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(300000.0, 4.0, 3.0, 2128.0, 0.49)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(498000.0, 7.0, 4.0, 2484.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 2.0, 1.0, 896.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 6.0, 3.0, 2880.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1425000.0, 8.0, 6.0, 3653.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199000.0, 2.0, 1.0, 1206.0, 0.2)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1749000.0, 3.0, 2.0, 1443.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(474900.0, 4.0, 2.0, 1894.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(709000.0, 6.0, 2.0, 2330.0, 0.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(599900.0, 3.0, 1.0, 1365.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 3.0, 1.0, 1008.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(205000.0, 4.0, 2.0, 1965.0, 0.35)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(999000.0, 3.0, 3.0, 2700.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(429900.0, 3.0, 2.0, 1750.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 3098.0, 4.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(499000.0, 3.0, 2.0, 1440.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(650000.0, 4.0, 3.0, 2200.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(400000.0, 3.0, 3.0, 2332.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(565000.0, 4.0, 3.0, 2073.0, 1.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(285000.0, 4.0, 3.0, 2023.0, 0.41)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1650000.0, 4.0, 3.0, 3847.0, 1.67)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(799900.0, 4.0, 3.0, 2168.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(265600.0, 4.0, 4.0, 1928.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(379900.0, 4.0, 3.0, 2292.0, 0.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 3.0, 2.0, 1416.0, 0.45)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(335000.0, 3.0, 2.0, 1400.0, 0.86)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(175000.0, 4.0, 2.0, 1774.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(625000.0, 3.0, 2.0, 2110.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2099000.0, 6.0, 3.0, 2907.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(370000.0, 3.0, 2.0, 2581.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(380000.0, 4.0, 2.0, 1821.0, 0.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(160000.0, 2.0, 1.0, 735.0, 4.6)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 7.0, 3.0, 5218.0, 0.31)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1450000.0, 3.0, 3.0, 2600.0, 134.4)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(899900.0, 4.0, 3.0, 2800.0, 1.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589000.0, 3.0, 2.0, 1856.0, 0.59)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169000.0, 3.0, 2.0, 1311.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(2995000.0, 2.0, 1.0, 600.0, 0.16)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299900.0, 2.0, 1.0, 1148.0, 0.74)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(15000000.0, 6.0, 6.0, 4706.0, 4.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(825000.0, 4.0, 3.0, 2920.0, 4.0)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675000.0, 3.0, 4.0, 2788.0, 0.56)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(950000.0, 5.0, 6.0, 3390.0, 5.06)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699900.0, 4.0, 4.0, 2424.0, 0.47)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(449900.0, 3.0, 2.0, 1456.0, 0.27)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(475000.0, 4.0, 4.0, 2743.0, 0.65)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 3.0, 2.0, 1084.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(589999.0, 5.0, 3.0, 2299.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(675900.0, 4.0, 3.0, 3000.0, 0.37)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(479900.0, 9.0, 3.0, 6033.0, 0.13)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 1144.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(490000.0, 3.0, 2.0, 2211.0, 1.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(395000.0, 4.0, 3.0, 1784.0, 0.46)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(779900.0, 1.0, 1.0, 768.0, 0.02)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(699000.0, 6.0, 4.0, 3146.0, 0.36)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(314000.0, 3.0, 2.0, 1276.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 3.0, 2.0, 1780.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1150000.0, 3.0, 3.0, 2100.0, 0.92)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(239900.0, 4.0, 1.0, 1200.0, 0.28)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(6899000.0, 4.0, 6.0, 4600.0, 0.83)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(386900.0, 4.0, 3.0, 2338.0, 0.38)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1699000.0, 3.0, 4.0, 4469.0, 0.54)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(169900.0, 2.0, 2.0, 786.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 4.0, 3.0, 3408.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(199900.0, 2.0, 1.0, 1024.0, 0.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409900.0, 5.0, 3.0, 1522.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399000.0, 4.0, 2.0, 2200.0, 3.25)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(649900.0, 3.0, 2.0, 1710.0, 0.01)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1349000.0, 3.0, 2.0, 1700.0, 0.26)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(4650000.0, 6.0, 5.0, 7760.0, 24.14)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(270000.0, 3.0, 3.0, 1436.0, 0.44)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(249900.0, 4.0, 3.0, 1514.0, 0.29)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(319900.0, 6.0, 3.0, 3104.0, 0.17)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(425000.0, 7.0, 3.0, 4141.0, 0.11)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(409990.0, 4.0, 2.0, 2980.0, 0.52)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(325000.0, 2.0, 2.0, 1563.0, 0.43)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(350000.0, 3.0, 2.0, 1613.0, 0.08)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(299000.0, 3.0, 2.0, 1432.0, 0.22)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(275000.0, 5.0, 2.0, 1627.0, 0.05)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 2.0, 1560.0, 0.23)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(875000.0, 2.0, 1.0, 1247.0, 0.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(1199000.0, 4.0, 4.0, 4632.0, 3.5)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(210000.0, 6.0, 2.0, 2112.0, 0.12)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399900.0, 3.0, 1.0, 1020.0, 0.1)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(739900.0, 4.0, 4.0, 3543.0, 4.3)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(289900.0, 3.0, 1.0, 1028.0, 0.09)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(777000.0, 5.0, 4.0, 3325.0, 0.32)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(10999999.0, 6.0, 10.0, 9945.0, 0.81)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(979900.0, 4.0, 3.0, 2428.0, 0.69)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(469000.0, 3.0, 3.0, 1540.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(9000000.0, 3.0, 6.0, 10400.0, 2.34)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(399999.0, 4.0, 2.0, 1678.0, 0.19)
INSERT INTO house(price,bed,bath,house_size,acre_lot) VALUES(%s, %s, %s, %s, %s)
(939900.0, 5.0, 5.0, 5264.0, 0.6)

query = "INSERT INTO house(%s, %s, %s, %s, %s) VALUES({},{},{},{},{})".format(col[0],col[1],col[2],col[3],col[4])

try:
    cur.execute(query)
    conn.commit()

except (Exception, psycopg2.Error) as error :
    print ("Erreur lors de la connexion à PostgreSQL", error)
    conn.rollback()

"""
Using cursor.executemany() to insert the dataframe
"""
tuples = list(set([tuple(x) for x in house_tb_df.to_numpy()]))


cols = ','.join(list(house_tb_df.columns))

query = "INSERT INTO (%s, %s, %s,%s, %s) VALUES(%%s,%%s,%%s,%%s, %%s)" % (
    table, cols)

try:
    cur.execute(query, tuples)
    conn.commit()

except (Exception, psycopg2.DatabaseError) as error:
    print("Error: %s" % error)
    conn.rollback()

In [ ]:
requete=''''''

In [ ]:
 sql = ''' DROP TABLE if exists status cascade;
      CREATE TABLE status (
        nom_status VARCHAR(255) PRIMARY KEY NOT NULL
      );'''

In [ ]:
with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

In [47]:
status_df.values

array(['for_sale', 'for_rent', 'for_rent', ..., 'for_sale', 'for_sale',
       'for_sale'], dtype=object)

In [24]:
status_df.unique

<bound method Series.unique of 0       for_sale
1       for_rent
2       for_rent
3       for_rent
4       for_rent
          ...
6209    for_sale
6210    for_sale
6211    for_sale
6212    for_sale
6213    for_sale
Name: status, Length: 6214, dtype: object>

In [27]:
for x in status_df.values:
    eltst = "INSERT INTO status(nom_status) VALUES(%s)"
    print(eltst)
    with conn.cursor() as cur:
        cur.execute(eltst, x)
        conn.commit()

INSERT INTO status(nom_status) VALUES(%s)

TypeError: not all arguments converted during string formatting

In [ ]:
import mat